<header class="header">
  <div class="header__barra contenedor">
    <div class="header__logo">
      <img src="/assets/img/logotipo.png" alt="Cuack-image">
    </div>
    <nav class="navegacion">
      <a routerLink="/inicio" class="navegacion__link" routerLinkActive="active">Inicio</a>
      <a routerLink="/quienes-somos" class="navegacion__link" routerLinkActive="active">Quiénes somos</a>
      <a routerLink="/nuestros-servicios" class="navegacion__link" routerLinkActive="active">Nuestros servicios</a>
      <a class="navegacion__link--dropdown" (click)="toggleMenu($event)"> </a>
      <div class="navegacion__dropdown-menu" [class.active]="isMenuOpen">
        <a routerLink="/diseno-digital" class="navegacion__dropdown-item">Diseño Digital</a>
        <a routerLink="/servicio2" class="navegacion__dropdown-item">Diseño y Desarrollo Web</a>
        <a routerLink="/servicio3" class="navegacion__dropdown-item">Diseño de Marca</a>
        <a routerLink="/servicio4" class="navegacion__dropdown-item">Comunicación Estratégica</a>
      </div>
      <a routerLink="/portafolio" class="navegacion__link" routerLinkActive="active">Portafolio</a>
      <a routerLink="/blog" class="navegacion__link" routerLinkActive="active">Blog</a>
      <a routerLink="/contacto" class="navegacion__link" routerLinkActive="active">Contáctanos</a>
    </nav>
    <!--Inicio menu Mobile-->
    <div class="header__responsive" *ngIf="screenWidth <768">
      <app-nav-mobile></app-nav-mobile>
    </div>
    <!--Fin menu mobile-->
  </div>
  <div class="header__container contenedor">
    <div class="header__contenido">
      <div class="header__picture">
        <img src="/assets/img/dogs.png" alt="Dogs de portada">
      </div>
      <div class="header__descripcion">
        <h1 class="header__heading">Descubre Cómo Podemos<span class="header__title" [class]="activeTab == 1 ? 'red' : activeTab == 2 ? 'orange' : activeTab == 3 ? 'green' : activeTab == 4 ? 'blue' : ''  ">Ayudarte</span></h1>
      </div>
    </div>
  </div>
  <div class="header__mobile">
    <h1 class="header__heading header__heading--mobile">Descubre Cómo Podemos<span class="header__title" [class]="activeTab == 1 ? 'red' : activeTab == 2 ? 'orange' : activeTab == 3 ? 'green' : activeTab == 4 ? 'blue' : ''  ">Ayudarte</span></h1>
    <div class="header__picture__mobile">
      <img src="/assets/img/dogs-mobile.png" alt="Dogs de portada">
    </div>
  </div>
</header>

<section class="tabs">
  <div class="identidades">
    <div class="identidades__container contenedor">
      <h4 class="identidades__home">Inicio › <span class="identidades__home__color">Nuestros Servicios</span> › <span class="identidades__home__color"> Diseño Digital</span></h4>
    </div>

    <div class="listas contenedor">
      <a class="listas__button" (click)="changeTab(1)" [class.activeOne]="activeTab === 1">Diseño digital</a>
      <a class="listas__button" (click)="changeTab(2)" [class.activeTwo]="activeTab === 2">Diseño y Desarrollo Web</a>
      <a class="listas__button" (click)="changeTab(3)" [class.activeThree]="activeTab === 3">Diseño de Marca</a>
      <a class="listas__button" (click)="changeTab(4)" [class.activeFour]="activeTab === 4">Comunicación Estratégica</a>
    </div>
    <div class="listas__swipper">
      <ngx-slick-carousel class="carousel" [config]="slideConfigTwo">
          <div ngxSlickItem class="slide">
              <div class="listas--mobile">
                <a class="listas__button" (click)="changeTab(1)" [class.activeOne]="activeTab === 1">Diseño digital</a>
              </div>
          </div>
          <div ngxSlickItem class="slide">
            <div class="listas--mobile">
              <a class="listas__button" (click)="changeTab(2)" [class.activeTwo]="activeTab === 2">Diseño y Desarrollo Web</a>
            </div>
          </div>
          <div ngxSlickItem class="slide">
            <div class="listas--mobile">
              <a class="listas__button" (click)="changeTab(3)" [class.activeThree]="activeTab === 3">Diseño de Marca</a>
            </div>
          </div>
          <div ngxSlickItem class="slide">
            <div class="listas--mobile">
              <a class="listas__button" (click)="changeTab(4)" [class.activeFour]="activeTab === 4">Comunicación Estratégica</a>
            </div>
          </div>
      </ngx-slick-carousel>
    </div>

    <ng-container *ngIf="activeTab == 1">
      <app-custom-page-design
        >
      </app-custom-page-design>
    </ng-container>
    <ng-container *ngIf="activeTab == 2">
      <app-subpage-design-web
        >
      </app-subpage-design-web>
    </ng-container>
    <ng-container *ngIf="activeTab == 3">
      <app-sub-page-design-mark></app-sub-page-design-mark>
    </ng-container>
    <ng-container *ngIf="activeTab == 4">
      <app-subpage-strategic-communication></app-subpage-strategic-communication>
    </ng-container>

  </div>
</section>

