<header class="header">
  <div class="header__barra contenedor">
    <div class="header__logo">
      <img src="/assets/img/logotipo.png" alt="Cuack-image">
    </div>
    <nav class="navegacion">
      <a routerLink="/inicio" class="navegacion__link">Inicio</a>
      <a routerLink="/quienes-somos" class="navegacion__link">Quiénes somos</a>
      <a routerLink="/nuestros-servicios" class="navegacion__link">Nuestros servicios</a>
      <a href="#" class="navegacion__link">Portafolio</a>
      <a href="#" class="navegacion__link">Blog</a>
      <a href="#" class="navegacion__link">Contáctanos</a>
    </nav>
  </div>
  <div class="contenedor">
    <div class="header__contenido">
      <div class="header__picture">
        <img src="/assets/img/dogs.png" alt="Dogs de portada">
      </div>
      <div class="header__descripcion">
        <h1 class="header__heading">Descubre Cómo Podemos<span class="header__green">Ayudarte</span></h1>
      </div>
    </div>
  </div>
</header>

<section class="tabs">
  <div class="identidades">
    <div class="identidades__container contenedor">
      <h4 class="identidades__home">Inicio › <span class="identidades__home__color">Nuestros Servicios</span> › <span class="identidades__home__color"> Diseño Digital</span></h4>
    </div>
    <div class="tabs-container contenedor">
      <div class="tab" (click)="changeTab(1)" [class.active]="activeTab === 1">
        <span [style.color]="activeTab === 1 ? '#FF0031' : '#fff'">Diseño Digital</span>
      </div>
      <div class="tab" (click)="changeTab(2)" [class.active]="activeTab === 2">
        <span [style.color]="activeTab === 2 ? '#F27E00' : '#fff'">Diseño y Desarrollo Web </span>
      </div>
      <div class="tab" (click)="changeTab(3)" [class.active]="activeTab === 3">
        <span [style.color]="activeTab === 3 ? '#A5CD00' : '#fff'">Diseño de Marca</span>
      </div>
      <div class="tab" (click)="changeTab(4)" [class.active]="activeTab === 4">
        <span [style.color]="activeTab === 4 ? '#14BCFF' : '#fff'">Comunicación Estratégica</span>
      </div>
      <div class="tab-line"></div>
    </div>

    <ng-container *ngIf="activeTab == 1">
      <app-custom-page-design
        >
      </app-custom-page-design>
    </ng-container>
    <ng-container *ngIf="activeTab == 2">
      <app-subpage-design-web
        >
      </app-subpage-design-web>
    </ng-container>

  </div>



</section>

