.header {
  min-height: 65rem;
  background-image: linear-gradient(277deg, rgba(26, 26, 26, 0.70) 46.33%, rgba(26, 26, 26, 0.00) 109.17%), url("/assets/img/fondo-selva-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3rem 0;
  position: relative;
  overflow: hidden;
  margin-bottom: -6.2rem;

  @media screen and (min-width: 768px){
    background-image: linear-gradient(277deg, rgba(26, 26, 26, 0.70) 46.33%, rgba(26, 26, 26, 0.00) 109.17%), url("/assets/img/fondo-selva.png");
    background-size:  100%, cover ;

  }

  &::after {
    content: '';
    background-color: #1D2025;
    //background-color: #275cb5;
    width: 120%;
    height: 13rem;
    position: absolute;
  }

  &:after {
    transform: rotate(3deg);
    top: 60rem;
    left: -.5rem;
    @media screen and (min-width: 768px){
      top: 59rem;
    }
  }

  &__container {
    display: none;

    @media screen and (min-width: 768px) {
      display: block;
    }
  }

  &__mobile {
    @media screen and (min-width: 768px){
      display: none;
    }
  }

  &__picture__mobile {
    margin: 0 auto;
    width: fit-content;
  }


  &__contenido {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
  }

  &__barra {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

  }

  &__heading {
    color: #FFF;
    text-align: right;
    font-size: 8rem;
    font-weight: 800;
    line-height: 85px; /* 106.25% */
    text-transform: uppercase;

    &--mobile {
      width: 100%;
      margin: auto;
      font-size: 2.8rem;
      line-height: 3rem;
      text-align: center;
      padding-top: 8rem;
    }
  }

  &__title {

    &.red {
      color: #FF0031;
      display: unset;
      @media screen and (min-width: 768px){
        display: block;
      }
    }

    &.orange {
      color: #F27E00;
      display: unset;
      @media screen and (min-width: 768px){
        display: block;
      }
    }

    &.green {
      color: #A5CD00;
      display: unset;
      @media screen and (min-width: 768px){
        display: block;
      }
    }

    &.blue {
      color: #14BCFF;
      display: unset;
      @media screen and (min-width: 768px){
        display: block;
      }
    }
  }


  &__picture {
    height: 50rem;
    width: 86rem;
    object-fit: cover;
    margin: 0 0 0 -8.6rem;
  }
}

/*Navegacion*/

.navegacion {
  display: none;
  @media screen and (min-width: 768px){

    position: relative;
    display: flex;
    flex-direction: row;
    gap: 2rem;

    &__link {

      &--dropdown {
        cursor: pointer;
        transform: translateX(50%);
        &::before {
          content: '';
          position: absolute;
          top: 0.7rem;
          left: -0.7rem;
          transform: translateX(-50%);
          border-left: 6px solid transparent;
          border-right: 6px solid transparent;
          border-top: 6px solid #fff;
        }
      }

      &.active {
        border-bottom: 4px solid #F27E00;
        padding-bottom: 2rem;
        font-weight: 700;
      }

    }

    &__dropdown-menu {
      display: none;
      background-color: #ffffff;
      position: absolute;
      top: 3rem;
      left: 28rem;
      min-height: 15rem;
      border-radius: .5rem;
      width: 40%;
      padding: 2rem;
      transform: translateX(-50%);
      &::before {
        content: '';
        position: absolute;
        top: -.8rem; // Posición ajustable según tu diseño
        left: 50%;
        transform: translateX(-50%);
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #fff; // Color de la pirámide
      }
      &.active {
        display: block;
      }
    }

    &__dropdown-item { // Corregido el nombre de la clase
      display: block;
      margin-bottom: 1rem; // Espacio entre ítems
      color: #1D2025;
    }
  }
}

/*Section solicitudes*/
.identidades {
  min-height: 70rem;
  background-color: #1D2025;

  &__container {
    position: relative;
  }


  &__home {
    color: #FFFFFF;
    font-size: 1.6rem;
    font-weight: 400;
  }

  &__home__color {
    color: #F27E00;
    font-weight: 600;
  }
}

.tabs {
  min-height: 66rem;
}

.listas {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &--mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (min-width: 768px) {
      display: none;
    }
  }


  &__swipper {
    padding: 0 3rem;
    @media screen and (min-width: 768px) {
        display: none;
    }
  }

  &__button {
    padding: 1.5rem 0;
    width: 100%;
    background-color: transparent;
    border-bottom: 3px solid #4E4E4E;
    color: #FFFFFF;
    font-weight: 500;
    display: block;
    font-size: 1.3rem;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;

    @media screen and (min-width: 400px) {
      white-space: normal;
    }

    @media screen and (min-width: 768px) {
      padding: 1.5rem 2rem;
      width: 33rem;
      font-size: 1.7rem;
    }

    &.activeOne {
      border-bottom: 3px solid #FF0031; /* Color de la línea al pasar el ratón */
      color: #FF0031;
      font-weight: 500;
    }

    &.activeTwo {
      border-bottom: 3px solid #F27E00; /* Color de la línea al pasar el ratón */
      color: #F27E00;
      font-weight: 500;
    }

    &.activeThree {
      border-bottom: 3px solid #A5CD00; /* Color de la línea al pasar el ratón */
      color: #A5CD00;
      font-weight: 500;
    }

    &.activeFour {
      border-bottom: 3px solid #14BCFF; /* Color de la línea al pasar el ratón */
      color: #14BCFF;
      font-weight: 500;
    }
  }
}
