
/*Footer*/
.footer {
  min-height: 62rem;
  background-image: url("/assets/img/footer-mobile.png");
  background-size: cover;
  position: relative;

  @media screen and (min-width: 768px){
    background-image: url("/assets/img/footer.png");
    height: calc(100% + 1rem);

  }

  &__grid {
    padding: 7rem 2rem;
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 768px){
      padding: 15rem 0;
      flex-direction: row;
      gap: 3rem;
      margin-bottom: 7rem;

    }
  }
}

.footer-widget {
  &__heading {
    color: #FFFFFF;
    font-size: 2rem;
  }

  &__paragraph {
    color: #FFFFFF;
    font-weight: 300;
    line-height: 2.5rem;
  }

  &__paragraphtitle {
    color: #F27E00;
    margin-right: .5rem;
    font-weight: 400;

  }

  .space {
    margin-right: 4.3rem;
  }

  &:nth-child(1) {
    width: 90%;
    @media screen and (min-width: 768px){
      width: 30%;

    }
  }
  &:nth-child(2) {
    width: 80%;
    @media screen and (min-width: 768px) {
      width: 28%;
    }
  }

  &:nth-child(3) {
    width: 80%;
    @media screen and (min-width: 768px){
      width: 20%;
    }
  }

  &:nth-child(4) {
    width: 80%;
    @media screen and (min-width: 768px){
      width: 22%;
    }
  }
  &:nth-child(4) {
    width: 80%;
    @media screen and (min-width: 768px){
      width: 10%;
    }
  }
}

.footer-widget-social {
  display: flex;
  gap: 1rem;
  margin: 3rem 0 3rem 1rem;
}

.footer-widget-contenido {

  &__info {
    color: #FFFFFF;
    font-weight: 300;
  }

  &__bold {
    color: #FFFFFF;
    font-weight: bold;
  }

}

.vineta {
  position: relative;

  &::before {
    content: url("/assets/svg/ellipse.svg");
    width: 1rem;
    position: absolute;
    left: -1rem;
  }
}

.optional {
  @media screen and (min-width: 768px){
    display: none;
  }
}

.spacing {
  display: none;
  @media screen and (min-width: 768px){
    display: block;
    margin-top: 2rem;
  }
}


.image {
  display: none;
  @media screen and (min-width: 768px){
    display: block;
  }
}

.bold {
  font-weight: bold;
}

.copyright {
  border-top: 1px solid #D9D9D9;;
  color: #fff;
  font-size: 1.6rem;
  margin: 0 auto;
  max-width: 130rem;
  padding: 2.5rem;
  text-align: center;

  &__bold {
    color: #F27E00;
  }
}

::ng-deep {
  .slick-dots li.slick-active button:before {
    color: #084D34;
    opacity: 0.75;
  }
}
