<footer class="footer">
  <div class="footer__grid contenedor">
    <div class="footer-widget">
      <img src="/assets/img/logotipo.png" alt="Logo Cuack">

      <div class="footer-widget-social">
        <img src="/assets/svg/logo-facebook.svg" alt="Logo facebook">
        <img src="/assets/svg/logo-instagram.svg" alt="Logo instagram">
        <img src="/assets/svg/logo-x.svg" alt="Logo x">
      </div>

      <div class="footer-widget-contenido">
        <p class="footer-widget-contenido__info">Comunícate con nosotros</p>
        <p class="footer-widget-contenido__info"><span class="footer-widget-contenido__bold">Telefono:</span>  304 3050263</p>
        <p class="footer-widget-contenido__info"><span class="footer-widget-contenido__bold">Email:</span> cuackcolombia&#64;outlook.com</p>
      </div>
    </div>

    <div class="footer-widget">
      <h3 class="footer-widget__heading">Somos Cuackcolombia</h3>
      <p class="footer-widget__paragraph">
        En Cuackcolombia, ofrecemos una amplia gama de servicios de diseño gráfico y publicidad diseñados para impulsar tu marca y superar tus expectativas.
      </p>
      <p class="footer-widget__paragraph bold">Horario:</p>
      <p class="footer-widget__paragraph">
        <span class="footer-widget__paragraphtitle">Lun - Vie</span> 8:00 a.m. - 6:00 p.m.
      </p>
      <p class="footer-widget__paragraph">
        <span class="footer-widget__paragraphtitle space">Sab</span> 8:00 a.m. - 12:00 p.m.
      </p>

    </div>

    <div class="footer-widget">
      <h3 class="footer-widget__heading">Servicios</h3>
      <p class="footer-widget__paragraph vineta">Marketing Digital</p>
      <p class="footer-widget__paragraph vineta">Creación de Marca</p>
      <p class="footer-widget__paragraph vineta">Administración de Redes Sociales</p>
      <p class="footer-widget__paragraph vineta">Publicidad Estratégica</p>
      <p class="footer-widget__paragraph vineta">Ilustración</p>
    </div>

    <div class="footer-widget spacing">
      <p class="footer-widget__paragraph vineta">Diseño 3D</p>
      <p class="footer-widget__paragraph vineta">Experiencia de Usuario</p>
    </div>

    <div class="footer-widget">
      <img src="/assets/svg/croquis.svg" class="logo" alt="Croquis Mapa">
    </div>

  </div>

  <p class="copyright">
    <span class="copyright__bold">2024 Cuackcolombia -</span> Agencia de Marketing Digital Barranquilla Colombia
  </p>

</footer>
