
/*Section*/
.identidades {
  &__container {
    position: relative;
    margin-bottom: 6rem;
    padding: 0 2rem;
    @media screen and (min-width: 768px){
      padding: 0;

    }
  }

  &__grid {
    padding-top: 8rem;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: unset;
    gap: 3.5rem;
    align-items: center;
    @media screen and (min-width: 768px){
      grid-template-columns: 68rem 48.5rem;
      grid-template-rows: auto;
    }
  }

  &__heading {
    color: #FFFFFF;
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 3rem;
    margin-bottom: 5rem;
    @media screen and (min-width: 768px){
      font-size: 4rem;
      line-height: 4.5rem;

    }
  }

  &__subtitle {
    display: block;
    color: #F27E00;
    font-weight: 800;
    margin-bottom: 2rem;
  }

  &__descripcion {
    font-size: 1.7rem;
    line-height: 2.5rem;
    color: #FFFFFF;
    font-weight: 300;
  }

  &__color {
    color: #F27E00;
    font-weight: 700;
    line-height: 2.5rem;
  }
}


.servicios {
  background-image: url("/assets/img/fondo-servicios-2.png");
  min-height: 60rem;
  padding: 5rem 0;

  &__heading {
    color: #ffffff;
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
    line-height: 3.6rem;
    text-transform: uppercase;
    @media screen and (min-width: 768px){
      font-size: 3.4rem;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    padding: 5rem 2rem;
    @media screen and (min-width: 768px){
      padding-top: 6rem;
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__card {
    border-radius: 10px;
    background: #D9D9D9;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__image {
    padding-top: 3rem;
  }

  &__title {
    color: #000;
    text-align: center;
    font-size: 1.9rem;
    font-weight: 700;
    line-height: 2.3rem;
    padding: 0 2rem;
  }

  &__separator {
    border-radius: 20px;
    background: linear-gradient(270deg, #2DA48E -8.55%, #084D34 129.61%);
    width: 7.6rem;
    height: .7rem;
  }

  &__paragraph {
    color: #000;
    text-align: center;
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 2.5rem;
    padding: .5rem 2.5rem 1rem 2.5rem;
  }
}
/*Section trabajmos*/
.trabajamos {
  background-image: url("/assets/img/trabajamos-01.png");
  background-repeat: no-repeat;
  min-height: 50.5rem;
  padding: 5rem 2rem;
  @media screen and (min-width: 768px) {
    padding: 10rem 0;

  }

  &__heading {
    color: #FFF;
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
    line-height: 3.6rem;
    text-transform: uppercase;
    margin-bottom: .5rem;
    @media screen and (min-width: 768px) {
      font-size: 3.4rem;
      margin-bottom: 0;

    }
  }

  &__subheading {
    color: #1D2025;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2.8rem;
    letter-spacing: 0;
    text-transform: uppercase;
    background-color: #F27E00;
    width: 95%;
    margin: 2.5rem auto;
    @media screen and (min-width: 768px) {
      letter-spacing: 6px;
      width: 47.8rem;
      margin: .5rem auto;

    }
  }

  &__grid {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: unset;
    gap: 1.5rem;
    @media screen and (min-width: 768px) {
      grid-template-columns: repeat(3, 1fr);
      padding-top: 6rem;
    }
  }

  &__contenido {
    border-radius: 13px 13px 10px 10px;
    border: 2px solid #D9D9D9;
  }

  &__title {
    border-radius: 10px 10px 0px 0px;
    background-color: #D9D9D9;
    margin: 0;
    padding: 2rem;
    text-align: center;
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 2.3rem;
    @media screen and (min-width: 768px) {
      font-size: 2.2rem;
    }
  }

  &__paragraph {
    color: #FFF;
    text-align: center;
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 2.5rem;
    padding: 1.5rem;
  }
}

/*Algunos de nuestros trabajos*/
.trabajos {
  background-color: #E3E4E6;
  min-height: 50rem;
  padding: 5rem 0;

  &__heading {
    color: #1D2025;
    font-size: 2rem;
    font-weight: 300;
    line-height: 1rem;
    text-transform: uppercase;
    margin-bottom: 4rem;
    @media screen and (min-width: 768px) {
      font-size: 3.4rem;
      line-height: 6rem;
    }
  }

  &__color {
    color: #1D2025;
    font-size: 2rem;
    font-weight: 800;
    line-height: 6rem;
    text-transform: uppercase;
    display: block;
    @media screen and (min-width: 768px) {
      font-size: 3.4rem;
      display: unset;
    }
  }

  &__container {
    padding: 0 2rem;
    @media screen and (min-width: 768px) {
      padding: 0;
    }
  }

  &__grid {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: unset;
    gap: 1.5rem;
    @media screen and (min-width: 768px) {
      grid-template-columns: repeat(3, 1fr);

    }
  }
}

/*Solicitudes especiales*/
.especiales {
  background-color: #1D2025;
  min-height: 60rem;
  padding: 6rem 0;

  &__container {
    padding: 0 3rem;
    @media screen and (min-width: 768px) {
      padding: 0;

    }
  }

  &__heading {
    color: #FFF;
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
    line-height: 3rem;
    text-transform: uppercase;
    @media screen and (min-width: 768px) {
      font-size: 3.4rem;
      line-height: 3.6rem;
    }
  }

  &__subheading {
    color: #1D2025;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2.8rem;
    text-transform: uppercase;
    background-color: #F27E00;
    width: 100%;
    margin: .5rem auto;
    @media screen and (min-width: 768px) {      font-size: 1.5rem;
      width: 53.3rem;
      line-height: 2.8rem;
      letter-spacing: 6px;

    }
  }

  &__paragraph {
    color: #FFF;
    text-align: justify;
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 2.5rem;
    padding: 4rem 0;
    @media screen and (min-width: 768px) {
      padding: 4rem 24rem;

    }
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1.5rem;
    padding: 0 2rem;
    @media screen and (min-width: 768px) {
      grid-template-columns: repeat(3, 1fr);
      padding: 0;

    }
  }

  &__image:nth-child(1) {
    grid-column: 1/3;
    @media screen and (min-width: 768px){
      grid-column: unset;
    }
  }
}

