<section class="identidades">
  <div class="identidades__container contenedor">

    <div class="identidades__grid">
      <div class="identidades__content">
        <h2 class="identidades__heading">Navegando en la Creatividad <span class="identidades__subtitle">Explora el Mundo del Diseño Web</span></h2>

        <p class="identidades__descripcion">
          Te invitamos a acompañarnos en el proceso de creación. Desde la concepción de ideas hasta la implementación final, compartiremos cada paso del camino contigo. Prepárate para explorar nuevas perspectivas, enfoques frescos y descubrimientos emocionantes en el fascinante mundo del diseño web.
        </p>

        <p class="identidades__descripcion">
          Aquí, la creatividad no tiene límites, y <span class="identidades__color">cada línea de código es una oportunidad para expresar nuestra pasión por el diseño digital</span>. Únete a nosotros en este viaje donde cada página en blanco es una oportunidad para dar forma a experiencias digitales inolvidables.
        </p>

      </div>

      <div class="identidades__image">
        <img src="assets/img/navegando-1.png" alt="Navegando">
      </div>
    </div>

  </div>
</section>

<section class="servicios">
  <h2 class="servicios__heading">Nuestros servicios</h2>

  <div class="servicios__grid contenedor">

    <div class="servicios__card">
      <div class="servicios__image">
        <img src="/assets/svg/servicios-2-1.svg" alt="">
      </div>
      <h4 class="servicios__title">Diseño UI/UX</h4>
      <span class="servicios__separator"></span>
      <p class="servicios__paragraph">
        Garantizamos que su nuevo sitio web tenga una estructura de información efectiva y que cada elemento sea funcional para los usuarios.
      </p>
    </div>

    <div class="servicios__card">
      <div class="servicios__image">
        <img src="/assets/svg/servicios-2-2.svg" alt="">
      </div>
      <h4 class="servicios__title">Desarrollo multiplataforma</h4>
      <span class="servicios__separator"></span>
      <p class="servicios__paragraph">
        Garantizamos que tu sitio web esté disponible, se adapte y funcione correctamente en dispositivos móviles como teléfonos inteligentes o tabletas.
      </p>
    </div>

    <div class="servicios__card">
      <div class="servicios__image">
        <img src="/assets/svg/servicios-2-3.svg" alt="">
      </div>
      <h4 class="servicios__title">Desarrollo a la medida</h4>
      <span class="servicios__separator"></span>
      <p class="servicios__paragraph">
        Desarrollamos un sitio web completamente personalizado en función de sus necesidades, objetivos de negocio y preferencias de navegación de los usuarios.
      </p>
    </div>

  </div>
</section>

<section class="trabajamos">
  <h2 class="trabajamos__heading">Cómo Trabajamos</h2>
  <h3 class="trabajamos__subheading">nuestro camino a la excelencia</h3>

  <div class="trabajamos__grid contenedor">

    <div class="trabajamos__contenido">
      <h4 class="trabajamos__title">Construimos la arquitectura de tu sitio web</h4>
      <p class="trabajamos__paragraph">
        Planeamos cada detalle de la arquitectura de tu sitio web, incluidas las tecnologías, los lenguajes de programación, la estructura de servidores y otros elementos necesarios para que funcione correctamente.
      </p>
    </div>

    <div class="trabajamos__contenido">
      <h4 class="trabajamos__title">Desarrollamos tu sitio web</h4>
      <p class="trabajamos__paragraph">
        Para convertir tu diseño en un sitio funcional, utilizamos una variedad de recursos, tecnologías y lenguajes de programación.
      </p>
    </div>

    <div class="trabajamos__contenido">
      <h4 class="trabajamos__title">Probamos la calidad de su sitio web</h4>
      <p class="trabajamos__paragraph">
        Nuestros ciclos de control de calidad examinan cada aspecto de su sitio web, incluida la funcionalidad, el contenido y los recursos gráficos. Por lo tanto, nos aseguramos de que su proyecto cumpla con los estándares de calidad.
      </p>
    </div>
  </div>

</section>
