/*Section contacto*/

.contact {
  background-image: url("/assets/svg/fondo-blue.svg");
  background-repeat: no-repeat;
  background-position: left;
  position: relative;
  overflow: hidden;
  background-size: cover;
  margin-bottom: -2rem;

  @media screen and (min-width: 768px){
    margin-bottom: -8.2rem;

  }

  @media screen and (min-width:  1900px) {
    min-height: 102rem;
    margin-bottom: -11.2rem;

  }

  &::before {
    content: '';
    background-color: #1D2025;
    width: 120%;
    height: 16.7rem;
    position: absolute;
    @media screen and (min-width: 768px){
      height: 10rem;

    }

    @media screen and (min-width: 1900px) {
      height: 19rem;
    }
  }

  &:before {
    transform: rotate(-3deg);
    top: -5rem;
    left: -1rem;
    @media screen and (min-width: 1900px) {
      top: -9rem;

    }
  }

  &__container {
    padding: 10rem 0 1.5rem 0;
    @media screen and (min-width: 1900px) {
      padding: 18rem 0 1.5rem 0;
    }
  }

  &__imagen {
    margin-top: 3rem;
  }

  &__heading {
    color: #FFF;
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 4.5rem;
    @media screen and (min-width: 768px){
      font-size: 4rem;
      padding-top: 0;
      line-height: 43px;
    }
  }

  &__heading--regular {
    color: #FFF;
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 43px;
    text-transform: uppercase;
    display: block;
    @media screen and (min-width: 768px){
      display: unset;
      font-size: 4rem;

    }
  }

  &__grid {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 768px){
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__form--heading {
    display: none;
    @media screen and (min-width: 768px){
      color: #FFFFFF;
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 43px;
      text-transform: uppercase;
    }
  }

  &__form--subheading {
    display: none;
    @media screen and (min-width: 768px){
      color: #FFF;
      font-size: 1.8rem;
      font-weight: 700;
      line-height: 43px;
      margin: 0;
    }
  }

  &__form {
    @media screen and (min-width: 768px){
      align-self: center;
      position: relative;
      margin-left: 4rem;
    }

    &::before {
      content: "";
      @media screen and (min-width: 768px){
        content: "";
        border-left: 2px solid #FFFFFF;
        width: 0.2rem;
        height: 44.4rem;
        color: #FFFFFF;
        position: absolute;
        top: -1rem;
        left: -4rem;
      }
    }
  }
}

.form {
  width: 80%;
  margin: 0 auto;
  @media screen and (min-width: 768px){
    width: 100%;
  }

  &__field input[type="text"], input[type="email"] {
    border-radius: 10px;
    border: 1px solid #FFF;
    background-color: transparent;
    padding: 1rem;
    width: 100%;
    margin: .5rem;
    @media screen and (min-width: 768px){
      width: 26.8rem;
      margin: .5rem;
    }
  }

  &__field textarea {
    border-radius: 6px;
    border: 1px solid #FFF;
    background-color: transparent;
    padding: 1rem;
    width: 100%;
    margin: .5rem;
    height: 25.5rem;
    @media screen and (min-width: 768px){
      width: 54.8rem;
      margin: .5rem;
      height: 9.5rem;
    }
  }

  &__field input::placeholder {
    color: #FFFFFF;
    font-weight: 300;
    line-height: 4.3rem;
  }

  &__field textarea::placeholder {
    color: #FFFFFF;
    font-weight: 300;
  }

  &__field--accion {
    border-radius: .3rem;
    border: 2px solid #F27E00;
    background-color: #F27E00;
    width: 17.6rem;
    padding: 1.2rem ;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 400;
    display: block;
    margin: 5rem auto;
    @media screen and (min-width: 768px){
      margin-top: 5rem;
      margin-left: .5rem;

    }
  }

  &__captcha {
    padding-left: .5rem;
  }
}
