<section class="contact">
  <div class="contact__container contenedor">
    <h2 class="contact__heading">Conéctate <span class="contact__heading--regular">con Nosotros</span></h2>

    <div class="contact__grid">
      <div class="contact__imagen">
        <img src="/assets/img/pato-traje-final.png" alt="contact-us">
      </div>
      <div class="contact__form">
        <h3 class="contact__form--heading">¡Juntos, haremos realidad tus ideas!</h3>
        <h4 class="contact__form--subheading">Servicio Virtual Atendemos clientes en todo el mundo</h4>
        <form class="form">
          <div class="form__field">
            <input type="text" placeholder="Nombre Completo*">
            <input type="email" placeholder="Correo Electrónico*">
          </div>
          <div class="form__field">
            <input type="text" placeholder="Número de Teléfono*">
            <input type="text" placeholder="Ciudad / País*">
          </div>
          <div class="form__field">
            <textarea placeholder="Mensaje*"></textarea>
          </div>
          <div class="form__field">
            <span>Catpcha</span>
          </div>
          <div class="form__field">
            <button class="form__field--accion">Enviar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

