<section class="identidades">
  <div class="identidades__container contenedor">


    <div class="identidades__grid">
      <div class="identidades__content">
        <h2 class="identidades__heading">Fusionando Creatividad <span class="identidades__subtitle">y Tecnología</span></h2>

        <p class="identidades__descripcion">
         Somos tu equipo de expertos en diseño digital, apasionados por la creación de experiencias digitales impactantes y efectivas. En Diseño Digital, creemos en la magia de la creatividad y la precisión del diseño. Estamos aquí para convertir tus ideas en soluciones digitales que no solo se ven bien, sino que también generan resultados tangibles.
        </p>

        <p class="identidades__descripcion">
          En un mundo cada vez más digital, el diseño es una parte esencial de cualquier estrategia empresarial. Ya sea que necesites un nuevo sitio web atractivo, interfaces de usuario intuitivas, branding distintivo o estrategias visuales de vanguardia, estamos aquí para ofrecerte servicios de diseño digital excepcionales.
        </p>

      </div>

      <div class="identidades__image">
        <img src="/assets/img/sorprenderte.png" alt="Sorprenderte">
      </div>
    </div>

  </div>
</section>

<section class="servicios">
  <h2 class="servicios__heading">Nuestros servicios</h2>

  <div class="servicios__grid">


  </div>

</section>
