<section class="identidades">
  <div class="identidades__container contenedor">


    <div class="identidades__grid">
      <div class="identidades__content">
        <h2 class="identidades__heading">Fusionando Creatividad <span class="identidades__subtitle">y Tecnología</span></h2>

        <p class="identidades__descripcion">
          En <span class="identidades__color">Cuackcolombia</span>, forjamos marcas excepcionales que conquistan el mundo. Nuestro compromiso no se limita a crecer, sino a evolucionar constantemente hacia la excelencia.
        </p>

        <p class="identidades__descripcion">
          Creemos en aquellos valientes que desafían las normas y se esfuerzan por alcanzar la grandeza. Somos impulsores de una nueva generación de empresas que desafían el statu quo y abrazan una mentalidad innovadora.
        </p>

        <p class="identidades__descripcion">
          Empresas a nivel global confían en nosotros para enfrentar los desafíos más apremiantes de sus respectivas industrias. Nuestro enfoque único, fusionando <span class="identidades__color">marketing, neurociencia, estadísticas e innovación</span>, nos permite orquestar soluciones que generan un alto impacto y resultados sostenibles.
        </p>

      </div>

      <div class="identidades__image">
        <img src="/assets/img/identidades.png" alt="Identidades">
      </div>
    </div>

  </div>
</section>
