<header class="header">
  <div class="header__barra contenedor">
    <div class="header__logo">
      <img src="/assets/img/logotipo.png" alt="Cuack-image" routerLink="/inicio" routerLinkActive="active">
    </div>
    <nav class="navegacion">
      <a routerLink="/inicio" class="navegacion__link" routerLinkActive="active">Inicio</a>
      <a routerLink="/quienes-somos" class="navegacion__link" routerLinkActive="active">Quiénes somos</a>
      <a routerLink="/nuestros-servicios" class="navegacion__link" routerLinkActive="active">Nuestros servicios</a>
      <a class="navegacion__link--dropdown" (click)="toggleMenu($event)"> </a>
      <div class="navegacion__dropdown-menu" [class.active]="isMenuOpen">
        <a routerLink="/diseno-digital/1" class="navegacion__dropdown-item" routerLinkActive="activeOne">Diseño Digital</a>
        <a routerLink="/diseno-digital/2" class="navegacion__dropdown-item" routerLinkActive="activeTwo">Diseño y Desarrollo Web</a>
        <a routerLink="/diseno-digital/3" class="navegacion__dropdown-item" routerLinkActive="activeThree">Diseño de Marca</a>
        <a routerLink="/diseno-digital/4" class="navegacion__dropdown-item" routerLinkActive="activeFour">Comunicación Estratégica</a>
      </div>
      <a routerLink="/portafolio" class="navegacion__link" routerLinkActive="active">Portafolio</a>
      <a routerLink="/blog" class="navegacion__link" routerLinkActive="active">Blog</a>
      <a routerLink="/contacto" class="navegacion__link" routerLinkActive="active">Contáctanos</a>
    </nav>
    <!--Inicio menu Mobile-->
    <div class="header__responsive" *ngIf="screenWidth <768">
      <app-nav-mobile></app-nav-mobile>
    </div>
    <!--Fin menu mobile-->
  </div>
  <div class="header__container contenedor">
    <div class="header__contenido">
      <div class="header__picture">
        <img src="/assets/img/dogs.png" alt="Dogs de portada">
      </div>
      <div class="header__descripcion">
        <h1 class="header__heading">Descubre Cómo Podemos<span class="header__green">Ayudarte</span></h1>
      </div>
    </div>
  </div>
  <div class="header__mobile">
    <h1 class="header__heading header__heading--mobile">Descubre Cómo Podemos <span class="header__green">Ayudarte</span></h1>
    <div class="header__picture__mobile">
      <img src="/assets/img/dogs-mobile.png" alt="Dogs de portada">
    </div>
  </div>
</header>

<section class="identidades">
  <div class="identidades__container contenedor">
    <h4 class="identidades__home">Inicio › <span class="identidades__home__color">Nuestros Servicios</span></h4>
    <app-ws-button></app-ws-button>

    <div class="identidades__grid">
      <div class="identidades__content">
        <h2 class="identidades__heading">Creamos Identidades <span class="identidades__subtitle">de Marca Únicas</span></h2>

        <p class="identidades__descripcion">
          En <span class="identidades__color">Cuackcolombia</span>, forjamos marcas excepcionales que conquistan el mundo. Nuestro compromiso no se limita a crecer, sino a evolucionar constantemente hacia la excelencia.
        </p>

        <p class="identidades__descripcion">
          Creemos en aquellos valientes que desafían las normas y se esfuerzan por alcanzar la grandeza. Somos impulsores de una nueva generación de empresas que desafían el statu quo y abrazan una mentalidad innovadora.
        </p>

        <p class="identidades__descripcion">
          Empresas a nivel global confían en nosotros para enfrentar los desafíos más apremiantes de sus respectivas industrias. Nuestro enfoque único, fusionando <span class="identidades__color">marketing, neurociencia, estadísticas e innovación</span>, nos permite orquestar soluciones que generan un alto impacto y resultados sostenibles.
        </p>

      </div>

      <div class="identidades__image">
        <img src="/assets/img/identidades.png" alt="Identidades">
      </div>
    </div>

    <div class="transformando">
      <h3 class="transformando__heading">Transformando Ideas en Realidad</h3>
      <h4 class="transformando__subheading">Nuestra Fundación para el Éxito</h4>

      <div class="transformando__grid">
        <div class="transformando__contenido">
          <img src="/assets/svg/transformando-1.svg" alt="Transformando imagen">
          <h4 class="transformando__title">Donde la Creatividad es una Ciencia</h4>
          <p class="transformando__descripcion">En <span class="transformando__color">Cuackcolombia</span>, expertos en mente y estrategia unen fuerzas. Utilizamos las últimas tendencias y psicología del consumidor para abordar cada proyecto integralmente.</p>
        </div>

        <div class="transformando__contenido">
          <img src="/assets/svg/transformando-2.svg" alt="Transformando imagen">
          <h4 class="transformando__title">Rompiendo Esquemas</h4>
          <p class="transformando__descripcion">Hemos dejado atrás las prácticas de marketing tradicionales en <span class="transformando__color">Cuackcolombia</span> para adoptar un enfoque disruptivo.</p>
        </div>

        <div class="transformando__contenido">
          <img src="/assets/svg/transformando-3.svg" alt="Transformando imagen">
          <h4 class="transformando__title">Evolucionando juntos</h4>
          <p class="transformando__descripcion">En <span class="transformando__color">Cuackcolombia</span>, tu evolución es nuestra prioridad. Mantenemos relaciones cercanas y transparentes para brindarte un servicio personalizado que potencie tu éxito continuo.</p>
        </div>

        <div class="transformando__contenido">
          <img src="/assets/svg/transformando-4.svg" alt="Transformando imagen">
          <h4 class="transformando__title">Pasión y Creatividad</h4>
          <p class="transformando__descripcion">La pasión impulsa <span class="transformando__color">Cuackcolombia</span>. En cada proyecto, generamos resultados excepcionales y dejamos una huella duradera en la publicidad y el diseño.</p>
        </div>
      </div>
    </div>

  </div>
</section>

<section class="nuestros-servicios">
  <div class="nuestros-servicios__container contenedor">
    <h2 class="nuestros-servicios__heading">Nuestros <span class="nuestros-servicios__color">servicios</span></h2>
    <p class="nuestros-servicios__descripcion">
      En Cuackcolombia, ofrecemos una amplia gama de servicios de diseño gráfico y publicidad diseñados para impulsar tu marca y superar tus expectativas. Nuestra pasión por la creatividad y la excelencia nos impulsa a brindar soluciones únicas que se adaptan a tus necesidades comerciales. Estos son algunos de los servicios que ofrecemos:
    </p>

    <div class="nuestros-servicios__grid">
      <div class="nuestros-servicios__card">
        <div class="nuestros-servicios__imagen">
          <img src="/assets/img/nuestro-servicio-01.png" alt="Diseño-digital">
        </div>
        <div class="nuestros-servicios__contenidos nuestros-servicios__contenidos--spacing backOne">
          <p class="nuestros-servicios__subtitle">Diseño Digital</p>
          <a class="nuestros-servicios__flecha arrowOne"></a>
        </div>
      </div>

      <div class="nuestros-servicios__card">
        <div class="nuestros-servicios__imagen">
          <img src="/assets/img/nuestro-servicio-02.png" alt="Diseño-digital">
        </div>
        <div class="nuestros-servicios__contenidos backTwo">
          <p class="nuestros-servicios__subtitle">Diseño y  <span class="nuestros-servicios__spacing"></span> Desarrollo web</p>
          <a class="nuestros-servicios__flecha arrowTwo"></a>
        </div>
      </div>

      <div class="nuestros-servicios__card">
        <div class="nuestros-servicios__imagen">
          <img src="/assets/img/nuestro-servicio-03.png" alt="Diseño-digital">
        </div>
        <div class="nuestros-servicios__contenidos backThree">
          <p class="nuestros-servicios__subtitle">Diseño  <span class="nuestros-servicios__spacing"></span> de Marca</p>
          <a class="nuestros-servicios__flecha arrowThree"></a>
        </div>
      </div>

      <div class="nuestros-servicios__card">
        <div class="nuestros-servicios__imagen">
          <img src="/assets/img/nuestro-servicio-04.png" alt="Diseño-digital">
        </div>
        <div class="nuestros-servicios__contenidos backFour">
          <p class="nuestros-servicios__subtitle">Comunicación  <span class="nuestros-servicios__spacing"></span> Estratégica</p>
          <a class="nuestros-servicios__flecha arrowFour"></a>
        </div>
      </div>
    </div>

    <div class="nuestros-servicios__swipper">
      <ngx-slick-carousel [config]="slideConfigTwo"
                          class="carousel"
      >
        <div ngxSlickItem class="slide">
          <div class="nuestros-servicios__card">
            <div class="nuestros-servicios__imagen">
              <img src="/assets/img/nuestro-servicio-01.png" alt="Diseño-digital">
            </div>
            <div class="nuestros-servicios__contenidos nuestros-servicios__contenidos--spacing backOne">
              <p class="nuestros-servicios__subtitle">Diseño Digital</p>
              <a class="nuestros-servicios__flecha arrowOne"></a>
            </div>
          </div>
        </div>
        <div ngxSlickItem class="slide">
          <div class="nuestros-servicios__card">
            <div class="nuestros-servicios__imagen">
              <img src="/assets/img/nuestro-servicio-02.png" alt="Diseño-digital">
            </div>
            <div class="nuestros-servicios__contenidos backTwo">
              <p class="nuestros-servicios__subtitle">Diseño y  <span class="nuestros-servicios__spacing"></span> Desarrollo web</p>
              <a class="nuestros-servicios__flecha arrowTwo"></a>
            </div>
          </div>
        </div>
        <div ngxSlickItem class="slide">
          <div class="nuestros-servicios__card">
            <div class="nuestros-servicios__imagen">
              <img src="/assets/img/nuestro-servicio-03.png" alt="Diseño-digital">
            </div>
            <div class="nuestros-servicios__contenidos backThree">
              <p class="nuestros-servicios__subtitle">Diseño  <span class="nuestros-servicios__spacing"></span> de Marca</p>
              <a class="nuestros-servicios__flecha arrowThree"></a>
            </div>
          </div>
        </div>
        <div ngxSlickItem class="slide">
          <div class="nuestros-servicios__card">
            <div class="nuestros-servicios__imagen">
              <img src="/assets/img/nuestro-servicio-04.png" alt="Diseño-digital">
            </div>
            <div class="nuestros-servicios__contenidos backFour">
              <p class="nuestros-servicios__subtitle">Comunicación  <span class="nuestros-servicios__spacing"></span> Estratégica</p>
              <a class="nuestros-servicios__flecha arrowFour"></a>
            </div>
          </div>
        </div>
      </ngx-slick-carousel>
    </div>

    <button (click)="navigateTo('/portafolio')" routerLink="/portafolio" class="nuestros-servicios__accion">Ver portafolio </button>
  </div>
</section>

<section class="solicitudes">
  <div class="solicitudes__container contenedor">
    <h2 class="solicitudes__heading">Solicitudes Especiales</h2>
    <h3 class="solicitudes__subheading">Transformando tu visión en realidad</h3>

    <p class="solicitudes__descripcion">
      En nuestra agencia, estamos comprometidos a brindar soluciones adaptadas a tus necesidades únicas. Si no encuentras exactamente lo que buscas en nuestras categorías de servicios, no te preocupes. Estamos aquí para crear trabajos a medida que reflejen tus ideas y objetivos. Nuestra creatividad no tiene límites, y estamos listos para dar vida a tus proyectos más ambiciosos. ¡Contáctanos hoy para discutir tus ideas y juntos haremos realidad tu visión.
    </p>

    <div class="solicitudes__grid">
      <div class="solicitudes__image">
        <img src="/assets/img/solicitudes-1.png" alt="Solicitudes 1">
      </div>
      <div class="solicitudes__image">
        <img src="/assets/img/solicitudes-2.png" alt="Solicitudes 2">
      </div>
      <div class="solicitudes__image">
        <img src="/assets/img/solicitudes-3.png" alt="Solicitudes 3">
      </div>
    </div>
  </div>
</section>

<section class="contact">
  <div class="contact__container contenedor">
    <h2 class="contact__heading">Conéctate <span class="contact__heading--regular">con Nosotros</span></h2>

    <div class="contact__grid">
      <div class="contact__imagen">
        <img src="/assets/img/pato-traje-final.png" alt="contact-us">
      </div>
      <div class="contact__form">
        <h3 class="contact__form--heading">¡Juntos, haremos realidad tus ideas!</h3>
        <h4 class="contact__form--subheading">Servicio Virtual Atendemos clientes en todo el mundo</h4>
        <form class="form">
          <div class="form__field">
            <input type="text" placeholder="Nombre Completo*">
            <input type="email" placeholder="Correo Electrónico*">
          </div>
          <div class="form__field">
            <input type="text" placeholder="Número de Teléfono*">
            <input type="text" placeholder="Ciudad / País*">
          </div>
          <div class="form__field">
            <textarea placeholder="Mensaje*"></textarea>
          </div>
          <div class="form__field">
            <span>Catpcha</span>
          </div>
          <div class="form__field">
            <button class="form__field--accion">Enviar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<footer class="footer">
  <div class="footer__grid contenedor">
    <div class="footer-widget">
      <img src="/assets/img/logotipo.png" alt="Logo Cuack">

      <div class="footer-widget-social">
        <img src="/assets/svg/logo-facebook.svg" alt="Logo facebook">
        <img src="/assets/svg/logo-instagram.svg" alt="Logo instagram">
        <img src="/assets/svg/logo-x.svg" alt="Logo x">
      </div>

      <div class="footer-widget-contenido">
        <p class="footer-widget-contenido__info">Comunícate con nosotros</p>
        <p class="footer-widget-contenido__info"><span class="footer-widget-contenido__bold">Telefono:</span>  304 3050263</p>
        <p class="footer-widget-contenido__info"><span class="footer-widget-contenido__bold">Email:</span> cuackcolombia&#64;outlook.com</p>
      </div>
    </div>

    <div class="footer-widget">
      <h3 class="footer-widget__heading">Somos Cuackcolombia</h3>
      <p class="footer-widget__paragraph">
        En Cuackcolombia, ofrecemos una amplia gama de servicios de diseño gráfico y publicidad diseñados para impulsar tu marca y superar tus expectativas.
      </p>
      <p class="footer-widget__paragraph bold">Horario:</p>
      <p class="footer-widget__paragraph">
        <span class="footer-widget__paragraphtitle">Lun - Vie</span> 8:00 a.m. - 6:00 p.m.
      </p>
      <p class="footer-widget__paragraph">
        <span class="footer-widget__paragraphtitle space">Sab</span> 8:00 a.m. - 12:00 p.m.
      </p>

    </div>

    <div class="footer-widget">
      <h3 class="footer-widget__heading">Servicios</h3>
      <p class="footer-widget__paragraph vineta">Marketing Digital</p>
      <p class="footer-widget__paragraph vineta">Creación de Marca</p>
      <p class="footer-widget__paragraph vineta">Administración de Redes Sociales</p>
      <p class="footer-widget__paragraph vineta">Publicidad Estratégica</p>
      <p class="footer-widget__paragraph vineta">Ilustración</p>
      <p class="footer-widget__paragraph vineta optional">Diseño 3D</p>
      <p class="footer-widget__paragraph vineta optional">Experiencia de Usuario</p>
    </div>

    <div class="footer-widget spacing">
      <p class="footer-widget__paragraph vineta">Diseño 3D</p>
      <p class="footer-widget__paragraph vineta">Experiencia de Usuario</p>
    </div>

    <div class="footer-widget image">
      <img src="/assets/svg/croquis.svg" class="logo" alt="Croquis Mapa">
    </div>

  </div>

  <p class="copyright">
    <span class="copyright__bold">2024 Cuackcolombia -</span> Agencia de Marketing Digital Barranquilla Colombia
  </p>

</footer>
