<header class="header">
  <div class="header__barra contenedor">
    <div class="header__logo">
      <img src="/assets/img/logotipo.png" alt="Cuack-image">
    </div>
    <nav class="navegacion">
      <a routerLink="/inicio" class="navegacion__link">Inicio</a>
      <a routerLink="/quienes-somos" class="navegacion__link">Quiénes somos</a>
      <a routerLink="/nuestros-servicios" class="navegacion__link">Nuestros servicios</a>
      <a href="#" class="navegacion__link">Portafolio</a>
      <a href="#" class="navegacion__link">Blog</a>
      <a href="#" class="navegacion__link">Contáctanos</a>
    </nav>
  </div>
  <div class="contenedor">
    <div class="header__contenido">
      <div class="header__picture">
        <img src="/assets/img/dogs.png" alt="Dogs de portada">
      </div>
      <div class="header__descripcion">
        <h1 class="header__heading">Descubre Cómo Podemos<span class="header__green">Ayudarte</span></h1>
      </div>
    </div>
  </div>
</header>

<section class="identidades">
  <div class="identidades__container contenedor">
    <h4 class="identidades__home">Inicio › <span class="identidades__home__color">Nuestros Servicios</span></h4>

    <div class="identidades__grid">
      <div class="identidades__content">
        <h2 class="identidades__heading">Creamos Identidades <span class="identidades__subtitle">de Marca Únicas</span></h2>

        <p class="identidades__descripcion">
          En <span class="identidades__color">Cuackcolombia</span>, forjamos marcas excepcionales que conquistan el mundo. Nuestro compromiso no se limita a crecer, sino a evolucionar constantemente hacia la excelencia.
        </p>

        <p class="identidades__descripcion">
          Creemos en aquellos valientes que desafían las normas y se esfuerzan por alcanzar la grandeza. Somos impulsores de una nueva generación de empresas que desafían el statu quo y abrazan una mentalidad innovadora.
        </p>

        <p class="identidades__descripcion">
          Empresas a nivel global confían en nosotros para enfrentar los desafíos más apremiantes de sus respectivas industrias. Nuestro enfoque único, fusionando <span class="identidades__color">marketing, neurociencia, estadísticas e innovación</span>, nos permite orquestar soluciones que generan un alto impacto y resultados sostenibles.
        </p>

      </div>

      <div class="identidades__image">
        <img src="/assets/img/identidades.png" alt="Identidades">
      </div>
    </div>

    <div class="transformando">
      <h3 class="transformando__heading">Transformando Ideas en Realidad</h3>
      <h4 class="transformando__subheading">Nuestra Fundación para el Éxito</h4>

      <div class="transformando__grid">
        <div class="transformando__contenido">
          <img src="/assets/svg/transformando-1.svg" alt="Transformando imagen">
          <h4 class="transformando__title">Donde la Creatividad es una Ciencia</h4>
          <p class="transformando__descripcion">En <span class="transformando__color">Cuackcolombia</span>, expertos en mente y estrategia unen fuerzas. Utilizamos las últimas tendencias y psicología del consumidor para abordar cada proyecto integralmente.</p>
        </div>

        <div class="transformando__contenido">
          <img src="/assets/svg/transformando-2.svg" alt="Transformando imagen">
          <h4 class="transformando__title">Rompiendo Esquemas</h4>
          <p class="transformando__descripcion">Hemos dejado atrás las prácticas de marketing tradicionales en <span class="transformando__color">Cuackcolombia</span> para adoptar un enfoque disruptivo.</p>
        </div>

        <div class="transformando__contenido">
          <img src="/assets/svg/transformando-3.svg" alt="Transformando imagen">
          <h4 class="transformando__title">Evolucionando juntos</h4>
          <p class="transformando__descripcion">En <span class="transformando__color">Cuackcolombia</span>, tu evolución es nuestra prioridad. Mantenemos relaciones cercanas y transparentes para brindarte un servicio personalizado que potencie tu éxito continuo.</p>
        </div>

        <div class="transformando__contenido">
          <img src="/assets/svg/transformando-4.svg" alt="Transformando imagen">
          <h4 class="transformando__title">Pasión y Creatividad</h4>
          <p class="transformando__descripcion">La pasión impulsa <span class="transformando__color">Cuackcolombia</span>. En cada proyecto, generamos resultados excepcionales y dejamos una huella duradera en la publicidad y el diseño.</p>
        </div>
      </div>
    </div>

  </div>
</section>

<section class="nuestros-servicios">
  <div class="nuestros-servicios__container contenedor">
    <h2 class="nuestros-servicios__heading">Nuestros <span class="nuestros-servicios__color">servicios</span></h2>
    <p class="nuestros-servicios__descripcion">
      En Cuackcolombia, ofrecemos una amplia gama de servicios de diseño gráfico y publicidad diseñados para impulsar tu marca y superar tus expectativas. Nuestra pasión por la creatividad y la excelencia nos impulsa a brindar soluciones únicas que se adaptan a tus necesidades comerciales. Estos son algunos de los servicios que ofrecemos:
    </p>

    <div class="nuestros-servicios__grid">
      <div class="nuestros-servicios__image">
        <img src="/assets/img/nuestro-sorprenderte.png" alt="nuestro-sorprenderte">
      </div>

      <div class="nuestros-servicios__image">
        <img src="/assets/img/nuestro-diseno.png" alt="nuestro-diseno">
      </div>

      <div class="nuestros-servicios__image">
        <img src="/assets/img/nuestro-adoyen.png" alt="nuestro-adoyen">
      </div>

      <div class="nuestros-servicios__image">
        <img src="/assets/img/nuestro-fame.png" alt="nuestro-fame">
      </div>
    </div>

    <button class="nuestros-servicios__accion">Ver portafolio </button>
  </div>
</section>

<section class="solicitudes">
  <div class="solicitudes__container contenedor">
    <h2 class="solicitudes__heading">Solicitudes Especiales</h2>
    <h3 class="solicitudes__subheading">Transformando tu visión en realidad</h3>

    <p class="solicitudes__descripcion">
      En nuestra agencia, estamos comprometidos a brindar soluciones adaptadas a tus necesidades únicas. Si no encuentras exactamente lo que buscas en nuestras categorías de servicios, no te preocupes. Estamos aquí para crear trabajos a medida que reflejen tus ideas y objetivos. Nuestra creatividad no tiene límites, y estamos listos para dar vida a tus proyectos más ambiciosos. ¡Contáctanos hoy para discutir tus ideas y juntos haremos realidad tu visión.
    </p>

    <div class="solicitudes__grid">
      <img src="/assets/img/solicitudes-1.png" alt="Solicitudes 1">
      <img src="/assets/img/solicitudes-2.png" alt="Solicitudes 2">
      <img src="/assets/img/solicitudes-3.png" alt="Solicitudes 3">

    </div>

  </div>

</section>
