.header {
  min-height: 65rem;
  background-image: linear-gradient(277deg, rgba(26, 26, 26, 0.70) 46.33%, rgba(26, 26, 26, 0.00) 109.17%), url("/assets/img/fondo-selva.png");
  background-repeat: no-repeat;
  background-size:  100%, cover ;
  padding: 3rem 0;
  position: relative;
  overflow: hidden;
  margin-bottom: -6.2rem;

  &::after {
    content: '';
    background-color: #1D2025;
    //background-color: #275cb5;
    width: 120%;
    height: 13rem;
    position: absolute;
  }

  &:after {
    transform: rotate(3deg);
    top: 59rem;
    left: -.5rem;
  }


  &__contenido {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
  }

  &__barra {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

  }

  &__heading {
    color: #FFF;
    text-align: right;
    font-size: 8rem;
    font-weight: 800;
    line-height: 85px; /* 106.25% */
    text-transform: uppercase;
  }

  &__green {
    display: block;
    color: #A5CD00;
  }

  &__picture {
    height: 50rem;
    width: 86rem;
    object-fit: cover;
    margin: 0 0 0 -8.6rem;
  }
}

/*Navegacion*/

.navegacion {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 2rem;

  &__link {

    &--dropdown {
      cursor: pointer;
      transform: translateX(50%);
      &::before {
        content: '';
        position: absolute;
        top: 0.7rem;
        left: -0.7rem;
        transform: translateX(-50%);
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 6px solid #fff;
      }
    }

    &.active {
      border-bottom: 4px solid #F27E00;
      padding-bottom: 2rem;
      font-weight: 700;
    }

  }

  &__dropdown-menu {
    display: none;
    background-color: #ffffff;
    position: absolute;
    top: 3rem;
    left: 28rem;
    min-height: 15rem;
    border-radius: .5rem;
    width: 40%;
    padding: 2rem;
    transform: translateX(-50%);
    &::before {
      content: '';
      position: absolute;
      top: -.8rem; // Posición ajustable según tu diseño
      left: 50%;
      transform: translateX(-50%);
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid #fff; // Color de la pirámide
    }
    &.active {
      display: block;
    }
  }

  &__dropdown-item { // Corregido el nombre de la clase
    display: block;
    margin-bottom: 1rem; // Espacio entre ítems
    color: #1D2025;
  }
}
/*Section solicitudes*/
.identidades {
  min-height: 70rem;
  background-color: #1D2025;

  &__container {
    position: relative;
  }


  &__home {
    color: #FFFFFF;
    font-size: 1.6rem;
    font-weight: 400;
  }

  &__home__color {
    color: #F27E00;
    font-weight: 600;
  }

  &__grid {
    padding-top: 4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
    align-items: center;
  }

  &__heading {
    color: #FFFFFF;
    font-size: 4rem;
    font-weight: 600;
    line-height: 4.5rem;
    margin-bottom: 5rem;
  }

  &__subtitle {
    display: block;
    color: #A5CD00;
    font-weight: 800;
    margin-bottom: 2rem;
  }

  &__descripcion {
    font-size: 1.7rem;
    line-height: 2.5rem;
    color: #FFFFFF;
    font-weight: 300;
  }

  &__color {
    color: #A5CD00;
    font-size: 1.7rem;
    font-weight: 700;
    line-height: 2.5rem;
  }
}

/*Section transformando*/

.transformando {
  padding-top: 10rem;

  &__heading {
    color: #FFF;
    text-align: center;
    font-size: 3.4rem;
    font-weight: 800;
    line-height: 3.6rem;
    text-transform: uppercase;
  }

  &__subheading {
    color: #1D2025;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 6px;
    text-transform: uppercase;
    background-color: #A5CD00;
    width: 47.8rem;
    margin: 1.2rem auto;
  }

   &__grid {
     display: flex;
     align-items: baseline;
     gap: 1.5rem;
     padding-top: 4rem;

   }

  &__contenido {

    > img {
      margin: 0 auto;
    }
  }

  &__title {
    color: #FFF;
    text-align: center;
    font-size: 1.7rem;
    font-weight: 800;
    line-height: 4.3rem;
    text-transform: none;
    padding-top: 2.5rem;
  }

  &__descripcion {
    color: #FFF;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.5rem;
  }

  &__color {
    color: #F27E00;
    font-size: 1.7rem;
    font-weight: 700;
    line-height: 2.5rem;
  }
}

/*Nuestros servicios*/

.arrowOne{
  &::before {background-image: url("/assets/svg/icon-right-arrow-01.svg");}
}

.arrowTwo{
  &::before {background-image: url("/assets/svg/icon-right-arrow-02.svg");}
}
.arrowThree{
  &::before {background-image: url("/assets/svg/icon-right-arrow-03.svg");}
}
.arrowFour{
  &::before {background-image: url("/assets/svg/icon-right-arrow-04.svg");}
}

.backOne {
  border-radius: 0 0 1rem 1rem;

}

.backTwo {
  border-radius: 0 0 1rem 1rem;
}

.backThree {
  border-radius: 0 0 1rem 1rem;
}

.backFour {
  border-radius: 0 0 1rem 1rem;
}

.nuestros-servicios {
  min-height: 66rem;
  background-image: url(/assets/img/fondo-2.png);
  background-size: cover;
  background-position: -47rem;
  padding: 5rem;


  &__heading {
    color: #1D2025;
    font-size: 7rem;
    font-weight: 800;
    line-height: 6rem;
    text-transform: uppercase;
    text-align: center;
  }

  &__color {
    color: #1D2025;
    font-size: 7.6rem;
    font-weight: 300;
    line-height: 7rem;
    text-transform: uppercase;
    display: block;
  }

  &__descripcion {
    padding: 3rem 0;
    color: #000;
    text-align: justify;
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 2.5rem;
  }

  &__grid {
    display: flex;
    gap: 2rem;
    margin-bottom: 6rem;
  }

  &__card {
    cursor: pointer;

    &:hover {
      > .nuestros-servicios__imagen {
        filter: brightness(1.2);
      }

      > .backOne {
        background-color: #CF0028;
      }

      > .backTwo {
        background-color: #D24E00;
      }

      > .backThree {
        background-color: #25604B;
      }

      > .backFour {
        background-color: #0456A0;
      }

      > .nuestros-servicios__contenidos .nuestros-servicios__flecha::before {
        background-position: 0;
      }

    }

  }

  &__imagen {
    transition: filter ease-in-out .2s;
  }

  &__contenidos {
    background-color: #1D2025;
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: 1rem 2.5rem;
    transition: background-color ease-in-out .2s;

    &--spacing {
      padding: 2rem 2.5rem;
    }
  }

  &__spacing {
    display: block;
    content: '\A';
    white-space: pre;
  }

  &__subtitle {
    color: #ffffff;
    font-size: 1.7rem;
    font-weight: 700;
    margin: 0;
  }

  &__flecha {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 80px;
      height: 20px;
      background-size: contain;
      background-position-x: -6.6rem;
      background-repeat: no-repeat;
      transition: background-position 0.3s ease-in-out;
    }

    &:hover::before {
      background-position: 0;
    }
  }


  &__accion {
    display: block;
    border-radius: 3px;
    border: 2px solid #1D2025;
    background-color: transparent;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 1rem;
    width: 18.8rem;
    margin: 0 auto;
    cursor: pointer;
    transition: background-color ease-out .2s;

    &:hover {
      background-color: #1D2025;
      color: #ffffff;
    }
  }
}
/*Solicitudes*/

.solicitudes {
  min-height: 66rem;
  background-color: #1D2025;

  &__container {
    padding: 5rem 0;
  }

  &__heading {
    color: #FFF;
    text-align: center;
    font-size: 3.4rem;
    font-weight: 800;
    line-height: 4.8rem;
    text-transform: uppercase;
  }

  &__subheading {
    color: #1D2025;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 6px;
    text-transform: uppercase;
    background-color: #A5CD00;
    width: 53.3rem;
    margin: .2rem auto;
  }

  &__descripcion {
    padding: 5rem;
    color: #FFFFFF;
    text-align: justify;
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 2.5rem;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}

/*Section contacto*/

.contact {
  background-image: url("/assets/svg/fondo-blue.svg");
  background-repeat: no-repeat;
  background-position: left;
  position: relative;
  overflow: hidden;
  background-size: cover;
  margin-bottom: -8.2rem;

  &::before {
    content: '';
    background-color: #1D2025;
    width: 120%;
    height: 10rem;
    position: absolute;
  }

  &:before {
    transform: rotate(-3deg);
    top: -5rem;
    left: -1rem;
  }

  &__container {
    padding: 10rem 0 1.5rem 0;
  }

  &__imagen {
    margin-top: 3rem;
  }

  &__heading {
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
    line-height: 43px;
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    top: 15rem;
    right: 37rem;
  }

  &__heading--regular {
    color: #FFF;
    font-size: 4rem;
    font-weight: 300;
    line-height: 43px;
    text-transform: uppercase;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  &__form--heading {
    color: #FFFFFF;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 43px;
    text-transform: uppercase;
  }

  &__form--subheading {
    color: #FFF;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 43px;
    margin: 0;
  }

  &__form {
    align-self: center;
    position: relative;
    margin-left: 4rem;

    &::before {
      content: "";
      border-left: 2px solid #FFFFFF;
      width: 0.2rem;
      height: 44.4rem;
      color: #FFFFFF;
      position: absolute;
      top: -1rem;
      left: -4rem;
    }
  }
}

.form {

  &__field input[type="text"], input[type="email"] {
    border-radius: 10px;
    border: 1px solid #FFF;
    background-color: transparent;
    padding: 1rem;
    width: 26.8rem;
    margin: .5rem;
  }

  &__field textarea {
    border-radius: 6px;
    border: 1px solid #FFF;
    background-color: transparent;
    padding: 1rem;
    width: 54.8rem;
    margin: .5rem;
    height: 9.5rem;
  }

  &__field input::placeholder {
    color: #FFFFFF;
    font-weight: 300;
    line-height: 4.3rem;
  }

  &__field textarea::placeholder {
    color: #FFFFFF;
    font-weight: 300;
  }

  &__field--accion {
    border-radius: .3rem;
    border: 2px solid #F27E00;
    background-color: #F27E00;
    width: 17.6rem;
    padding: 1.2rem ;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 400;
    display: block;
    margin-top: 5rem;
    margin-left: .5rem;
  }
}



/*Footer*/

.footer {
  min-height: 62rem;
  background-image: url("/assets/img/footer.png");
  background-size: cover;
  position: relative;
  height: calc(100% + 1rem);

  &__grid {
    padding-top: 15rem;
    display: flex;
    flex-direction: row;
    gap: 3rem;
    margin-bottom: 7rem;
  }
}

.footer-widget {
  &__heading {
    color: #FFFFFF;
    font-size: 2rem;
  }

  &__paragraph {
    color: #FFFFFF;
    font-weight: 300;
    line-height: 2.5rem;
  }

  &__paragraphtitle {
    color: #F27E00;
    margin-right: .5rem;
    font-weight: 400;

  }

  .space {
    margin-right: 4.3rem;
  }

  &:nth-child(1) {
    width: 30%;
  }
  &:nth-child(2) {
    width: 28%;
  }

  &:nth-child(3) {
    width: 20%;
  }

  &:nth-child(4) {
    width: 22%;
  }
  &:nth-child(4) {
    width: 10%;
  }
}

.footer-widget-social {
  display: flex;
  gap: 1rem;
  margin: 3rem 0 3rem 1rem;
}

.footer-widget-contenido {

  &__info {
    color: #FFFFFF;
    font-weight: 300;
  }

  &__bold {
    color: #FFFFFF;
    font-weight: bold;
  }

}

.vineta {
  position: relative;

  &::before {
    content: url("/assets/svg/ellipse.svg");
    width: 1rem;
    position: absolute;
    left: -1rem;
  }
}

.spacing {
  margin-top: 2rem;
}

.bold {
  font-weight: bold;
}

.copyright {
  border-top: 1px solid #D9D9D9;;
  color: #fff;
  font-size: 1.6rem;
  margin: 0 auto;
  max-width: 130rem;
  padding: 2.5rem;
  text-align: center;

  &__bold {
    color: #F27E00;
  }
}

