<section class="identidades">
  <div class="identidades__container contenedor">

    <div class="identidades__grid">
      <div class="identidades__content">
        <h2 class="identidades__heading">Conectando con el Mundo <span class="identidades__subtitle">Estrategias que Impactan</span></h2>

        <p class="identidades__descripcion">
          <span class="identidades__color">La efectividad de la estrategia y la publicidad</span> es fundamental en cualquier campaña exitosa. En el ámbito de la Publicidad y Gestión de Redes, no nos limitamos a crear anuncios; concebimos estrategias que establecen conexiones sólidas entre tu marca y la audiencia adecuada.
        </p>

        <p class="identidades__descripcion">
          Nuestro compromiso es garantizar que cada recurso invertido en publicidad dé lugar a resultados medibles y a un retorno de inversión positivo. Desde anuncios altamente segmentados hasta campañas de marketing en diversas plataformas, nos dedicamos a difundir tu mensaje de manera impactante y efectiva.
        </p>

      </div>

      <div class="identidades__image">
        <img src="assets/img/navegando-4.png" alt="Navegando">
      </div>
    </div>

  </div>
</section>

<section class="servicios">
  <h2 class="servicios__heading">Nuestros servicios</h2>

  <div class="servicios__grid contenedor">

    <div class="servicios__card">
      <div class="servicios__image">
        <img src="/assets/svg/servicios-4-1.svg" alt="">
      </div>
      <h4 class="servicios__title">Optimización de Campañas Publicitarias</h4>
      <span class="servicios__separator"></span>
      <p class="servicios__paragraph">
        Hacemos un seguimiento constante para mejorar y ajustar las campañas publicitarias.
      </p>
    </div>

    <div class="servicios__card">
      <div class="servicios__image">
        <img src="/assets/svg/servicios-4-2.svg" alt="">
      </div>
      <h4 class="servicios__title">Desarrollo de Estrategias de Comunicación</h4>
      <span class="servicios__separator"></span>
      <p class="servicios__paragraph">
        Creamos estrategias que amplifican tu voz y te ayudan a alcanzar tus objetivos.
      </p>
    </div>

    <div class="servicios__card">
      <div class="servicios__image">
        <img src="/assets/svg/servicios-4-3.svg" alt="">
      </div>
      <h4 class="servicios__title">Contenido Relevante y Auténtico</h4>
      <span class="servicios__separator"></span>
      <p class="servicios__paragraph">
        Creamos contenido que resuena con tu audiencia y agrega valor.
      </p>
    </div>

  </div>
</section>

<section class="trabajamos">
  <h2 class="trabajamos__heading">Cómo Trabajamos</h2>
  <h3 class="trabajamos__subheading">nuestro camino a la excelencia</h3>

  <div class="trabajamos__grid contenedor">

    <div class="trabajamos__contenido">
      <h4 class="trabajamos__title">Análisis de Audiencia</h4>
      <p class="trabajamos__paragraph">
        Comprendemos a tu audiencia y sus necesidades para adaptar la comunicación.
      </p>
    </div>

    <div class="trabajamos__contenido">
      <h4 class="trabajamos__title">Estrategias Personalizadas</h4>
      <p class="trabajamos__paragraph">
        Desarrollamos estrategias que se ajusten a tus objetivos y mensaje.
      </p>
    </div>

    <div class="trabajamos__contenido">
      <h4 class="trabajamos__title">Seguimiento y Evaluación Continua</h4>
      <p class="trabajamos__paragraph">
        Medimos el impacto y realizamos ajustes para garantizar resultados positivos.
      </p>
    </div>
  </div>
</section>

<section class="trabajos">
  <div class="trabajos__container contenedor">
    <h2 class="trabajos__heading">Algunos de <span class="trabajos__color">nuestros trabajos</span></h2>
    <div class="trabajos__grid">
      <img src="/assets/img/trabajos-4-1.png" alt="">
      <img src="/assets/img/trabajos-4-2.png" alt="">
      <img src="/assets/img/trabajos-4-3.png" alt="">
    </div>
  </div>
</section>

<section class="especiales">
  <h2 class="especiales__heading">Solicitudes Especiales</h2>
  <h3 class="especiales__subheading">Transformando Tu Visión en Realidad</h3>
  <p class="especiales__paragraph">
    En nuestra agencia, estamos comprometidos a brindar soluciones adaptadas a tus necesidades únicas. Si no encuentras exactamente lo que buscas en nuestras categorías de servicios, no te preocupes. Estamos aquí para crear trabajos a medida que reflejen tus ideas y objetivos. Nuestra creatividad no tiene límites, y estamos listos para dar vida a tus proyectos más ambiciosos. ¡Contáctanos hoy para discutir tus ideas y juntos haremos realidad tu visión.
  </p>

  <div class="especiales__grid contenedor">
    <img src="/assets/img/especiales-4-1.png" alt="">
    <img src="/assets/img/especiales-4-2.png" alt="">
    <img src="/assets/img/especiales-4-3.png" alt="">
  </div>
</section>
<app-contact></app-contact>
<app-footer></app-footer>

