.header {
  min-height: 65rem;
  background-image: linear-gradient(277deg, rgba(26, 26, 26, 0.70) 46.33%, rgba(26, 26, 26, 0.00) 109.17%), url("/assets/img/fondo-about.png");
  background-repeat: no-repeat;
  background-size:  100%, cover ;
  padding: 3rem 0;
  position: relative;
  overflow: hidden;
  margin-bottom: -6.2rem;

  &::after {
    content: '';
    background-color: #1D2025;
    //background-color: #275cb5;
    width: 120%;
    height: 13rem;
    position: absolute;
  }

  &:after {
    transform: rotate(3deg);
    top: 57rem;
    left: -.5rem;
  }


  &__barra {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

  }

  &__heading {
    color: #FFF;
    text-align: right;
    font-size: 8rem;
    font-weight: 800;
    line-height: 85px; /* 106.25% */
    text-transform: uppercase;
  }

  &__green {
    color: #A5CD00;
  }

  &__picture {
    height: 50rem;
    width: 86rem;
    object-fit: cover;
    margin: 0 0 0 -8.6rem;
  }

  &__contenido {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
  }
}

.navegacion {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;

  &__link {

  }
}

.about {
  min-height: 70rem;
  background-color: #1D2025;

  &__container {
    position: relative;
  }

  &__home {
    color: #FFFFFF;
    font-size: 1.6rem;
    font-weight: 400;
  }

  &__home__color {
    color: #F27E00;
    font-weight: 600;
  }

  &__grid {
    padding-top: 4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
    align-items: center;
  }

  &__heading {
    color: #FFFFFF;
    font-size: 4rem;
    font-weight: 600;
    line-height: 4.5rem;
  }

  &__subtitle {
    color: #A5CD00;
    font-weight: 800;
    margin-bottom: 2rem;

    &::before {
      content: url("/assets/svg/pisadas-footer.svg");
      position: absolute;
      top: 62rem;
      right: 2rem;
    }

    &::after {
      content: url("/assets/svg/pato.svg");
      position: absolute;
      top: 49rem;
      right: -13rem;
    }
  }

  &__descripcion {
    font-size: 1.7rem;
    line-height: 2.5rem;
    color: #FFFFFF;
    font-weight: 300;
  }
}

/*Nuestro compromiso */

.compromiso {
  min-height: 66rem;
  background-image: url("/assets/svg/fondo-quienes-somos.svg");
  background-repeat: no-repeat;
  background-size: 100%, cover;
  padding-bottom: 3rem;


  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    align-items: end;
    padding: 5rem 0 0 0;
  }

  &__heading {
    color: #1D2025;
    font-size: 4rem;
    font-weight: 700;
    line-height: 4.5rem;
  }

  &__content {
    text-align: center;
  }

  &__subheading {
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
    line-height: 4.5rem;
    white-space: pre;
    margin-left: 15rem;
  }

  &__parrafo {
    color: #FFFFFF;
    font-weight: 300;
    text-align: justify;
    line-height: 2.5rem;
    padding-top: 3rem;

    &.spacing {
      padding: .5rem 0 0 0;
    }

  }

  &__subtitle {
    color: #FFF;
    font-size: 3rem;
    font-weight: 300;
    line-height: 4.5rem;
    padding: 2rem 0;

    &__content {
      color: #FFF;
      font-size: 4.6rem;
      font-weight: 700;
      line-height: 4.5rem;
      white-space: pre;
    }
  }

}

.contenido {
  &__grid {
    display: flex;
    align-items: baseline;
    gap: 2rem;
  }

  &__descripcion {
    color: #FFFFFF;
  }
}
