<header class="header">
  <div class="header__barra contenedor">
    <div class="header__logo">
      <img src="/assets/img/logotipo.png" alt="Cuack-image">
    </div>
    <nav class="navegacion">
      <a routerLink="/inicio" class="navegacion__link">Inicio</a>
      <a routerLink="/quienes-somos" class="navegacion__link">Quiénes somos</a>
      <a routerLink="/nuestros-servicios" class="navegacion__link">Nuestros servicios</a>
      <a href="#" class="navegacion__link">Portafolio</a>
      <a href="#" class="navegacion__link">Blog</a>
      <a href="#" class="navegacion__link">Contáctanos</a>
    </nav>
  </div>
  <div class="contenedor">
    <div class="header__contenido">
      <div class="header__picture">
        <img src="/assets/img/miembros.png" alt="Pato de portada">
      </div>

      <div class="header__descripcion">
        <h1 class="header__heading">Nuestra Identidad y <span class="header__green">Pasión Creativa</span></h1>
      </div>
    </div>
  </div>
</header>

<section class="about">
  <div class="about__container contenedor">
    <h4 class="about__home">Inicio › <span class="about__home__color">Quiénes Somos</span></h4>

    <div class="about__grid">
      <div class="about-imagen">
        <img src="/assets/img/el-camino.png" alt="El camino">
      </div>
      <div class="about__content">
        <h2 class="about__heading">El camino a <span class="about__subtitle">Cuackcolombia</span></h2>
        <p class="about__descripcion">
          En Cuackcolombia, creemos que la búsqueda de la felicidad es el motor de la vida. Nuestro equipo está formado por individuos talentosos que valoran la empatía y el equilibrio en todas las esferas de la vida. Este enfoque se refleja en nuestras relaciones con nuestro equipo interno y en la forma en que trabajamos con nuestros clientes. Nuestro camino nos llevó a un punto de inflexión que nos inspiró a fundar Cuackcolombia.
        </p>
        <p class="about__descripcion">
          Cada diseño que creamos es una obra de arte que refleja nuestro compromiso con la excelencia y la búsqueda constante de la felicidad, tanto en nuestra agencia como en el mundo que tocamos con nuestro trabajo.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="compromiso">
  <div class="compromiso__container contenedor">

    <div class="compromiso__grid">
      <div class="compromiso__content">
        <h2 class="compromiso__heading">Nuestro Compromiso <span class="compromiso__subheading">con el Crecimiento</span></h2>

        <p class="compromiso__parrafo">
          Nuestra misión va más allá del diseño y la publicidad. Nos comprometemos a ser una mejor versión de nosotros mismos, y comprendemos que esto nos permite ofrecer un servicio excepcional. Por eso, hemos establecido nuestro compromiso de crecimiento:
        </p>

        <h3 class="compromiso__subtitle">Cuackcolombia creciendo <span class="compromiso__subtitle__content">en 5 Áreas Clave </span></h3>

        <div class="contenido__grid">
          <div class="contenido__imagen">
            <img src="/assets/svg/creatividad-ilimitada.svg" alt="creatividad ilimitada">
            <p class="contenido__descripcion">
              Creatividad ilimitada
            </p>
          </div>

          <div class="contenido__imagen">
            <img src="/assets/svg/comunicacion-clara.svg" alt="comunicacion clara">
            <p class="contenido__descripcion">
              Comunicación clara
            </p>
          </div>

          <div class="contenido__imagen">
            <img src="/assets/svg/etica-profesional.svg" alt="etica profesional">
            <p class="contenido__descripcion">
              Ética profesional
            </p>
          </div>

          <div class="contenido__imagen">
            <img src="/assets/svg/aprendizaje-continuo.svg" alt="aprendizaje continuo">
            <p class="contenido__descripcion">
              Aprendizaje continuo
            </p>
          </div>

          <div class="contenido__imagen">
            <img src="/assets/svg/experiencia-premium.svg" alt="Experiencia premium">
            <p class="contenido__descripcion">
              Experiencia
              del Cliente
              Premium
            </p>
          </div>
        </div>

      </div>
      <div class="compromiso__imagen">
        <img src="/assets/img/grupospng.png" alt="Grupos">
      </div>
    </div>
    <p class="compromiso__parrafo spacing">A través de nuestro compromiso con el crecimiento constante en estas áreas, no solo nos esforzamos por ser una mejor versión de nosotros mismos, sino que también buscamos ofrecerte un servicio de calidad superior en diseño y publicidad. Cuackcolombia es una agencia comprometida con el desarrollo continuo y la excelencia, y esperamos compartir esta visión contigo en cada proyecto que emprendamos.</p>
  </div>
</section>

<section class="experiencia">
  <div class="experiencia__grid">
    <div class="experiencia__image">
      <img src="/assets/img/mr-tom-mesa-de-trabajo.png" alt="mr-tom-mesa-de-trabajo">
    </div>
    <div class="experiencia__content">
      <h2 class="experiencia__heading">Más de 5 años de <span class="experiencia__color">Experiencia</span></h2>
      <p class="experiencia__descripcion">Con más de 5 años de experiencia, Cuackcolombia ha demostrado su habilidad para crear marcas impactantes, estrategias efectivas y soluciones visuales innovadoras. Nuestra experiencia sólida y versátil nos permite abordar una amplia gama de proyectos, desde la creación de identidades de marca hasta renders 3D. Esta experiencia es la base de nuestro compromiso con la excelencia y la satisfacción del cliente, y nos coloca a la vanguardia de la industria.</p>
      <button class="experiencia__accion">VER PORTAFOLIO</button>
    </div>
  </div>
</section>

<section class="experiencia--diversa">
  <div class="experiencia--diversa__grid">
    <div class="experiencia--diversa__content">
      <h2 class="experiencia--diversa__heading">Experiencia en <span class="experiencia--diversa__color">Diversos Sectores</span></h2>
      <p class="experiencia--diversa__descripcion">
        Hemos aplicado nuestros conocimientos y creatividad en una variedad de sectores, trabajando en proyectos que abarcan diferentes mercados, tales como:
      </p>
      <p class="experiencia--diversa__descripcion">
        Comidas rápidas, Cirujanos, Droguerías, Hotelería,Ropa para niños, inmobiliarias y muchas mas.
      </p>
      <p class="experiencia--diversa__descripcion">
        Trabajamos en todos los campos, garantizando siempre resultados excepcionales.
      </p>

      <button class="experiencia--diversa__accion">Leer más</button>

    </div>
    <div class="experiencia--diversa__image">
      <img src="/assets/img/experiencia-diversa.png" alt="experiencia-diversa">
    </div>
  </div>
</section>

<footer class="footer">
  <div class="footer__grid contenedor">
    <div class="footer-widget">
      <img src="/assets/img/logotipo.png" alt="Logo Cuack">

      <div class="footer-widget-social">
        <img src="/assets/svg/logo-facebook.svg" alt="Logo facebook">
        <img src="/assets/svg/logo-instagram.svg" alt="Logo instagram">
        <img src="/assets/svg/logo-x.svg" alt="Logo x">
      </div>

      <div class="footer-widget-contenido">
        <p class="footer-widget-contenido__info">Comunícate con nosotros</p>
        <p class="footer-widget-contenido__info"><span class="footer-widget-contenido__bold">Telefono:</span>  304 3050263</p>
        <p class="footer-widget-contenido__info"><span class="footer-widget-contenido__bold">Email:</span> cuackcolombia&#64;outlook.com</p>
      </div>
    </div>

    <div class="footer-widget">
      <h3 class="footer-widget__heading">Somos Cuackcolombia</h3>
      <p class="footer-widget__paragraph">
        En Cuackcolombia, ofrecemos una amplia gama de servicios de diseño gráfico y publicidad diseñados para impulsar tu marca y superar tus expectativas.
      </p>
      <p class="footer-widget__paragraph bold">Horario:</p>
      <p class="footer-widget__paragraph">
        <span class="footer-widget__paragraphtitle">Lun - Vie</span> 8:00 a.m. - 6:00 p.m.
      </p>
      <p class="footer-widget__paragraph">
        <span class="footer-widget__paragraphtitle space">Sab</span> 8:00 a.m. - 12:00 p.m.
      </p>

    </div>

    <div class="footer-widget">
      <h3 class="footer-widget__heading">Servicios</h3>
      <p class="footer-widget__paragraph vineta">Marketing Digital</p>
      <p class="footer-widget__paragraph vineta">Creación de Marca</p>
      <p class="footer-widget__paragraph vineta">Administración de Redes Sociales</p>
      <p class="footer-widget__paragraph vineta">Publicidad Estratégica</p>
      <p class="footer-widget__paragraph vineta">Ilustración</p>
    </div>

    <div class="footer-widget spacing">
      <p class="footer-widget__paragraph vineta">Diseño 3D</p>
      <p class="footer-widget__paragraph vineta">Experiencia de Usuario</p>
    </div>

    <div class="footer-widget">
      <img src="/assets/svg/croquis.svg" class="logo" alt="Croquis Mapa">
    </div>

  </div>

  <p class="copyright">
    <span class="copyright__bold">2024 Cuackcolombia -</span> Agencia de Marketing Digital Barranquilla Colombia
  </p>

</footer>
