<header class="header">
  <div class="header__barra contenedor">
    <div class="header__logo">
      <img src="/assets/img/logotipo.png" alt="Cuack-image">
    </div>
    <nav class="navegacion">
      <a href="#" class="navegacion__link">Inicio</a>
      <a href="#" class="navegacion__link">Quiénes somos</a>
      <a href="#" class="navegacion__link">Nuestros servicios</a>
      <a href="#" class="navegacion__link">Portafolio</a>
      <a href="#" class="navegacion__link">Blog</a>
      <a href="#" class="navegacion__link">Contáctanos</a>
    </nav>
  </div>
  <div class="contenedor">
    <div class="header__contenido">
      <div class="header__picture">
        <img src="/assets/img/miembros.png" alt="Pato de portada">
      </div>

      <div class="header__descripcion">
        <h1 class="header__heading">Nuestra Identidad y <span class="header__green">Pasión Creativa</span></h1>
      </div>
    </div>
  </div>
</header>

<section class="about">
  <div class="about__container contenedor">
    <h4 class="about__home">Inicio › <span class="about__home__color">Quiénes Somos</span></h4>

    <div class="about__grid">
      <div class="about-imagen">
        <img src="/assets/img/el-camino.png" alt="El camino">
      </div>
      <div class="about__content">
        <h2 class="about__heading">El camino a <span class="about__subtitle">Cuackcolombia</span></h2>
        <p class="about__descripcion">
          En Cuackcolombia, creemos que la búsqueda de la felicidad es el motor de la vida. Nuestro equipo está formado por individuos talentosos que valoran la empatía y el equilibrio en todas las esferas de la vida. Este enfoque se refleja en nuestras relaciones con nuestro equipo interno y en la forma en que trabajamos con nuestros clientes. Nuestro camino nos llevó a un punto de inflexión que nos inspiró a fundar Cuackcolombia.
        </p>
        <p class="about__descripcion">
          Cada diseño que creamos es una obra de arte que refleja nuestro compromiso con la excelencia y la búsqueda constante de la felicidad, tanto en nuestra agencia como en el mundo que tocamos con nuestro trabajo.
        </p>
      </div>
    </div>
  </div>
</section>

<section>
  <h2>Nuestro Compromiso con el Crecimiento</h2>
</section>

