.header {
  min-height: 65rem;
  background-image: linear-gradient(277deg, rgba(26, 26, 26, 0.70) 46.33%, rgba(26, 26, 26, 0.00) 109.17%), url("/assets/img/fondo-about-mobile.png");
  background-repeat: no-repeat;
  background-size:  100%, cover ;
  padding: 3rem 0;
  position: relative;
  overflow: hidden;
  margin-bottom: -6.2rem;

  @media screen and (min-width: 768px){
    min-height: 65rem;
    background-image: linear-gradient(277deg, rgba(26, 26, 26, 0.70) 46.33%, rgba(26, 26, 26, 0.00) 109.17%), url("/assets/img/fondo-about.png");
    background-repeat: no-repeat;
    background-size:  100%, cover ;
    padding: 3rem 0;
    position: relative;
    overflow: hidden;
  }

  &::after {
    content: '';
    background-color: #1D2025;
    width: 120%;
    height: 13rem;
    position: absolute;
  }

  &:after {
    transform: rotate(-3deg);
    top: 54rem;
    left: -.5rem;

    @media screen  and (min-width: 768px){
      transform: rotate(3deg);
      top: 57rem;

    }
  }

  &__container {
    display: none;

    @media screen and (min-width: 768px) {
      display: block;
    }
  }

  &__mobile {
    @media screen and (min-width: 768px){
      display: none;
    }
  }


  &__barra {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__picture__mobile {
    margin: 0 auto;
    width: fit-content;
    padding-top: 4rem;
  }

  &__heading {
    color: #FFF;
    text-align: right;
    font-size: 8rem;
    font-weight: 800;
    line-height: 85px; /* 106.25% */
    text-transform: uppercase;

    &--mobile {
      font-size: 2.8rem;
      line-height: 3rem;
      text-align: center;
      padding-top: 8rem;
    }


  }

  &__green {
    color: #A5CD00;

    &--mobile {
      display: block;
    }
  }

  &__picture {
    height: 50rem;
    width: 86rem;
    object-fit: cover;
    margin: 0 0 0 -8.6rem;
  }

  &__contenido {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
  }
}

.navegacion {
  display: none;
  @media screen and (min-width: 768px){
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 2rem;

    &__link {

      &--dropdown {
        cursor: pointer;
        transform: translateX(50%);
        &::before {
          content: '';
          position: absolute;
          top: 0.7rem;
          left: -0.7rem;
          transform: translateX(-50%);
          border-left: 6px solid transparent;
          border-right: 6px solid transparent;
          border-top: 6px solid #fff;
        }
      }

      &.active {
        border-bottom: 4px solid #F27E00;
        padding-bottom: 2rem;
        font-weight: 700;
      }

  }
    &__dropdown-menu {
      display: none;
      background-color: #ffffff;
      position: absolute;
      top: 3rem;
      left: 28rem;
      min-height: 15rem;
      border-radius: .5rem;
      width: 40%;
      padding: 2rem;
      transform: translateX(-50%);
      &::before {
        content: '';
        position: absolute;
        top: -.8rem; // Posición ajustable según tu diseño
        left: 50%;
        transform: translateX(-50%);
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #fff; // Color de la pirámide
      }
      &.active {
        display: block;
      }
    }

    &__dropdown-item { // Corregido el nombre de la clase
      display: block;
      margin-bottom: 1rem; // Espacio entre ítems
      color: #1D2025;
    }

  }


}
/*Acerca de */
.about {
  min-height: 70rem;
  background-color: #1D2025;
  padding-bottom: 20rem;

  @media screen and (min-width: 768px){
    padding-bottom: 0;

  }

  &__container {
    position: relative;
    padding: 0 2rem;

    @media screen and (min-width: 768px){
      padding: 0;

    }
  }

  &__home {
    color: #FFFFFF;
    font-size: 1.6rem;
    font-weight: 400;
  }

  &__home__color {
    color: #F27E00;
    font-weight: 600;
  }

  &__grid {
    padding-top: 4rem;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: unset;

    @media screen and (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 5rem;
      align-items: center;

    }
  }

  &__heading {
    color: #FFFFFF;
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 3rem;
    padding-top: 4rem;

    @media screen and (min-width: 768px){
      font-size: 4rem;
      padding-top: 0;
      line-height: 4.5rem;

    }
  }

  &__subtitle {
    color: #A5CD00;
    font-weight: 800;
    display: block;
    @media screen and (min-width: 768px){
      margin-bottom: 2rem;

    }

    &::before {
      content: url("/assets/svg/pisadas-mobile.svg");
      position: absolute;
      top: 100%;
      left: 8%;
      @media screen and (min-width: 768px){
        content: url("/assets/svg/pisadas-footer.svg");
        position: absolute;
        top: 62rem;
        right: 2rem;
      }
    }

    &::after {
      content: '';
      @media screen and (min-width: 768px){
        content: url("/assets/svg/pato.svg");
        position: absolute;
        top: 49rem;
        right: -13rem;

      }
    }
  }

  &__descripcion {
    font-size: 1.7rem;
    line-height: 2.5rem;
    color: #FFFFFF;
    font-weight: 300;
    padding-top: 2rem;
    @media screen and (min-width: 768px){
      padding-top: 0;

    }
  }
}

/*Nuestro compromiso */
.compromiso {
  min-height: 66rem;
  background-image: url("/assets/svg/fondo-quienes-somos.svg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 3rem;

  @media screen and (min-width: 768px){
    background-size: 100%, cover;
  }


  &__grid {
    display: flex;
    flex-direction: column;
    padding: 5rem 2rem 0 2rem;

    @media screen and (min-width: 768px){
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
      align-items: end;
      padding: 5rem 0 0 0;
    }
  }

  &__heading {
    color: #1D2025;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 2rem;

    @media screen and (min-width: 768px){
      font-size: 4rem;
      line-height: 4.5rem;
    }
  }

  &__content {
    padding-bottom: 3rem;
    @media screen and (min-width: 768px){
      text-align: center;
      padding-bottom: 0;

    }
  }

  &__subheading {
    color: #FFF;
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 4.5rem;
    white-space: pre;
    margin-left: 6rem;

    @media screen and (min-width: 768px){
      font-size: 4.5rem;
      margin-left: 15rem;

    }
  }

  &__parrafo {
    color: #FFFFFF;
    font-weight: 300;
    text-align: justify;
    line-height: 2.5rem;
    padding-top: 6rem;

    &.spacing {
      padding: 4rem 2rem;

      @media screen and (min-width: 768px) {
        padding: .5rem 0 0 0;
        margin: 0;

      }
    }

  }

  &__subtitle {
    color: #FFF;
    font-weight: 300;
    font-size: 2.5rem;
    line-height: 3rem;
    padding: 2rem 0;
    text-align: center;

    @media screen and (min-width: 768px){
      font-size: 3rem;
      line-height: 4.5rem;

    }

    &__content {
      color: #FFF;
      font-size: 3.2rem;
      font-weight: 700;
      line-height: 4.5rem;
      white-space: pre;

      @media screen and (min-width: 768px){
        font-size: 4.6rem;
      }
    }
  }

}

.contenido {
  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    align-items: baseline;
    justify-items: center;

    @media screen and (min-width: 768px){
      display: flex;
      align-items: baseline;
      gap: 2rem;
    }

  }

  &__imagen {
    margin: 0 auto;

    &:nth-child(5) {
      display: none;
    }
    @media screen and (min-width: 768px){
      &:nth-child(5) {
        display: block;
      }
    }
  }

  &__descripcion {
    color: #FFFFFF;
    font-size: 1.4rem;
    @media screen and (min-width: 768px){
      font-size: 2rem;

    }
  }
}

/*Mas de 5 años de Experiencia*/
.experiencia {
  background-image: linear-gradient(180deg, #E2E3E5 43.75%, #D1D5D8 67.71%);
  padding: 4rem 0;
  min-height: 66rem;

  &__grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 2.5rem;
    @media screen and (min-width: 768px){
      grid-template-columns: repeat(2, 1fr);
      gap: 3rem;
      padding: 2rem;

    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 4rem;
    @media screen and (min-width: 768px){
      padding: 6rem;
    }
  }

  &__heading {
    color: #1D2025;
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 3rem;

    @media screen and (min-width: 768px){
      font-size: 4rem;
      line-height: 4.5rem;

    }
  }

  &__color {
    color: #2C6953;
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 4.5rem;
    display: block;

    @media screen and (min-width: 768px){
      font-size: 4rem;

    }
  }

  &__descripcion {
    color: #000;
    text-align: justify;
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 2.5rem;
    padding-top: 3rem;

    @media screen and (min-width: 768px){
      padding-top: 0;

    }
  }

  &__accion {
    border-radius: 3px;
    border: 2px solid #1D2025;
    background-color: transparent;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 1rem;
    width: 50%;
    margin: 2rem auto;
    transition: background-color ease-out .2s;
    cursor: pointer;

    @media screen and (min-width: 768px){
      width: 30%;
      margin: 0 auto;

    }

    &:hover {
      background-color: #1D2025;
      color: #ffffff;
    }
  }
}

/*Experiencia diversa*/

.experiencia--diversa {
  min-height: 77rem;
  background-image: url("/assets/svg/fondo-estrellado.svg");
  background-repeat: no-repeat;
  margin-bottom: -4rem;
  padding-bottom: 6rem;

  @media screen and (min-width: 768px){
    min-height: 72rem;
    padding-bottom: 0;
    margin-bottom: -9rem;
  }

  &__grid {
    display: none;
    @media screen and (min-width: 768px){
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      padding: 2rem 0 2rem 2rem;
    }
    &--mobile {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      padding: 3rem;
      @media screen and (min-width: 768px){
        display: none;
      }
    }
  }

  &__content {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media screen and (min-width: 768px){
      padding: 8rem;

    }
  }

  &__heading {
    color: #FFF;
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 2.5rem;

    @media screen and (min-width: 768px){
      font-size: 4rem;
      line-height: 4.5rem;

    }
  }

  &__color {
    color: #A5CD00;
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 4.5rem;
    white-space: pre;

    @media screen and (min-width: 768px){
      font-size: 4rem;

    }
  }

  &__image {
    padding: 4rem 0;
    @media screen and (min-width: 768px){
      padding-top: 0;

    }
  }

  &__descripcion {
    color: #FFF;
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 2.5rem;

    &:nth-child(3) {
      font-weight: 700;
    }
  }

  &__accion {
    display: block;
    color: #FFFFFF;
    border-radius: 3px;
    border: 2px solid #F27E00;
    background-color: transparent;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 400;
    line-height: 166.5%;
    text-transform: uppercase;
    padding: 1rem;
    width: 50%;
    margin: 3rem auto;
    cursor: pointer;
    transition: background-color ease-out .2s;

    @media screen and (min-width: 768px){
      width: 30%;

    }

    &:hover {
      background-color: #F27E00;
      color: #1D2025;
    }
  }

  &__image {
    margin: auto;
  }
}

/*Footer*/
.footer {
  min-height: 62rem;
  background-image: url("/assets/img/footer-mobile.png");
  background-size: cover;
  position: relative;

  @media screen and (min-width: 768px){
    background-image: url("/assets/img/footer.png");
    height: calc(100% + 1rem);

  }

  &__grid {
    padding: 7rem 2rem;
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 768px){
      padding: 15rem 0;
      flex-direction: row;
      gap: 3rem;
      margin-bottom: 7rem;

    }
  }
}

.footer-widget {
  &__heading {
    color: #FFFFFF;
    font-size: 2rem;
  }

  &__paragraph {
    color: #FFFFFF;
    font-weight: 300;
    line-height: 2.5rem;
  }

  &__paragraphtitle {
    color: #F27E00;
    margin-right: .5rem;
    font-weight: 400;

  }

  .space {
    margin-right: 4.3rem;
  }

  &:nth-child(1) {
    width: 90%;
    @media screen and (min-width: 768px){
      width: 30%;

    }
  }
  &:nth-child(2) {
    width: 80%;
    @media screen and (min-width: 768px) {
      width: 28%;
    }
  }

  &:nth-child(3) {
    width: 80%;
    @media screen and (min-width: 768px){
      width: 20%;
    }
  }

  &:nth-child(4) {
    width: 80%;
    @media screen and (min-width: 768px){
      width: 22%;
    }
  }
  &:nth-child(4) {
    width: 80%;
    @media screen and (min-width: 768px){
      width: 10%;
    }
  }
}

.footer-widget-social {
  display: flex;
  gap: 1rem;
  margin: 3rem 0 3rem 1rem;
}

.footer-widget-contenido {

  &__info {
    color: #FFFFFF;
    font-weight: 300;
  }

  &__bold {
    color: #FFFFFF;
    font-weight: bold;
  }

}

.vineta {
  position: relative;

  &::before {
    content: url("/assets/svg/ellipse.svg");
    width: 1rem;
    position: absolute;
    left: -1rem;
  }
}

.optional {
  @media screen and (min-width: 768px){
    display: none;
  }
}

.spacing {
  display: none;
  @media screen and (min-width: 768px){
    display: block;
    margin-top: 2rem;
  }
}


.image {
  display: none;
  @media screen and (min-width: 768px){
    display: block;
  }
}

.bold {
  font-weight: bold;
}

.copyright {
  border-top: 1px solid #D9D9D9;;
  color: #fff;
  font-size: 1.6rem;
  margin: 0 auto;
  max-width: 130rem;
  padding: 2.5rem;
  text-align: center;

  &__bold {
    color: #F27E00;
  }
}
