.header {
  min-height: 65rem;
  background-image: linear-gradient(277deg, rgba(26, 26, 26, 0.70) 46.33%, rgba(26, 26, 26, 0.00) 109.17%), url("/assets/img/fondo-about.png");
  background-repeat: no-repeat;
  background-size:  100%, cover ;
  padding: 3rem 0;
  position: relative;
  overflow: hidden;
  margin-bottom: -2.2rem;

  &__barra {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

  }

  &__heading {
    color: #FFF;
    text-align: right;
    font-size: 8rem;
    font-weight: 800;
    line-height: 85px; /* 106.25% */
    text-transform: uppercase;
  }

  &__green {
    color: #A5CD00;
  }

  &__picture {
    margin-top: 5.5rem;
    height: 50rem;
    width: 66rem;
    object-fit: cover;
  }

  &__contenido {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }
}

.navegacion {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;

  &__link {

  }
}

.about {
  min-height: 80rem;
  background-color: #1D2025;
  padding: 8rem 0;

  &__container {
    position: relative;
  }

  &__home {
    color: #FFFFFF;
    font-size: 1.6rem;
    font-weight: 400;
  }

  &__home__color {
    color: #F27E00;
    font-weight: 600;
  }

  &__grid {
    padding-top: 4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
    align-items: center;
  }

  &__heading {
    color: #FFFFFF;
    font-size: 4rem;
    font-weight: 600;
    line-height: 4.5rem;
  }

  &__subtitle {
    color: #A5CD00;
    font-weight: 800;
    margin-bottom: 2rem;

    &::before {
      content: url("/assets/svg/pisadas-footer.svg");
      position: absolute;
      top: 62rem;
      right: 2rem;
    }

    &::after {
      content: url("/assets/svg/pato.svg");
      position: absolute;
      top: 49rem;
      right: -13rem;
    }
  }

  &__descripcion {
    font-size: 1.7rem;
    line-height: 2.5rem;
    color: #FFFFFF;
    font-weight: 300;
  }

}
