.header {
  min-height: 65rem;
  background-image: linear-gradient(277deg, rgba(26, 26, 26, 0.70) 46.33%, rgba(26, 26, 26, 0.00) 109.17%), url("/assets/img/header-bg-blog.png");
  background-repeat: no-repeat;
  background-size:  100%, 175rem;
  padding: 3rem 0;
  position: relative;
  overflow: hidden;
  margin-bottom: -6.2rem;

  &::after {
    content: '';
    background-color: #1D2025;
    width: 120%;
    height: 13rem;
    position: absolute;
  }

  &:after {
    transform: rotate(3deg);
    top: 59rem;
    left: -.5rem;
  }


  &__contenido {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  &__barra {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

  }

  &__heading {
    color: #FFF;
    text-align: right;
    font-size: 8rem;
    font-weight: 800;
    line-height: 85px; /* 106.25% */
    text-transform: uppercase;
  }

  &__green {
    display: block;
    color: #A5CD00;
  }

  &__picture {
    height: 50rem;
    width: 86rem;
    object-fit: cover;
    margin: 0 0 0 -8.6rem;
  }
}

/*Navegacion*/
.navegacion {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 2rem;

  &__link {

    &--dropdown {
      cursor: pointer;
      transform: translateX(50%);
      &::before {
        content: '';
        position: absolute;
        top: 0.7rem;
        left: -0.7rem;
        transform: translateX(-50%);
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 6px solid #fff;
      }
    }

    &.active {
      border-bottom: 4px solid #F27E00;
      padding-bottom: 2rem;
      font-weight: 700;
    }

  }

  &__dropdown-menu {
    display: none;
    background-color: #ffffff;
    position: absolute;
    top: 3rem;
    left: 28rem;
    min-height: 15rem;
    border-radius: .5rem;
    width: 40%;
    padding: 2rem;
    transform: translateX(-50%);
    &::before {
      content: '';
      position: absolute;
      top: -.8rem; // Posición ajustable según tu diseño
      left: 50%;
      transform: translateX(-50%);
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid #fff; // Color de la pirámide
    }
    &.active {
      display: block;
    }
  }

  &__dropdown-item { // Corregido el nombre de la clase
    display: block;
    margin-bottom: 1rem; // Espacio entre ítems
    color: #1D2025;
  }
}

/*Descubre y transforma*/

.descubre {
  min-height: 70rem;
  background-color: #1D2025;

  &__container {
    position: relative;
  }

  &__home {
    color: #FFFFFF;
    font-size: 1.6rem;
    font-weight: 400;
  }

  &__home__color {
    color: #F27E00;
    font-weight: 600;
  }

  &__paragraph {
    font-size: 1.7rem;
    line-height: 2.5rem;
    color: #FFFFFF;
    font-weight: 300;
    text-align: center;
  }

  &__grid {
    padding: 8rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  &__heading {
    color: #FFFFFF;
    font-size: 4rem;
    font-weight: 600;
    line-height: 4.5rem;
    margin-bottom: 5rem;
    text-align: center;
  }

  &__subtitle {
    color: #A5CD00;
    font-weight: 800;
    margin-bottom: 2rem;
  }

  &__content {
    background-color: #004734;
    border-radius: 0 1rem 1rem 0;
    padding: 0 5rem;
  }

  &__content__title {
    color: #004734;
    background-color: #ffffff;
    text-align: center;
    font-size: 2.2rem;
    text-transform: uppercase;
    padding: .3rem 0;
    margin-top: 9rem;
  }

  &__area {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  &__content__paragrapgh {
    font-size: 6.4rem;
    font-weight: 700;
    color: #ffffff;
    margin: 0;
  }

  &__content__label {
    display: block;
    font-size: 4.3rem;
  }

  &__content__ia {
    font-size: 17.4rem;
    font-weight: 700;
    color: #ffffff;
    margin: 0;
  }

  &__content__accion {
    display: block;
    border: 2px solid #ffffff;
    padding: 1rem 2rem;
    text-transform: uppercase;
    border-radius: .5rem;
    margin: 0 auto;
    width: 32%;
  }

}

/*Galeria de cards*/
.blog-section {
  min-height: 66rem;
  background-image: url(/assets/img/fondo-2.png);
  background-size: cover;
  background-position: -12rem;
  padding: 5rem;

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 70%;
    gap: 5rem 1.5rem;
    margin: auto;
  }

}

.blog-section-contenido {
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Aplicación del box-shadow */

  &__imagen {

  }

  &__content {
    padding: 3rem;
  }

  &__paragraph {
    font-size: 2rem;
  }

  &__bold {
    font-weight: 700;
  }

  &__accion {
    font-size: 1.5rem;
    color: #1D2025;
  }

}

/*servicios destacados*/
.destacados {
  min-height: 30rem;
  background-image: url("/assets/svg/fondo-estrellado.svg");
  background-size: cover;
  padding: 10rem;
  margin-bottom: -9rem;

  &__heading {
    color: #FFFFFF;
    font-size: 4rem;
    font-weight: 600;
    line-height: 4.5rem;
    margin-bottom: 2rem;
    text-align: center;
  }

  &__subheading {
    color: #1D2025;
    text-align: center;
    font-size: 3.4rem;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 1.2rem;
    text-transform: uppercase;
    background-color: #A5CD00;
    width: 38rem;
    margin: 0 auto;
    padding: .5rem;
  }

  &__description {
    font-size: 1.7rem;
    line-height: 2.5rem;
    color: #FFFFFF;
    font-weight: 300;
    text-align: center;
  }

  &__accion {
    display: block;
    color: #FFFFFF;
    border-radius: 3px;
    border: 2px solid #F27E00;
    background-color: transparent;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 400;
    line-height: 166.5%;
    text-transform: uppercase;
    padding: 1rem;
    width: 15%;
    margin: 3rem auto;
  }
}
