.header {
  min-height: 65rem;
  background-image: linear-gradient(277deg, rgba(26, 26, 26, 0.70) 46.33%, rgba(26, 26, 26, 0.00) 109.17%), url("/assets/img/header-bg-blog.png");
  background-repeat: no-repeat;
  background-size:  cover;
  padding: 3rem 0;
  position: relative;
  overflow: hidden;
  margin-bottom: -18.2rem;

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(277deg, rgba(26, 26, 26, 0.70) 46.33%, rgba(26, 26, 26, 0.00) 109.17%), url("/assets/img/header-bg-blog.png");
    background-size:  100%, 175rem;
    margin-bottom: -6.2rem;
  }

  @media screen and (min-width: 1900px) {
      background-size: cover;
  }


  &__logo {
    cursor: pointer;
  }


  &::after {
    content: '';
    background-color: #1D2025;
    width: 120%;
    height: 24rem;
    position: absolute;
    @media screen and (min-width: 768px) {
      height: 22rem;

    }
  }

  &:after {
    transform: rotate(-3deg);
    top: 70%;
    left: -.5rem;
    @media screen and (min-width: 768px){
      transform: rotate(3deg);
      top: 59rem;
      left: -1.5rem;
    }
  }

  &__container {
    display: none;

    @media screen and (min-width: 768px) {
      display: block;
    }
  }

  &__mobile {
    @media screen and (min-width: 768px){
      display: none;
    }
  }

  &__picture__mobile {
    margin: 0 auto;
    width: fit-content;
  }



  &__contenido {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  &__barra {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

  }

  &__heading {
    color: #FFF;
    text-align: right;
    font-size: 8rem;
    font-weight: 800;
    line-height: 85px; /* 106.25% */
    text-transform: uppercase;

    &--mobile {
      width: 100%;
      margin: auto;
      font-size: 2.8rem;
      line-height: 3rem;
      text-align: center;
      padding-top: 8rem;
    }
  }

  &__green {
    display: block;
    color: #A5CD00;
  }

  &__picture {
    height: 50rem;
    width: 86rem;
    object-fit: cover;
    margin: 0 0 0 -8.6rem;
  }
}

/*Navegacion*/
.navegacion {
  display: none;
  @media screen and (min-width: 768px) {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 2rem;

    &__link {
      font-weight: 100;

      &:hover {
        font-weight: 700;
        transition: font-weight ease-in .1s;
      }

      &--dropdown {
        cursor: pointer;
        transform: translateX(50%);
        &::before {
          content: '';
          position: absolute;
          top: 0.7rem;
          left: -0.7rem;
          transform: translateX(-50%);
          border-left: 6px solid transparent;
          border-right: 6px solid transparent;
          border-top: 6px solid #fff;
        }
      }

      &.active {
        border-bottom: 4px solid #F27E00;
        padding-bottom: 2rem;
        font-weight: 700;
      }

    }

    &__dropdown-menu {
      display: none;
      background-color: #ffffff;
      position: absolute;
      top: 3rem;
      left: 28rem;
      min-height: 15rem;
      border-radius: .5rem;
      width: 40%;
      padding: 2rem;
      transform: translateX(-50%);
      &::before {
        content: '';
        position: absolute;
        top: -.8rem; // Posición ajustable según tu diseño
        left: 50%;
        transform: translateX(-50%);
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #fff; // Color de la pirámide
      }
      &.active {
        display: block;
      }
    }

    &__dropdown-item { // Corregido el nombre de la clase
      display: block;
      margin-bottom: 1rem; // Espacio entre ítems
      color: #1D2025;

      &.activeOne {
        color: #FF0031;
      }

      &.activeTwo {
        color: #F27E00;
      }

      &.activeThree {
        color: #A5CD00;
      }

      &.activeFour {
        color: #14BCFF;
      }

      &:hover {
        &:nth-child(1) {
          color: #FF0031;
        }

        &:nth-child(2) {
          color: #F27E00;
        }

        &:nth-child(3) {
          color: #A5CD00;
        }

        &:nth-child(4) {
          color: #14BCFF;
        }
      }
    }
  }
}

/*Descubre y transforma*/
.descubre {
  min-height: 70rem;
  background-color: #1D2025;
  padding-bottom: 5rem;

  &__container {
    position: relative;
    padding: 0 2rem;
    @media screen and (min-width: 768px) {
      padding: 0;
    }
  }

  &__home {
    color: #FFFFFF;
    font-size: 1.6rem;
    font-weight: 400;
  }

  &__home__color {
    color: #F27E00;
    font-weight: 600;
  }

  &__paragraph {
    font-size: 1.7rem;
    line-height: 2.5rem;
    color: #FFFFFF;
    font-weight: 300;
    text-align: center;
  }

  &__grid {
    padding: .8rem;
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;
    @media screen and (min-width: 768px) {
      display: grid;
      grid-template-columns: 1fr 1fr;

    }

    &::before {
      content: ""; /* Agrega un contenido vacío al pseudo-elemento */
      position: absolute; /* Establece posición absoluta para poder posicionar la línea */
      top: 0;
      left: 0;
      width: 100%; /* Ocupa todo el ancho del contenedor */
      height: 100%; /* Ocupa todo el alto del contenedor */
      border: 3px solid transparent; /* Establece un borde transparente */
      transition: border-color .4s ease;
      padding: 1rem;
      border-radius: 1rem;
    }

    &:hover::before {
      border-color: #F27E00;
    }


    &:hover {
      > .descubre__image {
        filter: brightness(2);
        transition: filter ease-in-out .4s;
      }

      > .descubre__content .descubre__content__title {
        background-color: #A5CD00;
        color: #1D2025;
        transition: background-color ease-in-out .4s, color ease-in-out .4s;
      }

      > .descubre__content  .descubre__content__paragrapgh {
        color: #A5CD00;
        transition: color ease-in-out .4s;
      }

      > .descubre__content .descubre__content__label {
        color: #ffffff;
      }

      > .descubre__content .descubre__content__accion {
        background-color: #A5CD00;
        color: #1D2025;
        border: none;
        transition: background-color ease-in-out .4s;
      }

    }



  }

  &__heading {
    color: #FFFFFF;
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 3rem;
    margin-bottom: 5rem;
    text-align: center;
    @media screen and (min-width: 768px) {
      font-size: 4rem;
      line-height: 4.5rem;

    }
  }

  &__subtitle {
    color: #A5CD00;
    font-weight: 800;
    margin-bottom: 2rem;
  }

  &__content {
    background-image: linear-gradient(to bottom, #306D55, #063328);;
    border-radius: 0 0 1rem 1rem;
    padding: 4.5rem 5rem;
    @media screen and (min-width: 768px) {
      border-radius: 0 1rem 1rem 0;
      padding: 0 5rem;

    }
  }

  &__content__title {
    color: #004734;
    background-color: #ffffff;
    text-align: center;
    font-size: 1.3rem;
    text-transform: uppercase;
    padding: .3rem 0;
    margin-top: 3rem;
    @media screen and (min-width: 768px) {
      font-size: 2.2rem;
      margin-top: 9rem;

    }
  }

  &__area {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding-bottom: 3rem;
    @media screen and (min-width: 768px) {
        padding-bottom: 0;
    }

  }

  &__content__paragrapgh {
    font-size: 2.5rem;
    font-weight: 700;
    color: #ffffff;
    margin: 0;
    @media screen and (min-width: 768px) {
      font-size: 6.4rem;

    }
  }

  &__content__label {
    display: block;
    font-size: 1.4rem;
    @media screen and (min-width: 768px) {
      font-size: 4.3rem;
    }
  }

  &__content__ia {
    font-size: 6rem;
    font-weight: 700;
    color: #ffffff;
    margin: 0;
    @media screen and (min-width: 768px) {
      font-size: 17.4rem;
    }
  }

  &__content__accion {
    display: block;
    border: 2px solid #ffffff;
    padding: .5rem 1rem;
    text-transform: uppercase;
    border-radius: .5rem;
    margin: 0 auto;
    width: 60%;
    transition: background-color ease-in-out .3s;
    font-size: 1.3rem;

    @media screen and (min-width: 414px) {
      width: 53%;
    }

    @media screen and (min-width: 430px) {
      width: 50%;
    }

    @media screen and (min-width: 768px) {
      padding: 1rem 2rem;
      width: 28%;
    }

    &:hover {
      background-color: #F27E00;
    }
  }

}

/*Galeria de cards*/
.blog-section {
  min-height: 50rem;
  background-image: url(/assets/img/fondo-2.png);
  background-size: cover;
  background-position: -74rem;
  padding: 5rem;

  @media screen and (min-width: 768px) {
    min-height: 66rem;
    background-position: -158rem;

  }

  &__grid {
    display: none;
    @media screen and (min-width: 768px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      width: 70%;
      gap: 5rem 1.5rem;
      margin: auto;
    }

    @media screen and (min-width: 1900px) {
      width: 55%;
    }
  }

  &__swipper {
    @media screen and (min-width: 768px) {
      display: none;
    }
  }

}

.blog-section-contenido {
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Aplicación del box-shadow */
  cursor: pointer;

  &__imagen {
    position: relative;
    transition: filter .3s ease-in-out, background-image .3ms ease-in-out;

  }


  &__content {
    padding: 3rem;
    transition: background-color .3s ease-in-out;
  }

  &__paragraph {
    font-size: 1.7rem;
    @media screen and (min-width: 768px) {
      font-size: 2rem;
    }
  }

  &__bold {
    font-weight: 700;
  }

  &__accion {
    font-size: 1.5rem;
    color: #1D2025;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 70%;
      top: 11%;
      left: 11.2rem;
      background-image: url("/assets/svg/arrow_right_short.svg");
      background-size: contain;
      background-repeat: no-repeat;
    }

  }

  &:hover {
    > .blog-section-contenido__imagen {
      filter: brightness(1.6);
    }

    > .blog-section-contenido__content {
      background-color: #084D34;
    }

    > .blog-section-contenido__content .blog-section-contenido__paragraph {
      color: #ffffff;
    }

    > .blog-section-contenido__content .blog-section-contenido__accion {
      color: #ffffff;
    }

    > .blog-section-contenido__content .blog-section-contenido__accion::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 70%;
      top: 11%;
      left: 11.2rem;
      background-image: url("/assets/svg/arrow_right_short-hover.svg");
      background-size: contain;
      background-repeat: no-repeat;
    }

    > .blog-section-contenido__imagen:after {
      content: '';
      position: absolute;
      width: 37%;
      height: 10%;
      top: 83%;
      left: 3.2rem;
      background-image: url("/assets/img/blog-contenido-date.png");
      background-size: contain;
      background-repeat: no-repeat;
      transition: background-image .3s ease-in-out
    }


  }

}

/*servicios destacados*/
.destacados {
  min-height: 30rem;
  background-image: url("/assets/svg/fondo-estrellado.svg");
  background-size: cover;
  padding: 4rem;
  margin-bottom: -3rem;
  @media screen and (min-width: 768px) {
    padding: 10rem;
    margin-bottom: -10rem;
  }

  @media screen and (min-width: 1900px) {
      min-height: 48rem;
      margin-bottom: -11rem;
  }

  &__heading {
    color: #FFFFFF;
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 3.5rem;
    margin-bottom: 2rem;
    text-align: center;
    @media screen and (min-width: 768px) {
      font-size: 4rem;
      line-height: 4.5rem;

    }
  }

  &__subheading {
    color: #1D2025;
    text-align: center;
    font-size: 3.4rem;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 1.2rem;
    text-transform: uppercase;
    background-color: #A5CD00;
    width: 38rem;
    margin: 0 auto;
    padding: .5rem;
  }

  &__description {
    font-size: 1.7rem;
    line-height: 2.5rem;
    color: #FFFFFF;
    font-weight: 300;
    text-align: center;
  }

  &__accion {
    display: block;
    color: #FFFFFF;
    border-radius: 3px;
    border: 2px solid #F27E00;
    background-color: transparent;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 400;
    line-height: 166.5%;
    text-transform: uppercase;
    padding: 1rem;
    width: 45%;
    margin: 3rem auto;
    transition: background-color .3s;
    cursor: pointer;

    @media screen and (min-width: 768px) {
      width: 15%;

    }

    &:hover {
      background-color: #F27E00;
      color: #1D2025;
    }
  }
}
