<header class="header">
  <div class="header__barra contenedor">
    <div class="header__logo">
      <img src="/assets/img/logotipo.png" alt="Cuack-image">
    </div>
    <nav class="navegacion">
      <a routerLink="/inicio" class="navegacion__link" routerLinkActive="active">Inicio</a>
      <a routerLink="/quienes-somos" class="navegacion__link" routerLinkActive="active">Quiénes somos</a>
      <a routerLink="/nuestros-servicios" class="navegacion__link" routerLinkActive="active">Nuestros servicios</a>
      <a class="navegacion__link--dropdown" (click)="toggleMenu($event)"> </a>
      <div class="navegacion__dropdown-menu" [class.active]="isMenuOpen">
        <a routerLink="/diseno-digital" class="navegacion__dropdown-item">Diseño Digital</a>
        <a routerLink="/servicio2" class="navegacion__dropdown-item">Diseño y Desarrollo Web</a>
        <a routerLink="/servicio3" class="navegacion__dropdown-item">Diseño de Marca</a>
        <a routerLink="/servicio4" class="navegacion__dropdown-item">Comunicación Estratégica</a>
      </div>
      <a routerLink="/portafolio" class="navegacion__link" routerLinkActive="active">Portafolio</a>
      <a routerLink="/blog" class="navegacion__link" routerLinkActive="active">Blog</a>
      <a routerLink="/contacto" class="navegacion__link" routerLinkActive="active">Contáctanos</a>
    </nav>
  </div>
  <div class="header__container contenedor">
    <div class="header__contenido">
      <div class="header__picture">
        <img src="/assets/img/header-blog.png" alt="Blog header">
      </div>
      <div class="header__descripcion">
        <h1 class="header__heading">Inspiración y<span class="header__green">Creatividad en acción</span></h1>
      </div>
    </div>
  </div>
  <div class="header__mobile">
    <h1 class="header__heading header__heading--mobile">Inspiración y<span class="header__green">Creatividad en acción</span></h1>
    <div class="header__picture__mobile">
      <img src="/assets/img/header-blog.png" alt="Blog header">
    </div>
  </div>
</header>

<section class="descubre">
  <div class="descubre__container contenedor">
    <h4 class="descubre__home">Inicio › <span class="descubre__home__color">Blog</span></h4>

    <div class="descubre__header">
      <h2 class="descubre__heading">Descubre, Aprende y <span class="descubre__subtitle">Transforma</span></h2>

      <p class="descubre__paragraph">
        En el mundo del marketing digital en constante evolución, mantenerte informado es clave. Nuestro blog es tu fuente confiable para conocer las tendencias más recientes y aplicarlas de manera efectiva en tu negocio. Aquí, te ofrecemos consejos prácticos, estrategias probadas y la información más actualizada en el mundo del marketing digital. Descubre cómo destacar en un entorno competitivo y hacer crecer tu negocio en línea.
      </p>

    </div>

    <div class="descubre__grid">
      <div class="descubre__image">
        <img src="/assets/img/descubre-1.png" alt="Portafolio">
      </div>
      <div class="descubre__content">
        <h3 class="descubre__content__title">Explorando el mañana</h3>

        <div class="descubre__area">
          <h4 class="descubre__content__paragrapgh">
            Marketing <span class="descubre__content__label">Potenciado por</span>
          </h4>

          <h4 class="descubre__content__ia">
            IA
          </h4>
        </div>
        <a class="descubre__content__accion">Conocer más</a>
      </div>
    </div>

  </div>

</section>

<section class="blog-section">

  <div class="blog-section__grid">
    <div class="blog-section-contenido">
      <div class="blog-section-contenido__imagen">
        <img src="/assets/img/blog-contenido-1.png" alt="Blog section">
      </div>
      <div class="blog-section-contenido__content">
        <p class="blog-section-contenido__paragraph">
          <span class="blog-section-contenido__bold">Delicias creativas:</span> 10 Estrategias
          de marketing para restaurantes
        </p>
        <a class="blog-section-contenido__accion">Conocer más</a>
      </div>
    </div>

    <div class="blog-section-contenido">
      <div class="blog-section-contenido__imagen">
        <img src="/assets/img/blog-contenido-2.png" alt="Blog section">
      </div>
      <div class="blog-section-contenido__content">
        <p class="blog-section-contenido__paragraph">
          <span class="blog-section-contenido__bold">Revitalizando contenidos:</span> 10 Potenciando el contenido con IA
        </p>
        <a class="blog-section-contenido__accion">Conocer más</a>
      </div>
    </div>

    <div class="blog-section-contenido">
      <div class="blog-section-contenido__imagen">
        <img src="/assets/img/blog-contenido-3.png" alt="Blog section">
      </div>
      <div class="blog-section-contenido__content">
        <p class="blog-section-contenido__paragraph">
          <span class="blog-section-contenido__bold">Nuevos Horizontes:</span> 10 Estrategias
          Innovadoras para Impulsar tu Mensaje
        </p>
        <a class="blog-section-contenido__accion">Conocer más</a>
      </div>
    </div>

    <div class="blog-section-contenido">
      <div class="blog-section-contenido__imagen">
        <img src="/assets/img/blog-contenido-4.png" alt="Blog section">
      </div>
      <div class="blog-section-contenido__content">
        <p class="blog-section-contenido__paragraph">
          <span class="blog-section-contenido__bold">Estrategias para instagram ads:</span> Dominando el arte del anuncio digital
        </p>
        <a class="blog-section-contenido__accion">Conocer más</a>
      </div>
    </div>

    <div class="blog-section-contenido">
      <div class="blog-section-contenido__imagen">
        <img src="/assets/img/blog-contenido-5.png" alt="Blog section">
      </div>
      <div class="blog-section-contenido__content">
        <p class="blog-section-contenido__paragraph">
          <span class="blog-section-contenido__bold">Estrategias de marketing digital:</span> Destacando entre la competencia
        </p>
        <a class="blog-section-contenido__accion">Conocer más</a>
      </div>
    </div>

  </div>
  <div class="blog-section__swipper">
    <ngx-slick-carousel [config]="slideConfigTwo"
                        class="carousel"
    >
      <div ngxSlickItem class="slide">
        <div class="blog-section-contenido">
          <div class="blog-section-contenido__imagen">
            <img src="/assets/img/blog-contenido-1.png" alt="Blog section">
          </div>
          <div class="blog-section-contenido__content">
            <p class="blog-section-contenido__paragraph">
              <span class="blog-section-contenido__bold">Delicias creativas:</span> 10 Estrategias
              de marketing para restaurantes
            </p>
            <a class="blog-section-contenido__accion">Conocer más</a>
          </div>
        </div>
      </div>

      <div ngxSlickItem class="slide">
        <div class="blog-section-contenido">
          <div class="blog-section-contenido__imagen">
            <img src="/assets/img/blog-contenido-2.png" alt="Blog section">
          </div>
          <div class="blog-section-contenido__content">
            <p class="blog-section-contenido__paragraph">
              <span class="blog-section-contenido__bold">Revitalizando contenidos:</span> 10 Potenciando el contenido con IA
            </p>
            <a class="blog-section-contenido__accion">Conocer más</a>
          </div>
        </div>

      </div>

      <div ngxSlickItem class="slide">
        <div class="blog-section-contenido">
          <div class="blog-section-contenido__imagen">
            <img src="/assets/img/blog-contenido-3.png" alt="Blog section">
          </div>
          <div class="blog-section-contenido__content">
            <p class="blog-section-contenido__paragraph">
              <span class="blog-section-contenido__bold">Nuevos Horizontes:</span> 10 Estrategias
              Innovadoras para Impulsar tu Mensaje
            </p>
            <a class="blog-section-contenido__accion">Conocer más</a>
          </div>
        </div>
      </div>

      <div ngxSlickItem class="slide">
        <div class="blog-section-contenido">
          <div class="blog-section-contenido__imagen">
            <img src="/assets/img/blog-contenido-4.png" alt="Blog section">
          </div>
          <div class="blog-section-contenido__content">
            <p class="blog-section-contenido__paragraph">
              <span class="blog-section-contenido__bold">Estrategias para instagram ads:</span> Dominando el arte del anuncio digital
            </p>
            <a class="blog-section-contenido__accion">Conocer más</a>
          </div>
        </div>
      </div>

      <div ngxSlickItem class="slide">
        <div class="blog-section-contenido">
          <div class="blog-section-contenido__imagen">
            <img src="/assets/img/blog-contenido-5.png" alt="Blog section">
          </div>
          <div class="blog-section-contenido__content">
            <p class="blog-section-contenido__paragraph">
              <span class="blog-section-contenido__bold">Estrategias de marketing digital:</span> Destacando entre la competencia
            </p>
            <a class="blog-section-contenido__accion">Conocer más</a>
          </div>
        </div>
      </div>

    </ngx-slick-carousel>

  </div>
</section>

<section class="destacados">
  <div class="destacados__content contenedor">
    <h2 class="destacados__heading">Descubre Nuestros Servicios Destacados</h2>
    <p class="destacados__description">
      Explora Nuestros Servicios y Descubre Cómo Pueden Hacer Crecer Tu Negocio
    </p>

    <a routerLink="/nuestros-servicios" (click)="navigateTo('/nuestros-servicios')" class="destacados__accion"> Leer más</a>
  </div>
</section>
<app-footer></app-footer>
