<header class="header">
  <div class="header__barra contenedor">
    <div class="header__logo">
      <img src="/assets/img/logotipo.png" alt="Cuack-image">
    </div>
    <nav class="navegacion">
      <a routerLink="/inicio" class="navegacion__link">Inicio</a>
      <a routerLink="/quienes-somos" class="navegacion__link">Quiénes somos</a>
      <a routerLink="/nuestros-servicios" class="navegacion__link">Nuestros servicios</a>
      <a routerLink="/portafolio" class="navegacion__link">Portafolio</a>
      <a routerLink="/blog" class="navegacion__link">Blog</a>
      <a href="#" class="navegacion__link">Contáctanos</a>
    </nav>
  </div>
  <div class="contenedor">
    <div class="header__contenido">
      <div class="header__picture">
        <img src="/assets/img/header-blog.png" alt="Blog header">
      </div>
      <div class="header__descripcion">
        <h1 class="header__heading">Inspiración y<span class="header__green">Creatividad en acción</span></h1>
      </div>
    </div>
  </div>
</header>

<section class="descubre">
  <div class="descubre__container contenedor">
    <h4 class="descubre__home">Inicio › <span class="descubre__home__color">Blog</span></h4>

    <div class="descubre__header">
      <h2 class="descubre__heading">Descubre, Aprende y <span class="descubre__subtitle">Transforma</span></h2>

      <p class="descubre__paragraph">
        En el mundo del marketing digital en constante evolución, mantenerte informado es clave. Nuestro blog es tu fuente confiable para conocer las tendencias más recientes y aplicarlas de manera efectiva en tu negocio. Aquí, te ofrecemos consejos prácticos, estrategias probadas y la información más actualizada en el mundo del marketing digital. Descubre cómo destacar en un entorno competitivo y hacer crecer tu negocio en línea.
      </p>

    </div>

    <div class="descubre__grid">
      <div class="descubre__image">
        <img src="/assets/img/descubre-1.png" alt="Portafolio">
      </div>
      <div class="descubre__content">
        <h3 class="descubre__content__title">Explorando el mañana</h3>

        <div class="descubre__area">
          <h4 class="descubre__content__paragrapgh">
            Marketing <span class="descubre__content__label">Potenciado por</span>
          </h4>

          <h4 class="descubre__content__ia">
            IA
          </h4>
        </div>
        <a class="descubre__content__accion">Conocer más</a>
      </div>
    </div>

  </div>

</section>
