
/*Section*/
.identidades {


  &__container {
    position: relative;
    margin-bottom: 6rem;
  }

  &__grid {
    padding-top: 4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
    align-items: center;
  }

  &__heading {
    color: #FFFFFF;
    font-size: 4rem;
    font-weight: 600;
    line-height: 4.5rem;
    margin-bottom: 5rem;
  }

  &__subtitle {
    display: block;
    color: #FF0031;
    font-weight: 800;
    margin-bottom: 2rem;
  }

  &__descripcion {
    font-size: 1.7rem;
    line-height: 2.5rem;
    color: #FFFFFF;
    font-weight: 300;
  }

  &__color {
    color: #FF0031;
    font-weight: 700;
    line-height: 2.5rem;
  }
}

.servicios {
  background-image: url("/assets/svg/fondo-quienes-somos-01.svg");
  min-height: 60rem;
  padding: 5rem 0;

  &__heading {
    color: #ffffff;
    text-align: center;
    font-size: 3.4rem;
    font-weight: 800;
    line-height: 3.6rem;
    text-transform: uppercase;
  }

  &__grid {
    padding-top: 6rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
  }

  &__card {
    border-radius: 10px;
    background: #D9D9D9;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__image {
    padding-top: 3rem;
  }

  &__title {
    color: #000;
    text-align: center;
    font-size: 1.9rem;
    font-weight: 700;
    line-height: 2.3rem;
    padding: 0 2rem;
  }

  &__separator {
    border-radius: 20px;
    background: linear-gradient(270deg, #2DA48E -8.55%, #084D34 129.61%);
    width: 7.6rem;
    height: .7rem;
  }

  &__paragraph {
    color: #000;
    text-align: center;
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 2.5rem;
    padding: .5rem 2.5rem 1rem 2.5rem;
  }
}

.trabajamos {
  background-image: url("/assets/img/trabajamos-01.png");
  background-repeat: no-repeat;
  min-height: 50.5rem;
  padding: 10rem 0;

  &__heading {
    color: #FFF;
    text-align: center;
    font-size: 3.4rem;
    font-weight: 800;
    line-height: 3.6rem;
    text-transform: uppercase;
  }

  &__subheading {
    color: #1D2025;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2.8rem;
    letter-spacing: 6px;
    text-transform: uppercase;
    background-color: #FF0031;
    width: 47.8rem;
    margin: .5rem auto;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    padding-top: 6rem;
  }

  &__contenido {
    border-radius: 13px 13px 10px 10px;
    border: 2px solid #D9D9D9;
  }

  &__title {
    border-radius: 10px 10px 0px 0px;
    background-color: #D9D9D9;
    margin: 0;
    padding: 2rem;
    text-align: center;
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 2.3rem;
  }

  &__paragraph {
    color: #FFF;
    text-align: center;
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 2.5rem;
    padding: 1.5rem;
  }
}

.trabajos {
  background-color: #E3E4E6;
  min-height: 50rem;
  padding: 5rem 0;

  &__heading {
    color: #1D2025;
    font-size: 3.4rem;
    font-weight: 300;
    line-height: 6rem;
    text-transform: uppercase;
    margin-bottom: 4rem;
  }

  &__color {
    color: #1D2025;
    font-size: 3.4rem;
    font-weight: 800;
    line-height: 6rem;
    text-transform: uppercase;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
  }
}

.especiales {
  background-color: #1D2025;
  min-height: 60rem;
  padding: 6rem 0;

  &__heading {
    color: #FFF;
    text-align: center;
    font-size: 3.4rem;
    font-weight: 800;
    line-height: 3.6rem;
    text-transform: uppercase;
  }

  &__subheading {
    color: #1D2025;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2.8rem;
    letter-spacing: 6px;
    text-transform: uppercase;
    background-color: #FF0031;
    width: 53.3rem;
    margin: .5rem auto;
  }

  &__paragraph {
    color: #FFF;
    text-align: justify;
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 2.5rem;
    padding: 4rem 24rem;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
  }
}
