

/*Header Home*/
.header {
  min-height: 68rem;
  background-image: linear-gradient(276deg, rgba(26, 26, 26, 0.70) 46.03%, rgba(26, 26, 26, 0.00) 109.22%), url("/assets/img/fondo-header-mobile.png");
  background-repeat: no-repeat;
  background-size: cover ;
  padding: 3rem 0;
  background-position: center, left;
  position: relative;
  overflow: hidden;

  @media screen and (min-width: 768px) {
    min-height: 77rem;
    background-image: linear-gradient(276deg, rgba(26, 26, 26, 0.70) 46.03%, rgba(26, 26, 26, 0.00) 109.22%), url("/assets/img/fondo.png");
    background-repeat: no-repeat;
    background-size: 100%, cover ;
    padding: 3rem 0;
    background-position: center;
    position: relative;
    overflow: hidden;

  }

  &__logo {
    cursor: pointer;
  }

  &::after {
    content: '';
    background-color: #1D2025;
    width: 120%;
    height: 11rem;
    position: absolute;
    @media screen and (min-width: 1900px) {
      height: 13rem;
    }
  }

  &:after {
    transform: rotate(-3deg);
    top: 66rem;

    @media screen  and (min-width: 768px){
      top: 70rem;
    }
    @media screen  and (min-width: 1900px){
      top: 69rem;
    }
  }

  &__container {
    display: none;

    @media screen and (min-width: 768px) {
      display: block;
    }
  }

  &__mobile {
    @media screen and (min-width: 768px){
      display: none;
    }
  }


  &__barra {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

  }

  &__picture {
    margin-top: 5.5rem;
    height: 50rem;
    width: 66rem;
    object-fit: cover;
  }

  &__picture__mobile {
    position: absolute;
    top: 54%;
  }

  &__contenido {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }

  &__responsive {
    display: block;
    @media screen and (min-width: 768px) {
     display: block;
    }
  }


  &__descripcion {
    display: none;

    @media screen and (min-width: 768px) {
      width: 66rem;
      display: flex;
      flex-direction: column;
      justify-content: end;
    }

  }

  &__heading {
    line-height: 1;
    color: #fff;
    text-transform: uppercase;


    &--mobile {
      font-size: 2.8rem;
      position: absolute;
      top: 30%;
      left: 18%;
      width: 60%;
    }

  }

  &__subtitle {
    color: #A5CD00;
    display: block;
  }

  &__subheading {
    text-transform: uppercase;
  }

  &__button {
    width: 17.6rem;
    padding: 1.2rem ;
    text-transform: uppercase;
    border: 2px solid #F27E00;
    background-color: #0000004D;
    color: #fff;
    border-radius: .3rem;
    margin: 5rem auto;
    font-size: 1.5rem;
    font-weight: 500;
    display: block;
    cursor: pointer;
    transition: background-color .2s;

    &--mobile {
      position: absolute;
      top: 80%;
      left: 25%;
    }

    &:hover {
      background-color: #F27E00;
      color: #1D2025;
    }
  }
}

.navegacion {
  display: none;

  @media screen and (min-width: 768px){
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 2rem;

    &__link {
      font-weight: 100;

      &:hover {
        font-weight: 700;
        transition: font-weight ease-in .1s;
      }

      &--dropdown {
        cursor: pointer;
        transform: translateX(50%);
        &::before {
          content: '';
          position: absolute;
          top: 0.7rem;
          left: -0.7rem;
          transform: translateX(-50%);
          border-left: 6px solid transparent;
          border-right: 6px solid transparent;
          border-top: 6px solid #fff;
        }
      }

      &.active {
        border-bottom: 4px solid #F27E00;
        padding-bottom: 2rem;
        font-weight: 700;
      }

    }

    &__dropdown-menu {
      display: none;
      background-color: #ffffff;
      position: absolute;
      top: 3rem;
      left: 28rem;
      min-height: 15rem;
      border-radius: .5rem;
      width: 40%;
      padding: 2rem;
      transform: translateX(-50%);
      &::before {
        content: '';
        position: absolute;
        top: -.8rem; // Posición ajustable según tu diseño
        left: 50%;
        transform: translateX(-50%);
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #fff; // Color de la pirámide
      }
      &.active {
        display: block;
      }
    }

    &__dropdown-item { // Corregido el nombre de la clase
      display: block;
      margin-bottom: 1rem; // Espacio entre ítems
      color: #1D2025;

      &.activeOne {
        color: #FF0031;
      }

      &.activeTwo {
        color: #F27E00;
      }

      &.activeThree {
        color: #A5CD00;
      }

      &.activeFour {
        color: #14BCFF;
      }

      &:hover {
        &:nth-child(1) {
          color: #FF0031;
        }

        &:nth-child(2) {
          color: #F27E00;
        }

        &:nth-child(3) {
          color: #A5CD00;
        }

        &:nth-child(4) {
          color: #14BCFF;
        }
      }
    }

  }

}

/*Section Nuestra historia*/
.historia {
  min-height: 50rem;
  background-color: #1D2025;

  @media screen and (min-width: 768px) {
    min-height: 66.5rem;
  }

  &__contenedor {
    padding: 4rem 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50rem;
    justify-content: space-between;
    position: relative;

    @media screen and (min-width: 768px){
      padding: 13rem 0 0 0;
      justify-content: space-evenly;

    }

    &::before {
      @media screen and (min-width: 768px) {
        content: url("/assets/svg/senal.svg");
        width: 8rem;
        position: absolute;
        top: 17rem;
        left: -1rem;
      }

    }

  }

  &__heading {
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 2.5rem;
    color: #fff;
    width: 38.5rem;
    text-align: center;

    @media screen and (min-width: 768px){
      width: 79.5rem;
      font-size: 4rem;
      line-height: 4.5rem;
    }

    &::before {
      @media screen and (min-width: 768px){
        content: url("/assets/svg/capa.svg");
        width: 6rem;
        position: absolute;
        top: 40rem;
        left: -10rem;
      }
    }
  }

  &__green {
    font-size: 2.5rem;
    font-weight: 800;
    color: #A5CD00;
    display: block;

    @media screen and (min-width: 768px) {
      display: unset;
      font-size: 4rem;

    }
  }

  &__descripcion {
    font-size: 1.4rem;
    font-weight: 400;
    color: #fff;
    text-align: center;

    @media screen and (min-width: 768px){
      font-size: 1.7rem;

    }

    &::before {
      @media screen and (min-width: 768px){
        content: url("/assets/svg/pisadas.svg");
        width: 6rem;
        position: absolute;
        top: 44rem;
        left: 17rem;
      }
    }

    &::after {
      content: url("/assets/svg/avion-despegando-mobile.svg");
      width: 2rem;
      position: absolute;
      right: 33rem;
      top: 51%;
      @media screen and (min-width: 768px){
        content: url("/assets/svg/avion-despegando.svg");
        right: 35rem;

      }
    }
  }

  &__button {
    width: 17.6rem;
    padding: 1.2rem ;
    text-transform: uppercase;
    border: 2px solid #F27E00;
    background-color: #1D2025;
    color: #fff;
    border-radius: .3rem;
    margin: 5rem auto;
    font-size: 1.5rem;
    font-weight: 400;
    display: block;
    cursor: pointer;
    transition: background-color .2s;

    @media screen and (min-width: 768px){
      margin: 5rem auto;

    }

    &:hover {
      background-color: #F27E00;
      color: #1D2025;
    }
  }
}

/*Section Nuestros Servicios*/

.arrowOne{
  &::before {background-image: url("/assets/svg/icon-right-arrow-01.svg");}
}
.arrowTwo{
  &::before {background-image: url("/assets/svg/icon-right-arrow-02.svg");}
}
.arrowThree{
  &::before {background-image: url("/assets/svg/icon-right-arrow-03.svg");}
}
.arrowFour{
  &::before {background-image: url("/assets/svg/icon-right-arrow-04.svg");}
}


.backThree {
  border-radius: 0 0 0 2rem;

}

.backFour {
  border-radius: 0 0 2rem 0;
}
/*Servicios*/
.servicios {
  min-height: 66rem;
  background-image: url(/assets/img/fondo-2.png);
  background-size: cover;
  background-position: -17rem;
  padding: 5rem;

  &__grid {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: 768px) {
      display: grid;
      grid-template-columns: 1fr 2fr 2fr;
      align-items: center;
      padding: 0 1rem;
    }

    @media screen and (min-width: 1900px) {
      padding: 0 22rem;
    }

    @media screen and (min-width: 2300px) {
      padding: 0 42rem;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: 768px) {
      flex-direction: row;

    }
  }

  &__contenido {
    grid-column: 1 / 3;
  }

  &__card {
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;
    @media screen and (min-width: 768px){
      border-radius: unset;
    }

    &:hover {
      > .servicios__imagen {
        filter: brightness(1.2);
      }

      > .backOne {
        background-color: #CF0028;
      }

      > .backTwo {
          background-color: #D24E00;
      }

      > .backThree {
          background-color: #25604B;
      }

      > .backFour {
          background-color: #0456A0;
      }

      > .servicios__contenidos .servicios__flecha::before {
        background-position: 0;
      }

    }
  }

  &__imagen {
    transition: filter ease-in-out .2s;
  }

  &__gridimagen {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: unset;
    gap: 2rem;
    border-radius: 2rem;

    @media screen and (min-width: 768px){
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
      box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.5);

    }
  }

  &__contenidos {
    background-color: #1D2025;
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: 1rem 2.5rem;
    transition: background-color ease-in-out .2s;
  }


  &__spacing {
    display: block;
    content: '\A';
    white-space: pre;
  }

  &__subtitle {
    color: #ffffff;
    font-size: 1.7rem;
    font-weight: 700;
    margin: 0;

    &--space {
      padding: 1rem 0;
    }
  }

  &__flecha {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 80px;
      height: 20px;
      background-size: contain;
      background-position-x: -6.6rem;
      background-repeat: no-repeat;
      transition: background-position 0.3s ease-in-out;
    }

  }
}

.contenido {

  &__heading {
    font-size: 5rem;
    font-weight: 800;
    color: #1D2025;
    text-transform: uppercase;
    line-height: 6rem;
    text-align: center;
    @media screen and (min-width: 768px){
      font-size: 7.6rem;

    }
  }

  &__subtitle {
    font-size: 5rem;
    font-weight: 300;
    color: #1D2025;
    text-transform: uppercase;
    @media screen and (min-width: 768px){
      font-size: 7.6rem;
    }

  }

  &__subheading {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.5rem;
    letter-spacing: .6rem;
    background-color: #2C6953;
    text-align: center;
    width: 32rem;
    line-height: 2.8rem;
    margin-left: 0;
    @media screen and (min-width: 768px){
      width: 36.5rem;
      margin-left: 1.4rem;

    }
  }

  &__logo {
    display: none;
    @media screen and (min-width: 768px) {
      width: 100%;
      display: block;

    }
  }

}

.contenido-accion {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 4rem;
  @media screen and (min-width: 768px){
    width: 74rem;
    padding-top: 0;

  }

  &__descripcion {
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 2.5rem;
    text-align: justify;
  }

  &__button {
    display: block;
    border-radius: 3px;
    border: 2px solid #1D2025;
    color: #1D2025;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 166.5%;
    text-transform: uppercase;
    width: 15rem;
    margin: 3.5rem auto;
    padding: .7rem;
    cursor: pointer;
    transition: background-color .2s;

    &:hover {
      background-color: #1D2025;
      color: #ffffff;
    }
  }
}

/*Section Rincon*/
.rincon {
  min-height: 66rem;
  background-image: url("/assets/img/fondo-3.png");
  padding: 3rem;

  @media screen and (min-width: 768px){
    padding: 7rem;

  }

  &__heading {
    color: #FFF;
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
    line-height: 3rem;
    text-transform: uppercase;

    @media screen and (min-width: 768px){
      font-size: 3.4rem;
      line-height: 3.6rem;

    }
  }

  &__subheading {
    color: #1D2025;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 6px;
    text-transform: uppercase;
    background-color: #A5CD00;
    margin: 1.2rem auto;
    width: 70%;
    @media screen and (min-width: 768px){
      font-size: 1.5rem;
      width: 26.8rem;

    }
  }

  &__grid {
    display: none;
    @media screen and (min-width: 768px){
      padding-top: 6rem;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2.5rem;

    }
  }

  &__swipper {
    display: block;
    padding-top: 3rem;
    @media screen and (min-width: 768px){
      display: none;
      padding-top: 0;
    }
  }

  &__marketing {
    transition: outline ease-in-out .3s;
    position: relative;
    padding: .8rem;
    cursor: pointer;

    &::before {
      content: ""; /* Agrega un contenido vacío al pseudo-elemento */
      position: absolute; /* Establece posición absoluta para poder posicionar la línea */
      top: 0;
      left: 0;
      width: 100%; /* Ocupa todo el ancho del contenedor */
      height: 100%; /* Ocupa todo el alto del contenedor */
      border: 3px solid transparent; /* Establece un borde transparente */
      transition: border-color 0.3s ease;
      padding: 1rem;
    }

    &:hover::before {
      border-color: #F27E00;
    }

    &:hover {
       filter: brightness(1.5);

      > .rincon__flecha:before {
          background-position: 0;
      }
    }

  }

  &__flecha {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 9rem;
      top: -2rem;
      background-image: url("/assets/svg/arrow_right_alt.svg");
      transform: translateY(-50%);
      width: 18.0rem;
      height: 1.8rem;
      background-size: contain;
      background-position-x: -16.5rem;
      background-repeat: no-repeat;
      transition: background-position .3s ease-in-out;

      @media screen and (min-width: 400px) {
        left: 11rem;
        top: -2.3rem;
      }

      @media screen and (min-width: 500px) {
        left: 13rem;
        top: -3.1rem;
      }

      @media screen and (min-width: 1500px) {
        left: 11rem;
        top: -2.5rem;
      }
    }

  }


  &__button {
    width: 15.3rem;
    padding: 1.2rem ;
    text-transform: uppercase;
    border: 2px solid #F27E00;
    background-color: #1D2025;
    color: #fff;
    border-radius: .3rem;
    margin: 5rem auto;
    font-size: 1.5rem;
    font-weight: 500;
    display: block;

    cursor: pointer;
    transition: background-color .2s;

    &:hover {
      background-color: #F27E00;
      color: #1D2025;
    }
  }

  &__backheading {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 3rem;
    text-transform: uppercase;
    margin-top: 10rem;
    @media screen and (min-width: 768px){
      font-size: 3.4rem;
      line-height: 45px;

    }
  }

  &__backsubheading {
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 2rem;
    letter-spacing: 8px;
    text-transform: uppercase;
    display: block;
    padding-top: 2rem;
    @media screen and (min-width: 768px){
      line-height: 45px;
      font-size: 2.5rem;
      white-space: pre;
      padding-top: 0;

    }
  }

  &__backgrid {
    display: none;
    @media screen and (min-width: 768px){
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: 2rem;
      align-items: center;
      padding: 5rem 0;
    }

    &--swipper {
      width: inherit;
      padding-top: 2rem;
      @media screen and (min-width: 768px){
        display: none;
        padding-top: 0;
      }

    }
  }

}
/*Section contacto*/

.contact {
  background-image: url("/assets/svg/fondo-green.svg");
  background-repeat: no-repeat;
  background-position: left;
  position: relative;
  overflow: hidden;
  background-size: cover;
  margin-bottom: -2.4rem;
  @media screen and (min-width: 768px){
    margin-bottom: -8.4rem;
  }

  @media screen and (min-width: 1900px) {
    min-height: 80rem;
    margin-bottom: -11.4rem;
  }

  &::before {
    content: '';
    background-color: #1D2025;
    width: 120%;
    height: 12.3rem;
    position: absolute;
    @media screen and (min-width: 400px) {
      height: 13rem;
    }
    @media screen and (min-width: 768px){
      height: 10rem;
    }

    @media screen and (min-width: 1900px) {
      height: 15rem;
    }
  }

  &:before {
    transform: rotate(-3deg);
    top: -3rem;
    left: -1rem;
    @media screen and (min-width: 768px){
      top: -6rem;
    }

    @media screen and (min-width: 1900px) {
      top: -9rem;
    }
  }

  &__container {
    padding: 10rem 0 1.5rem 0;
    @media screen and (min-width: 400px) {
      padding: 12rem 0 1.5rem 0;
    }
    @media screen and (min-width: 1900px) {
      padding: 14rem 0 1.5rem 0;

    }
  }

  &__imagen {
    margin-top: 3rem;
  }

  &__heading {
    color: #FFF;
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 43px;
    text-transform: uppercase;
    text-align: center;
    @media screen and (min-width: 768px){
      font-size: 4rem;

    }
  }

  &__heading--regular {
    color: #FFF;
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 43px;
    text-transform: uppercase;
    display: block;
    @media screen and (min-width: 768px){
      display: unset;
      font-size: 4rem;

    }
  }

  &__grid {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 768px){
      display: grid;
      grid-template-columns: repeat(2, 1fr);

    }
  }

  &__form--heading {
    display: none;
    @media screen and (min-width: 768px){
      display: block;
      color: #A5CD00;
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 43px;
      text-transform: uppercase;
    }
  }

  &__form--subheading {
    display: none;
    @media screen and (min-width: 768px){
      display: block;
      color: #FFF;
      font-size: 1.8rem;
      font-weight: 700;
      line-height: 43px;
      margin: 0;
    }
  }

  &__form {
    @media screen and (min-width: 768px){
      align-self: center;
      position: relative;
      margin-left: 4rem;
    }

    &::before {
      content: "";
      @media screen and (min-width: 768px){
        content: "";
        border-left: 2px solid #FFFFFF;
        width: 0.2rem;
        height: 41.4rem;
        color: #FFFFFF;
        position: absolute;
        top: -1rem;
        left: -4rem;

      }
    }
  }

}

.form {
  width: 80%;
  margin: 0 auto;
  @media screen and (min-width: 768px){
    width: 100%;
  }

  &__field input[type="text"], input[type="email"] {
    border-radius: 10px;
    border: 1px solid #FFF;
    background-color: transparent;
    padding: 1rem;
    width: 100%;
    margin: .5rem 0;
    @media screen and (min-width: 768px){
      width: 26.8rem;
      margin: .5rem;
    }
  }

  &__field textarea {
    border-radius: 6px;
    border: 1px solid #FFF;
    background-color: transparent;
    padding: 1rem;
    width: 100%;
    margin: .5rem 0;
    height: 25.5rem;
    @media screen and (min-width: 768px){
      width: 54.8rem;
      margin: .5rem;
      height: 9.5rem;
    }
  }

  &__field input::placeholder {
    color: #FFFFFF;
    font-weight: 300;
    line-height: 4.3rem;
  }

  &__field textarea::placeholder {
    color: #FFFFFF;
    font-weight: 300;
  }

  &__field--accion {
    border-radius: .3rem;
    border: 2px solid #F27E00;
    background-color: #F27E00;
    width: 17.6rem;
    padding: 1.2rem ;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 400;
    display: block;
    margin: 5rem auto;
    @media screen and (min-width: 768px){
      margin-top: 5rem;
      margin-left: .5rem;

    }
  }

  &__captcha {
    padding-left: .5rem;
  }
}

/*Footer*/
.footer {
  min-height: 62rem;
  background-image: url("/assets/img/footer-mobile.png");
  background-size: cover;
  position: relative;

  @media screen and (min-width: 768px){
    background-image: url("/assets/img/footer.png");
    height: calc(100% + 1rem);

  }

  &__grid {
    padding: 7rem 2rem;
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 768px){
      padding: 15rem 0;
      flex-direction: row;
      gap: 3rem;
      margin-bottom: -5rem;

    }
  }
}

.footer-widget {
  &__heading {
    color: #FFFFFF;
    font-size: 2rem;
  }

  &__paragraph {
    color: #FFFFFF;
    font-weight: 300;
    line-height: 2.5rem;
  }

  &__paragraphtitle {
    color: #F27E00;
    margin-right: .5rem;
    font-weight: 400;

  }

  .space {
    margin-right: 4.3rem;
  }

  &:nth-child(1) {
    width: 90%;
    @media screen and (min-width: 768px){
      width: 30%;

    }
  }
  &:nth-child(2) {
    width: 80%;
    @media screen and (min-width: 768px) {
      width: 28%;
    }
  }

  &:nth-child(3) {
    width: 80%;
    @media screen and (min-width: 768px){
      width: 20%;
    }
  }

  &:nth-child(4) {
    width: 80%;
    @media screen and (min-width: 768px){
      width: 22%;
    }
  }
  &:nth-child(4) {
    width: 80%;
    @media screen and (min-width: 768px){
      width: 10%;
    }
  }
}

.footer-widget-social {
  display: flex;
  gap: 1rem;
  margin: 3rem 0 3rem 1rem;
}

.footer-widget-contenido {

  &__info {
    color: #FFFFFF;
    font-weight: 300;
  }

  &__bold {
    color: #FFFFFF;
    font-weight: bold;
  }

}

.vineta {
  position: relative;

  &::before {
    content: url("/assets/svg/ellipse.svg");
    width: 1rem;
    position: absolute;
    left: -1rem;
  }
}

.optional {
  @media screen and (min-width: 768px){
    display: none;
  }
}

.spacing {
  display: none;
  @media screen and (min-width: 768px){
    display: block;
    margin-top: 2rem;
  }
}


.image {
  display: none;
  @media screen and (min-width: 768px){
    display: block;
  }
}

.bold {
  font-weight: bold;
}

.copyright {
  border-top: 1px solid #D9D9D9;;
  color: #fff;
  font-size: 1.6rem;
  margin: 0 auto;
  max-width: 130rem;
  padding: 2.5rem;
  text-align: center;

  &__bold {
    color: #F27E00;
  }
}

::ng-deep {
  .slick-dots li.slick-active button:before {
    color: #F27E00;
    opacity: 0.75;
  }
}
