<header class="header">

  <div class="header__barra contenedor">
    <div class="header__logo">
      <img src="/assets/img/logotipo.png" alt="Cuack-image">
    </div>
    <nav class="navegacion">
      <a href="#" class="navegacion__link">Inicio</a>
      <a href="#" class="navegacion__link">Quiénes somos</a>
      <a href="#" class="navegacion__link">Nuestros servicios</a>
      <a href="#" class="navegacion__link">Portafolio</a>
      <a href="#" class="navegacion__link">Blog</a>
      <a href="#" class="navegacion__link">Contáctanos</a>
    </nav>
  </div>
  <div class="contenedor">
    <div class="header__contenido">
      <img src="/assets/img/pato-portada.png" alt="">

      <div class="header__descripcion">
        <h1 class="header__heading">Diseñando un mundo mejor,</h1>
        <h2 class="header__subheading">Un proyecto a la vez</h2>
        <button class="header__button"> Contáctanos</button>
      </div>

    </div>

  </div>

</header>

<section class="historia">
  <div class="historia__contenedor contenedor">
    <h3>Nuestra Historia: <span>Cuackcolombia</span>,</h3>
    <h3>Más que una Agencia de Publicidad.</h3>
  </div>
  <div class="historia__descripcion contenedor">
    <p>En Cuackcolombia, somos una marca colombiana con una pasión inquebrantable por la publicidad y el diseño gráfico. Nacimos de la necesidad de ofrecer a las empresas un distintivo que supere todas las expectativas, sin importar su tamaño o trayectoria.</p>
  </div>
</section>
