

/*Header Home*/
.header {
  min-height: 77rem;
  background-image: linear-gradient(276deg, rgba(26, 26, 26, 0.70) 46.03%, rgba(26, 26, 26, 0.00) 109.22%), url("/assets/img/fondo.png");
  background-repeat: no-repeat;
  background-size: 100%, cover ;
  padding: 3rem 0;
  background-position: center;
  position: relative;
  overflow: hidden;

  &::after {
    content: '';
    background-color: #1D2025;
    width: 120%;
    height: 11rem;
    position: absolute;
  }

  &:after {
    transform: rotate(-3deg);
    top: 70rem;
  }


  &__barra {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

  }

  &__picture {
    margin-top: 5.5rem;
    height: 50rem;
    width: 66rem;
    object-fit: cover;
  }

  &__contenido {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }

  &__descripcion {
    width: 66rem;
    display: flex;
    flex-direction: column;
    justify-content: end;

  }

  &__heading {
    line-height: 1;
    color: #fff;
    text-transform: uppercase;
  }

  &__subheading {
    text-transform: uppercase;
  }

  &__button {
    width: 17.6rem;
    padding: 1.2rem ;
    text-transform: uppercase;
    border: 2px solid #F27E00;
    background-color: #0000004D;
    color: #fff;
    border-radius: .3rem;
    margin: 5rem auto;
    font-size: 1.5rem;
    font-weight: 500;
    display: block;
    cursor: pointer;
    transition: background-color .2s;

    &:hover {
      background-color: #F27E00;
      color: #1D2025;
    }
  }
}

.navegacion {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 2rem;

  &__link {

    &--dropdown {
      cursor: pointer;
      transform: translateX(50%);
      &::before {
        content: '';
        position: absolute;
        top: 0.7rem;
        left: -0.7rem;
        transform: translateX(-50%);
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 6px solid #fff;
      }
    }

    &.active {
      border-bottom: 4px solid #F27E00;
      padding-bottom: 2rem;
      font-weight: 700;
    }

  }

  &__dropdown-menu {
    display: none;
    background-color: #ffffff;
    position: absolute;
    top: 3rem;
    left: 28rem;
    min-height: 15rem;
    border-radius: .5rem;
    width: 40%;
    padding: 2rem;
    transform: translateX(-50%);
    &::before {
      content: '';
      position: absolute;
      top: -.8rem; // Posición ajustable según tu diseño
      left: 50%;
      transform: translateX(-50%);
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid #fff; // Color de la pirámide
    }
    &.active {
      display: block;
    }
  }

  &__dropdown-item { // Corregido el nombre de la clase
    display: block;
    margin-bottom: 1rem; // Espacio entre ítems
    color: #1D2025;
  }
}

/*Section Nuestra historia*/

.historia {
  min-height: 66.5rem;
  background-color: #1D2025;

  &__contenedor {
    padding: 13rem 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50rem;
    justify-content: space-evenly;
    position: relative;

    &::before {
      content: url("/assets/svg/senal.svg");
      width: 8rem;
      position: absolute;
      top: 17rem;
      left: -1rem;

    }

  }

  &__heading {
    font-size: 4rem;
    font-weight: 800;
    color: #fff;
    line-height: 4.5rem;
    width: 79.5rem;
    text-align: center;

    &::before {
      content: url("/assets/svg/capa.svg");
      width: 6rem;
      position: absolute;
      top: 40rem;
      left: -10rem;
    }
  }

  &__green {
    font-size: 4rem;
    font-weight: 800;
    color: #A5CD00;
  }

  &__descripcion {
    font-size: 1.7rem;
    font-weight: 400;
    color: #fff;
    text-align: center;

    &::before {
      content: url("/assets/svg/pisadas.svg");
      width: 6rem;
      position: absolute;
      top: 44rem;
      left: 17rem;
    }

    &::after {
      content: url("/assets/svg/avion-despegando.svg");
      width: 4rem;
      position: absolute;
      right: 35rem;
    }
  }

  &__button {
    width: 17.6rem;
    padding: 1.2rem ;
    text-transform: uppercase;
    border: 2px solid #F27E00;
    background-color: #1D2025;
    color: #fff;
    border-radius: .3rem;
    margin: 5rem auto;
    font-size: 1.5rem;
    font-weight: 400;
    display: block;
    cursor: pointer;
    transition: background-color .2s;

    &:hover {
      background-color: #F27E00;
      color: #1D2025;
    }
  }
}

/*Section Nuestros Servicios*/

.servicios {
  min-height: 66rem;
  background-image: url(/assets/img/fondo-2.png);
  background-size: cover;
  background-position: -17rem;
  padding: 5rem;

  &__grid {
    display: grid;
    grid-template-columns: repeat(5, 23rem);
    align-items: center;
    gap: 2.5rem;
  }

  &__contenido {
    grid-column: 1 / 4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  &__gridimagen {
    grid-column: 4 /6;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

}

.contenido {

  &__heading {
    font-size: 7.6rem;
    font-weight: 800;
    color: #1D2025;
    text-transform: uppercase;
    line-height: 6rem;
    text-align: center;

  }

  &__subtitle {
    font-size: 7.6rem;
    font-weight: 300;
    color: #1D2025;
    text-transform: uppercase;
  }

  &__subheading {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.5rem;
    letter-spacing: .6rem;
    background-color: #2C6953;
    text-align: center;
    width: 36.5rem;
    line-height: 2.8rem;
    margin-left: 1.4rem;
  }


}

.contenido-accion {
  grid-column: 1/3;
  width: 68rem;
  display: flex;
  flex-direction: column;
  height: 30rem;

  &__descripcion {
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 2.5rem;
    text-align: justify;
  }

  &__button {
    display: block;
    border-radius: 3px;
    border: 2px solid #1D2025;
    color: #1D2025;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 166.5%;
    text-transform: uppercase;
    width: 15rem;
    margin: 3.5rem auto;
    padding: .7rem;
    cursor: pointer;
    transition: background-color .2s;

    &:hover {
      background-color: #1D2025;
      color: #ffffff;
    }
  }
}

/*Section Rincon*/

.rincon {
  min-height: 66rem;
  background-image: url("/assets/img/fondo-3.png");
  padding: 7rem;

  &__heading {
    color: #FFF;
    text-align: center;
    font-size: 3.4rem;
    font-weight: 800;
    line-height: 36px;
    text-transform: uppercase;
  }

  &__subheading {
    color: #1D2025;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 6px;
    text-transform: uppercase;
    background-color: #A5CD00;
    width: 26.8rem;
    margin: 1.2rem auto;
  }

  &__grid {
    padding-top: 6rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
  }

  &__button {
    width: 15.3rem;
    padding: 1.2rem ;
    text-transform: uppercase;
    border: 2px solid #F27E00;
    background-color: #1D2025;
    color: #fff;
    border-radius: .3rem;
    margin: 5rem auto;
    font-size: 1.5rem;
    font-weight: 500;
    display: block;

    cursor: pointer;
    transition: background-color .2s;

    &:hover {
      background-color: #F27E00;
      color: #1D2025;
    }
  }

  &__backheading {
    text-align: center;
    font-size: 3.4rem;
    font-weight: 700;
    line-height: 45px;
    text-transform: uppercase;
    margin-top: 10rem;
  }

  &__backsubheading {
    white-space: pre;
    color: #FFF;
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 45px;
    letter-spacing: 10px;
    text-transform: uppercase;
  }

  &__backgrid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 2rem;
    align-items: center;
    padding: 5rem 0;
  }

}
/*Section contacto*/

.contact {
  background-image: url("/assets/svg/fondo-green.svg");
  background-repeat: no-repeat;
  background-position: left;
  position: relative;
  overflow: hidden;
  background-size: cover;
  margin-bottom: -8.4rem;

  &::before {
    content: '';
    background-color: #1D2025;
    width: 120%;
    height: 10rem;
    position: absolute;
  }

  &:before {
    transform: rotate(-3deg);
    top: -6rem;
    left: -1rem;
  }

  &__container {
    padding: 10rem 0 1.5rem 0;
  }

  &__imagen {
    margin-top: 3rem;
  }

  &__heading {
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
    line-height: 43px;
    text-transform: uppercase;
    text-align: center;
  }

  &__heading--regular {
    color: #FFF;
    font-size: 4rem;
    font-weight: 300;
    line-height: 43px;
    text-transform: uppercase;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  &__form--heading {
    color: #A5CD00;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 43px;
    text-transform: uppercase;
  }

  &__form--subheading {
    color: #FFF;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 43px;
    margin: 0;
  }

  &__form {
    align-self: center;
    position: relative;
    margin-left: 4rem;

    &::before {
      content: "";
      border-left: 2px solid #FFFFFF;
      width: 0.2rem;
      height: 41.4rem;
      color: #FFFFFF;
      position: absolute;
      top: -1rem;
      left: -4rem;
    }
  }

}

.form {

  &__field input[type="text"], input[type="email"] {
    border-radius: 10px;
    border: 1px solid #FFF;
    background-color: transparent;
    padding: 1rem;
    width: 26.8rem;
    margin: .5rem;
  }

  &__field textarea {
    border-radius: 6px;
    border: 1px solid #FFF;
    background-color: transparent;
    padding: 1rem;
    width: 54.8rem;
    margin: .5rem;
    height: 9.5rem;
  }

  &__field input::placeholder {
    color: #FFFFFF;
    font-weight: 300;
    line-height: 4.3rem;
  }

  &__field textarea::placeholder {
    color: #FFFFFF;
    font-weight: 300;
  }

  &__field--accion {
    border-radius: .3rem;
    border: 2px solid #F27E00;
    background-color: #F27E00;
    width: 17.6rem;
    padding: 1.2rem ;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 400;
    display: block;
    margin-top: 5rem;
    margin-left: .5rem;
  }
}

/*Footer*/

.footer {
  min-height: 62rem;
  background-image: url("/assets/img/footer.png");
  background-size: cover;
  position: relative;
  height: calc(100% + 1rem);

  &__grid {
    padding-top: 15rem;
    display: flex;
    flex-direction: row;
    gap: 3rem;
    margin-bottom: 7rem;
  }
}

.footer-widget {
  &__heading {
    color: #FFFFFF;
    font-size: 2rem;
  }

  &__paragraph {
    color: #FFFFFF;
    font-weight: 300;
    line-height: 2.5rem;
  }

  &__paragraphtitle {
    color: #F27E00;
    margin-right: .5rem;
    font-weight: 400;

  }

  .space {
    margin-right: 4.3rem;
  }

  &:nth-child(1) {
    width: 30%;
  }
  &:nth-child(2) {
    width: 28%;
  }

  &:nth-child(3) {
    width: 20%;
  }

  &:nth-child(4) {
    width: 22%;
  }
  &:nth-child(4) {
    width: 10%;
  }
}

.footer-widget-social {
  display: flex;
  gap: 1rem;
  margin: 3rem 0 3rem 1rem;
}

.footer-widget-contenido {

  &__info {
    color: #FFFFFF;
    font-weight: 300;
  }

  &__bold {
    color: #FFFFFF;
    font-weight: bold;
  }

}

.vineta {
  position: relative;

  &::before {
    content: url("/assets/svg/ellipse.svg");
    width: 1rem;
    position: absolute;
    left: -1rem;
  }
}

.spacing {
  margin-top: 2rem;
}

.bold {
  font-weight: bold;
}

.copyright {
  border-top: 1px solid #D9D9D9;;
  color: #fff;
  font-size: 1.6rem;
  margin: 0 auto;
  max-width: 130rem;
  padding: 2.5rem;
  text-align: center;

  &__bold {
    color: #F27E00;
  }
}
