//@use "base/variables" as v;

.header {
  min-height: 66rem;
  background-image: linear-gradient(276deg, rgba(26, 26, 26, 0.70) 46.03%, rgba(26, 26, 26, 0.00) 109.22%), url("/assets/img/fondo.png");
  background-repeat: no-repeat;
  background-size: 100%, cover;
  padding: 3rem 0;


  &__barra {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

  }

  &__contenido {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: end;
  }

  &__descripcion {
    width: 66rem;
    display: flex;
    flex-direction: column;
    justify-content: end;

  }

  &__heading {
    line-height: 1;
    color: #fff;
    text-transform: uppercase;
  }

  &__subheading {
    text-transform: uppercase;
  }

  &__button {
    width: 17.6rem;
    padding: 1.2rem ;
    text-transform: uppercase;
    border: 2px solid #F27E00;
    background-color: #0000004D;
    color: #fff;
    border-radius: .3rem;
    margin: 5rem auto;
    font-size: 1.5rem;
    font-weight: 500;
    display: block;
  }
}

.navegacion {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;

  &__link {

  }

}

.historia {
  background-image: url("/assets/svg/rectangule.svg");
  min-height: 53.5rem;
  position: relative;
  top: -8rem;

  &__contenedor {
    padding: 15rem 0 0 0;

  }

  &__descripcion {
  }

/*  &::before {
    content: '';
    position: absolute;
    background-color: #1D2025;
    width: 100%;
    height: 20rem;
  }

  &::before {
    top: -5.2rem;
    left: 0;
    transform: rotate(-3deg);
  }*/





}

