<header class="header">

  <div class="header__barra contenedor">
    <div class="header__logo">
      <img src="/assets/img/logotipo.png" alt="Cuack-image" routerLink="/inicio" routerLinkActive="active">
    </div>
    <nav class="navegacion">
      <a routerLink="/inicio" class="navegacion__link" routerLinkActive="active">Inicio</a>
      <a routerLink="/quienes-somos" class="navegacion__link" routerLinkActive="active">Quiénes somos</a>
      <a routerLink="/nuestros-servicios" class="navegacion__link" routerLinkActive="active">Nuestros servicios</a>
      <a class="navegacion__link--dropdown" (click)="toggleMenu($event)"> </a>
      <div class="navegacion__dropdown-menu" [class.active]="isMenuOpen">
        <a routerLink="/diseno-digital" class="navegacion__dropdown-item">Diseño Digital</a>
        <a routerLink="/servicio2" class="navegacion__dropdown-item">Diseño y Desarrollo Web</a>
        <a routerLink="/servicio3" class="navegacion__dropdown-item">Diseño de Marca</a>
        <a routerLink="/servicio4" class="navegacion__dropdown-item">Comunicación Estratégica</a>
      </div>
      <a routerLink="/portafolio" class="navegacion__link" routerLinkActive="active">Portafolio</a>
      <a routerLink="/blog" class="navegacion__link" routerLinkActive="active">Blog</a>
      <a routerLink="/contacto" class="navegacion__link" routerLinkActive="active">Contáctanos</a>
    </nav>
    <!--Inicio menu Mobile-->
    <div class="header__responsive" *ngIf="screenWidth <768">
      <app-nav-mobile></app-nav-mobile>
    </div>
    <!--Fin menu mobile-->
  </div>
  <div class="header__container contenedor">
    <div class="header__contenido">
      <div class="header__picture">
        <img src="/assets/img/pato-portada.png" alt="">
      </div>

      <div class="header__descripcion">
        <h1 class="header__heading">Diseñando un mundo mejor,</h1>
        <h2 class="header__subheading">Un proyecto a la vez</h2>
        <button (click)="navigateTo('/contacto')"  class="header__button" routerLink="/contacto"> Contáctanos</button>
      </div>
    </div>
  </div>
  <div class="header__mobile">
    <h1 class="header__heading header__heading--mobile">Diseñando un mundo mejor, <span class="header__subtitle">Un proyecto a la vez</span></h1>
    <div class="header__picture__mobile">
      <img src="/assets/img/pato-portada-mobile.png" alt="">
    </div>
    <button (click)="navigateTo('/contacto')"  class="header__button header__button--mobile" routerLink="/contacto"> Contáctanos</button>
  </div>
</header>

<section class="historia">
  <div class="historia__contenedor contenedor">
    <div class="historia__title">
      <h3 class="historia__heading">Nuestra Historia: <span class="historia__green">Cuackcolombia</span>, Más que una Agencia de Publicidad.</h3>
    </div>
    <p class="historia__descripcion">En Cuackcolombia, somos una marca colombiana con una pasión inquebrantable por la publicidad y el diseño gráfico. Nacimos de la necesidad de ofrecer a las empresas un distintivo que supere todas las expectativas, sin importar su tamaño o trayectoria.</p>
    <button  (click)="navigateTo('/quienes-somos')" class="historia__button" routerLink="/quienes-somos">Saber más</button>
  </div>
</section>

<section class="servicios">
  <div class="servicios__grid">
    <div class="servicios__contenido">
      <div class="servicios__container">
        <div class="contenido">
          <h2 class="contenido__heading">Nuestros <span class="contenido__subtitle">servicios</span></h2>
          <h3 class="contenido__subheading">Servicios destacados</h3>
        </div>
        <div class="contenido__logo">
          <img src="/assets/img/cockie.png" alt="Cuack avion">
        </div>
      </div>
      <div class="contenido-accion">
        <p class="contenido-accion__descripcion">En Cuackcolombia, ofrecemos una amplia gama de servicios de diseño gráfico y publicidad diseñados para impulsar tu marca y superar tus expectativas. Nuestra pasión por la creatividad y la excelencia nos impulsa a brindar soluciones únicas que se adaptan a tus necesidades comerciales. Estos son algunos de los servicios que ofrecemos:</p>
        <button (click)="navigateTo('/nuestros-servicios')" class="contenido-accion__button" routerLink="/nuestros-servicios">Leer más</button>
      </div>
    </div>
    <div class="servicios__gridimagen">
      <div class="servicios__card">
        <div class="servicios__imagen">
          <img src="/assets/img/diseno-digital-01.png" alt="Diseño-digital">
        </div>
        <div class="servicios__contenidos backOne">
          <p class="servicios__subtitle servicios__subtitle--space">Diseño  Digital</p>
          <a class="servicios__flecha arrowOne"></a>
        </div>
      </div>
      <div class="servicios__card">
        <div class="servicios__imagen">
          <img src="/assets/img/diseno-digital-02.png" alt="Diseño-digital">
        </div>
        <div class="servicios__contenidos backTwo">
          <p class="servicios__subtitle">Diseño y <span class="servicios__spacing"></span> Desarrollo web</p>
          <a class="servicios__flecha arrowTwo"></a>
        </div>
      </div>
      <div class="servicios__card">
        <div class="servicios__imagen">
          <img src="/assets/img/diseno-digital-03.png" alt="Diseño-digital">
        </div>
        <div class="servicios__contenidos backThree">
          <p class="servicios__subtitle">Diseño  <span class="servicios__spacing"></span> de Marca</p>
          <a class="servicios__flecha arrowThree"></a>
        </div>
      </div>
      <div class="servicios__card">
        <div class="servicios__imagen">
          <img src="/assets/img/diseno-digital-04.png" alt="Diseño-digital">
        </div>
        <div class="servicios__contenidos backFour">
          <p class="servicios__subtitle">Comunicación  <span class="servicios__spacing"></span> Estratégica</p>
          <a class="servicios__flecha arrowFour"></a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="rincon">
  <div class="rincon__header contenedor">
    <h2 class="rincon__heading">El Rincón del Diseño y la Publicidad</h2>
    <h4 class="rincon__subheading">CUACKCOLOMBIA</h4>

    <div class="rincon__grid">
      <div class="rincon__marketing">
        <img src="/assets/img/blog-1.png" alt="">
        <a class="rincon__flecha"></a>
      </div>

      <div class="rincon__marketing">
        <img src="/assets/img/blog-2.png" alt="blog-2">
        <a class="rincon__flecha"></a>
      </div>

      <div class="rincon__marketing">
        <img src="/assets/img/blog-3.png" alt="blog-3">
        <a class="rincon__flecha"></a>
      </div>
    </div>

    <div class="rincon__swipper">
      <ngx-slick-carousel [config]="slideConfig"
                          (init)="slickInit($event)"
                          (breakpoint)="breakpoint($event)"
                          (afterChange)="afterChange($event)"
                          (beforeChange)="beforeChange($event)"
                          class="carousel"
      >
        <div ngxSlickItem class="slide">
          <div class="rincon__marketing">
            <img src="/assets/img/blog-1.png" alt="">
            <a class="rincon__flecha"></a>
          </div>
        </div>
        <div ngxSlickItem class="slide">
          <div class="rincon__marketing">
            <img src="/assets/img/blog-2.png" alt="blog-2">
            <a class="rincon__flecha"></a>
          </div>
        </div>
        <div ngxSlickItem class="slide">
          <div class="rincon__marketing">
            <img src="/assets/img/blog-3.png" alt="blog-3">
            <a class="rincon__flecha"></a>
          </div>
        </div>

      </ngx-slick-carousel>

    </div>

    <div class="rincon__accion">
      <button (click)="navigateTo('/blog')" class="rincon__button" routerLink="/blog">Saber más</button>
    </div>

    <h2 class="rincon__backheading">Nuestro Legado de Éxito: <span class="rincon__backsubheading">Clientes que han Confiado en Nosotros</span></h2>

    <div class="rincon__backgrid">
        <img src="/assets/svg/la-carreta-de-connor.svg" alt="la-carreta-de-connor">
        <img src="/assets/svg/fame-club-logo.svg" alt="fame-club-logo">
        <img src="/assets/svg/alex-rodriguez.svg" alt="alex-rodriguez">
        <img src="/assets/svg/pequenos-a-bordo-logo.svg" alt="pequenos-a-bordo-logo">
        <img src="/assets/svg/hosta-la-finquita-logo.svg" alt="hostal-la-finquita-log">
        <img src="/assets/svg/adoyen-logo.svg" alt="adoyen-logo">
    </div>
    <div class="rincon__backgrid--swipper">
      <ngx-slick-carousel [config]="slideConfigTwo"
                          class="carousel"
      >
        <div ngxSlickItem class="slide">
          <img src="/assets/svg/la-carreta-de-connor.svg" alt="la-carreta-de-connor">
        </div>
        <div ngxSlickItem class="slide">
          <img src="/assets/svg/fame-club-logo.svg" alt="fame-club-logo">
        </div>
        <div ngxSlickItem class="slide">
          <img src="/assets/svg/alex-rodriguez.svg" alt="alex-rodriguez">
        </div>
        <div ngxSlickItem class="slide">
          <img src="/assets/svg/pequenos-a-bordo-logo.svg" alt="pequenos-a-bordo-logo">

        </div>
        <div ngxSlickItem class="slide">
          <img src="/assets/svg/hosta-la-finquita-logo.svg" alt="hostal-la-finquita-log">
        </div>
        <div ngxSlickItem class="slide">
          <img src="/assets/svg/adoyen-logo.svg" alt="adoyen-logo">
        </div>
      </ngx-slick-carousel>
    </div>
  </div>
</section>

<section class="contact">
  <div class="contact__container contenedor">
    <h2 class="contact__heading">Conéctate <span class="contact__heading--regular">con Nosotros</span></h2>

    <div class="contact__grid">
      <div class="contact__imagen">
        <img src="/assets/img/contact-us-rana.png" alt="contact-us">
      </div>
      <div class="contact__form">
        <h3 class="contact__form--heading">¡Juntos, haremos realidad tus ideas!</h3>
        <h4 class="contact__form--subheading">Servicio Virtual Atendemos clientes en todo el mundo</h4>
        <form class="form">
          <div class="form__field">
            <input type="text" placeholder="Nombre Completo*">
            <input type="email" placeholder="Correo Electrónico*">
          </div>
          <div class="form__field">
            <input type="text" placeholder="Número de Teléfono*">
            <input type="text" placeholder="Ciudad / País*">
          </div>
          <div class="form__field">
            <textarea placeholder="Mensaje*"></textarea>
          </div>
          <div class="form__field">
            <span>Catpcha</span>
          </div>
          <div class="form__field">
            <button class="form__field--accion">Enviar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<footer class="footer">
  <div class="footer__grid contenedor">
    <div class="footer-widget">
      <img src="/assets/img/logotipo.png" alt="Logo Cuack">

      <div class="footer-widget-social">
        <img src="/assets/svg/logo-facebook.svg" alt="Logo facebook">
        <img src="/assets/svg/logo-instagram.svg" alt="Logo instagram">
        <img src="/assets/svg/logo-x.svg" alt="Logo x">
      </div>

      <div class="footer-widget-contenido">
        <p class="footer-widget-contenido__info">Comunícate con nosotros</p>
        <p class="footer-widget-contenido__info"><span class="footer-widget-contenido__bold">Telefono:</span>  304 3050263</p>
        <p class="footer-widget-contenido__info"><span class="footer-widget-contenido__bold">Email:</span> cuackcolombia&#64;outlook.com</p>
      </div>
    </div>

    <div class="footer-widget">
      <h3 class="footer-widget__heading">Somos Cuackcolombia</h3>
      <p class="footer-widget__paragraph">
        En Cuackcolombia, ofrecemos una amplia gama de servicios de diseño gráfico y publicidad diseñados para impulsar tu marca y superar tus expectativas.
      </p>
      <p class="footer-widget__paragraph bold">Horario:</p>
      <p class="footer-widget__paragraph">
        <span class="footer-widget__paragraphtitle">Lun - Vie</span> 8:00 a.m. - 6:00 p.m.
      </p>
      <p class="footer-widget__paragraph">
        <span class="footer-widget__paragraphtitle space">Sab</span> 8:00 a.m. - 12:00 p.m.
      </p>

    </div>

    <div class="footer-widget">
      <h3 class="footer-widget__heading">Servicios</h3>
        <p class="footer-widget__paragraph vineta">Marketing Digital</p>
        <p class="footer-widget__paragraph vineta">Creación de Marca</p>
        <p class="footer-widget__paragraph vineta">Administración de Redes Sociales</p>
        <p class="footer-widget__paragraph vineta">Publicidad Estratégica</p>
        <p class="footer-widget__paragraph vineta">Ilustración</p>
        <p class="footer-widget__paragraph vineta optional">Diseño 3D</p>
        <p class="footer-widget__paragraph vineta optional">Experiencia de Usuario</p>
    </div>

    <div class="footer-widget spacing">
        <p class="footer-widget__paragraph vineta">Diseño 3D</p>
        <p class="footer-widget__paragraph vineta">Experiencia de Usuario</p>
    </div>

    <div class="footer-widget image">
      <img src="/assets/svg/croquis.svg" class="logo" alt="Croquis Mapa">
    </div>

  </div>

  <p class="copyright">
    <span class="copyright__bold">2024 Cuackcolombia -</span> Agencia de Marketing Digital Barranquilla Colombia
  </p>

</footer>
