.header {
  min-height: 65rem;
  background-image: linear-gradient(277deg, rgba(26, 26, 26, 0.70) 46.33%, rgba(26, 26, 26, 0.00) 109.17%), url("/assets/img/contactenos-bg-header.png");
  background-repeat: no-repeat;
  background-size:  100%, 175rem;
  padding: 3rem 0;
  position: relative;
  overflow: hidden;
  margin-bottom: -6.2rem;

  &::after {
    content: '';
    background-color: #1D2025;
    width: 120%;
    height: 13rem;
    position: absolute;
  }

  &:after {
    transform: rotate(3deg);
    top: 59rem;
    left: -.5rem;
  }


  &__contenido {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  &__barra {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

  }

  &__heading {
    color: #FFF;
    text-align: right;
    font-size: 8rem;
    font-weight: 800;
    line-height: 85px; /* 106.25% */
    text-transform: uppercase;
  }

  &__green {
    display: block;
    color: #A5CD00;
  }

  &__picture {
    height: 50rem;
    width: 86rem;
    object-fit: cover;
    margin: 0 0 0 -8.6rem;
  }
}

/*Navegacion*/
.navegacion {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 2rem;

  &__link {

    &--dropdown {
      cursor: pointer;
      transform: translateX(50%);
      &::before {
        content: '';
        position: absolute;
        top: 0.7rem;
        left: -0.7rem;
        transform: translateX(-50%);
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 6px solid #fff;
      }
    }

    &.active {
      border-bottom: 4px solid #F27E00;
      padding-bottom: 2rem;
      font-weight: 700;
    }

  }

  &__dropdown-menu {
    display: none;
    background-color: #ffffff;
    position: absolute;
    top: 3rem;
    left: 28rem;
    min-height: 15rem;
    border-radius: .5rem;
    width: 40%;
    padding: 2rem;
    transform: translateX(-50%);
    &::before {
      content: '';
      position: absolute;
      top: -.8rem; // Posición ajustable según tu diseño
      left: 50%;
      transform: translateX(-50%);
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid #fff; // Color de la pirámide
    }
    &.active {
      display: block;
    }
  }

  &__dropdown-item { // Corregido el nombre de la clase
    display: block;
    margin-bottom: 1rem; // Espacio entre ítems
    color: #1D2025;
  }
}

/*Conectate*/
.conectate {
  min-height: 25rem;
  background-color: #1D2025;

  &__container {
    position: relative;
  }

  &__home {
    color: #FFFFFF;
    font-size: 1.6rem;
    font-weight: 400;
  }

  &__home__color {
    color: #F27E00;
    font-weight: 600;
  }

  &__paragraph {
    font-size: 1.7rem;
    line-height: 2.5rem;
    color: #FFFFFF;
    font-weight: 300;
    text-align: center;
  }

  &__heading {
    color: #FFFFFF;
    font-size: 4rem;
    font-weight: 600;
    line-height: 4.5rem;
    margin-bottom: 5rem;
    text-align: center;
  }

  &__subtitle {
    color: #A5CD00;
    font-weight: 800;
    margin-bottom: 2rem;
  }
}

/*Section contacto*/

.contact {
  background-image: url("/assets/svg/fondo-green.svg");
  background-repeat: no-repeat;
  background-position: left;
  position: relative;
  overflow: hidden;
  background-size: cover;
  margin-bottom: -8.4rem;

  &::before {
    content: '';
    background-color: #1D2025;
    width: 120%;
    height: 10rem;
    position: absolute;
  }

  &:before {
    transform: rotate(-3deg);
    top: -6rem;
    left: -1rem;
  }

  &__container {
    padding: 10rem 0 9rem 0;
  }

  &__imagen {
    margin-top: 3rem;
  }

  &__heading {
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
    line-height: 43px;
    text-transform: uppercase;
    text-align: center;
  }

  &__heading--regular {
    color: #FFF;
    font-size: 4rem;
    font-weight: 300;
    line-height: 43px;
    text-transform: uppercase;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  &__form--heading {
    color: #A5CD00;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 43px;
    text-transform: uppercase;
  }

  &__form--subheading {
    color: #FFF;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 43px;
    margin: 0;
  }

  &__form {
    align-self: center;
    position: relative;
    margin-left: 4rem;

    &::before {
      content: "";
      border-left: 2px solid #FFFFFF;
      width: 0.2rem;
      height: 41.4rem;
      color: #FFFFFF;
      position: absolute;
      top: -1rem;
      left: -4rem;
    }
  }

}

.form {

  &__field input[type="text"], input[type="email"] {
    border-radius: 10px;
    border: 1px solid #FFF;
    background-color: transparent;
    padding: 1rem;
    width: 26.8rem;
    margin: .5rem;
  }

  &__field textarea {
    border-radius: 6px;
    border: 1px solid #FFF;
    background-color: transparent;
    padding: 1rem;
    width: 54.8rem;
    margin: .5rem;
    height: 9.5rem;
  }

  &__field input::placeholder {
    color: #FFFFFF;
    font-weight: 300;
    line-height: 4.3rem;
  }

  &__field textarea::placeholder {
    color: #FFFFFF;
    font-weight: 300;
  }

  &__field--accion {
    border-radius: .3rem;
    border: 2px solid #F27E00;
    background-color: #F27E00;
    width: 17.6rem;
    padding: 1.2rem ;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 400;
    display: block;
    margin-top: 5rem;
    margin-left: .5rem;
  }
}
