<header class="header">
  <div class="header__barra contenedor">
    <div class="header__logo">
      <img src="/assets/img/logotipo.png" alt="Cuack-image" routerLink="/inicio" routerLinkActive="active">
    </div>
    <nav class="navegacion">
      <a routerLink="/inicio" class="navegacion__link" routerLinkActive="active">Inicio</a>
      <a routerLink="/quienes-somos" class="navegacion__link" routerLinkActive="active">Quiénes somos</a>
      <a routerLink="/nuestros-servicios" class="navegacion__link" routerLinkActive="active">Nuestros servicios</a>
      <a class="navegacion__link--dropdown" (click)="toggleMenu($event)"> </a>
      <div class="navegacion__dropdown-menu" [class.active]="isMenuOpen">
        <a routerLink="/diseno-digital" class="navegacion__dropdown-item">Diseño Digital</a>
        <a routerLink="/servicio2" class="navegacion__dropdown-item">Diseño y Desarrollo Web</a>
        <a routerLink="/servicio3" class="navegacion__dropdown-item">Diseño de Marca</a>
        <a routerLink="/servicio4" class="navegacion__dropdown-item">Comunicación Estratégica</a>
      </div>
      <a routerLink="/portafolio" class="navegacion__link" routerLinkActive="active">Portafolio</a>
      <a routerLink="/blog" class="navegacion__link" routerLinkActive="active">Blog</a>
      <a routerLink="/contacto" class="navegacion__link" routerLinkActive="active">Contáctanos</a>
    </nav>
    <!--Inicio menu Mobile-->
    <div class="header__responsive" *ngIf="screenWidth <768">
      <app-nav-mobile></app-nav-mobile>
    </div>
    <!--Fin menu mobile-->
  </div>
  <div class="header__container contenedor">
    <div class="header__contenido">
      <div class="header__picture">
        <img src="/assets/img/contactenos-header.png" alt="Contactenos">
      </div>
      <div class="header__descripcion">
        <h1 class="header__heading">Conéctate<span class="header__green">Con nuestro equipo</span></h1>
      </div>
    </div>
  </div>
  <div class="header__mobile">
    <h1 class="header__heading header__heading--mobile">Conéctate<span class="header__green">Con nuestro equipo</span></h1>
    <div class="header__picture__mobile">
      <img src="/assets/img/contactenos-header.png" alt="Contactenos">
    </div>

  </div>
</header>

<section class="conectate">
  <div class="conectate__container contenedor">
    <h4 class="conectate__home">Inicio › <span class="conectate__home__color">Contactanos</span></h4>

    <div class="conectate__header">
      <h2 class="conectate__heading">Conéctate con <span class="conectate__subtitle">Nosotros</span></h2>

      <p class="conectate__paragraph">
        Estamos aquí para ayudarte. Por favor, completa el formulario a continuación y te responderemos lo antes posible.
      </p>

    </div>

  </div>

</section>

<section class="contact">
  <div class="contact__container contenedor">

    <div class="contact__grid">
      <div class="contact__imagen">
        <img src="/assets/img/contact-us-rana.png" alt="contact-us">
      </div>
      <div class="contact__form">
        <h3 class="contact__form--heading">¡Juntos, haremos realidad tus ideas!</h3>
        <h4 class="contact__form--subheading">Servicio Virtual Atendemos clientes en todo el mundo</h4>
        <form class="form">
          <div class="form__field">
            <input type="text" placeholder="Nombre Completo*">
            <input type="email" placeholder="Correo Electrónico*">
          </div>
          <div class="form__field">
            <input type="text" placeholder="Número de Teléfono*">
            <input type="text" placeholder="Ciudad / País*">
          </div>
          <div class="form__field">
            <textarea placeholder="Mensaje*"></textarea>
          </div>
          <div class="form__field">
            <span>Catpcha</span>
          </div>
          <div class="form__field">
            <button class="form__field--accion">Enviar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
