<header class="header">
  <div class="header__barra contenedor">
    <div class="header__logo">
      <img src="/assets/img/logotipo.png" alt="Cuack-image">
    </div>
    <nav class="navegacion">
      <a routerLink="/inicio" class="navegacion__link">Inicio</a>
      <a routerLink="/quienes-somos" class="navegacion__link">Quiénes somos</a>
      <a routerLink="/nuestros-servicios" class="navegacion__link">Nuestros servicios</a>
      <a routerLink="/portafolio" class="navegacion__link">Portafolio</a>
      <a routerLink="/blog" class="navegacion__link">Blog</a>
      <a routerLink="/contacto" class="navegacion__link">Contáctanos</a>
    </nav>
  </div>
  <div class="contenedor">
    <div class="header__contenido">
      <div class="header__picture">
        <img src="/assets/img/contactenos-header.png" alt="Contactenos">
      </div>
      <div class="header__descripcion">
        <h1 class="header__heading">Conéctate<span class="header__green">Con nuestro equipo</span></h1>
      </div>
    </div>
  </div>
</header>

<section class="conectate">
  <div class="conectate__container contenedor">
    <h4 class="conectate__home">Inicio › <span class="conectate__home__color">Contactanos</span></h4>

    <div class="conectate__header">
      <h2 class="conectate__heading">Conéctate con <span class="conectate__subtitle">Nosotros</span></h2>

      <p class="conectate__paragraph">
        Estamos aquí para ayudarte. Por favor, completa el formulario a continuación y te responderemos lo antes posible.
      </p>

    </div>

  </div>

</section>

