<header class="header" [style.background-image]="posts.foto">
  <div class="header__barra contenedor">
    <div class="header__logo">
      <img src="/assets/img/logotipo.png" alt="Cuack-image" routerLink="/inicio" routerLinkActive="active">
    </div>
    <nav class="navegacion">
      <a routerLink="/inicio" class="navegacion__link" routerLinkActive="active">Inicio</a>
      <a routerLink="/quienes-somos" class="navegacion__link" routerLinkActive="active">Quiénes somos</a>
      <a routerLink="/nuestros-servicios" class="navegacion__link" routerLinkActive="active">Nuestros servicios</a>
      <a class="navegacion__link--dropdown" (click)="toggleMenu($event)"> </a>
      <div class="navegacion__dropdown-menu" [class.active]="isMenuOpen">
        <a routerLink="/diseno-digital/1" class="navegacion__dropdown-item" routerLinkActive="activeOne">Diseño Digital</a>
        <a routerLink="/diseno-digital/2" class="navegacion__dropdown-item" routerLinkActive="activeTwo">Diseño y Desarrollo Web</a>
        <a routerLink="/diseno-digital/3" class="navegacion__dropdown-item" routerLinkActive="activeThree">Diseño de Marca</a>
        <a routerLink="/diseno-digital/4" class="navegacion__dropdown-item" routerLinkActive="activeFour">Comunicación Estratégica</a>
      </div>
      <a routerLink="/portafolio" class="navegacion__link" routerLinkActive="active">Portafolio</a>
      <a routerLink="/blog" class="navegacion__link" routerLinkActive="active">Blog</a>
      <a routerLink="/contacto" class="navegacion__link" routerLinkActive="active">Contáctanos</a>
    </nav>
    <!--Inicio menu Mobile-->
    <div class="header__responsive" *ngIf="screenWidth <768">
      <app-nav-mobile></app-nav-mobile>
    </div>
    <!--Fin menu mobile-->
  </div>
  <div class="header__container contenedor">
    <div class="header__contenido">
      <div class="header__descripcion">
        <h1 class="header__heading">{{posts.titulo}}<span class="header__green">{{posts.subtitulo}}</span></h1>
      </div>
    </div>
  </div>

</header>

<section class="blog-detail">
  <div class="blog-detail__container contenedor">
    <h4 class="blog-detail__home">Inicio › <span class="blog-detail__home__color">Blog</span></h4>

    <div class="blog-detail__grid">
      <div class="blog-detail__content">
        <ng-container *ngFor="let post of posts.contenido">
          <h4 class="blog-detail__heading">{{post.titulo}}</h4>
          <h4 class="blog-detail__subheading" *ngIf="post.subtitulo">{{post.subtitulo}}</h4>
          <p class="blog-detail__paragraph" *ngIf="post.descripcion">
            {{post.descripcion}}
          </p>
        </ng-container>
        <!--Contenido Extra-->
        <div class="blog-detail__extra">
          <ng-container *ngFor="let post of posts.contenidoExtra">
            <h4 class="blog-detail__title__extra">{{post.titulo}}</h4>

            <ng-container *ngFor="let posted of post.contents">
              <p class="blog-detail__paragraph__extra">
                <span class="blog-detail__paragraph__extra__subtitle">{{posted.subtitulo}}</span>
                {{posted.parrafo}}
              </p>

            </ng-container>
            <hr>
          </ng-container>
            <p class="blog-detail__paragraph__extra__contenido" *ngIf="posts.pieExtra">
               {{posts.pieExtra}}
            </p>
            <p class="blog-detail__paragraph__extra__regular" *ngIf="posts.pieExtraNormal">
               {{posts.pieExtraNormal}}
            </p>
        </div>
        <!--Fin contenido Extra-->

        <!--Contenido digital IA-->
        <div class="blog-detail__digital" *ngIf="posts.contenidoDigital">
          <p class="blog-detail__paragraph__extra">
            {{posts.contenidoDigital.tituloDigital}}
          </p>
          <p class="blog-detail__paragraph__extra">
            {{posts.contenidoDigital.subtituloDigital}}
          </p>
          <p class="blog-detail__paragraph__extra">
            <span class="blog-detail__paragraph__extra__subtitle">
              {{posts.contenidoDigital.pieDigital}}
            </span>
            {{posts.contenidoDigital.extraDigital}}
          </p>

        </div>
        <!--Fin contenido digital-->

        <div class="blog-detail__contents">
          <ng-container *ngFor="let postPrincipal of posts.contenidoPrincipal">
            <div class="blog-detail__contents__image">
              <img src="{{postPrincipal.imagen}}" alt="">
            </div>
            <div class="blog-detail__contents__main">
              <h4 class="blog-detail__title__main">{{postPrincipal.titulo}}</h4>
              <h4 class="blog-detail__subtitle__main">{{postPrincipal.subtitulo}}</h4>
              <ng-container *ngFor="let posted of posts.contenidoPrincipal">
                <div class="blog-detail__contents__posted">
                    <ol class="blog-detail__list__number">
                      <ng-container *ngFor="let post of posted.contents">
                        <li class="blog-detail__paragraph__main"><span class="blog-detail__subtitle__list">{{post.titulo}}</span> {{post.descripcion}}</li>
                      </ng-container>
                    </ol>
                </div>
              </ng-container>
            </div>
          </ng-container>
        </div>

        <!--Estraetico-->
        <div class="blog-detail__contents">
          <ng-container *ngFor="let postPrincipal of posts.contenidoEstrategico">
            <div class="blog-detail__contents__image">
              <img src="{{postPrincipal.imagen}}" alt="">
            </div>
            <div class="blog-detail__contents__main">
              <h4 class="blog-detail__title__main">{{postPrincipal.titulo}}</h4>
              <h4 class="blog-detail__subtitle__main">{{postPrincipal.subtitulo}}</h4>
              <ng-container *ngFor="let posted of posts.contenidoEstrategico">
                <div class="blog-detail__contents__posted">
                    <ol class="blog-detail__list__element">
                      <ng-container *ngFor="let post of posted.contents">
                        <li class="blog-detail__paragraph__main blog-detail__paragraph__main--spacing"><span class="blog-detail__subtitle__list blog-detail__subtitle__list--color">{{post.titulo}}</span> {{post.descripcion}}</li>
                      </ng-container>
                    </ol>
                </div>
              </ng-container>
            </div>
          </ng-container>
        </div>

        <div class="blog-detail__pie__pagina" *ngIf="posts.piePagina">
          {{posts.piePagina}}
        </div>

        <!--Fin Estratetico-->

        <div class="blog-detail__article" *ngIf="posts.contenidoAdicional.length > 0">
          <ng-container *ngFor="let posts of posts.contenidoAdicional">
            <h4 class="blog-detail__subheading">{{posts.titulo}}</h4>
            <p >
              {{posts.subtitulo}}
            </p>
            <ol class="blog-detail__list__element">
              <ng-container *ngFor="let post of posts.contents">
                <li class="blog-detail__paragraph__main"><span class="blog-detail__subtitle__list">{{post.titulo}}</span> {{post.descripcion}}</li>
              </ng-container>
            </ol>
            <p class="blog-detail__paragraph__content">
              {{posts.piePagina}}
            </p>
            <p class="blog-detail__paragraph__content">
              {{posts.subpie}}
            </p>
          </ng-container>
        </div>

        <!--Ventajas-->
        <div class="blog-detail__article" *ngIf="posts.contenidoExtraAdicional.length > 0">
          <ng-container *ngFor="let posts of posts.contenidoExtraAdicional">
            <h4 class="blog-detail__subheading">{{posts.titulo}}</h4>
            <p>
              {{posts.subtitulo}}
            </p>
            <p>
              {{posts.articulo}}
            </p>
            <hr>
            <ul class="">
              <ng-container *ngFor="let post of posts.contents">
                <li class="blog-detail__paragraph__main blog-detail__paragraph__main--spacing">{{post.descripcion}}</li>
                <hr>
              </ng-container>
            </ul>
            <p class="blog-detail__paragraph__content">
              {{posts.piePagina}}
            </p>

            <p class="blog-detail__paragraph__content">
              {{posts.subpie}}
            </p>

            <p class="blog-detail__paragraph__content blog-detail__paragraph__content--bold">
              {{posts.extrapie}}
            </p>
          </ng-container>
        </div>
        <!--Fin Ventajas-->

      </div>
      <div class="blog-detail__posts">
        <h4 class="blog-detail__titles">
          Ultimos <span class="blog-detail__subtitles">Posts</span>
        </h4>

        <div class="blog-detail__card">
          <img src="" alt="">
        </div>

      </div>
    </div>

  </div>

</section>

<section class="destacados">
  <div class="destacados__content contenedor">
    <h2 class="destacados__heading">Descubre Nuestros Servicios Destacados</h2>
    <p class="destacados__description">
      Explora Nuestros Servicios y Descubre Cómo Pueden Hacer Crecer Tu Negocio
    </p>

    <a routerLink="/nuestros-servicios" (click)="navigateTo('/nuestros-servicios')" class="destacados__accion"> Leer más</a>
  </div>
</section>

<app-footer></app-footer>
