<header class="header" [style.background-image]="posts[0].foto">
  <div class="header__barra contenedor">
    <div class="header__logo">
      <img src="/assets/img/logotipo.png" alt="Cuack-image" routerLink="/inicio" routerLinkActive="active">
    </div>
    <nav class="navegacion">
      <a routerLink="/inicio" class="navegacion__link" routerLinkActive="active">Inicio</a>
      <a routerLink="/quienes-somos" class="navegacion__link" routerLinkActive="active">Quiénes somos</a>
      <a routerLink="/nuestros-servicios" class="navegacion__link" routerLinkActive="active">Nuestros servicios</a>
      <a class="navegacion__link--dropdown" (click)="toggleMenu($event)"> </a>
      <div class="navegacion__dropdown-menu" [class.active]="isMenuOpen">
        <a routerLink="/diseno-digital/1" class="navegacion__dropdown-item" routerLinkActive="activeOne">Diseño Digital</a>
        <a routerLink="/diseno-digital/2" class="navegacion__dropdown-item" routerLinkActive="activeTwo">Diseño y Desarrollo Web</a>
        <a routerLink="/diseno-digital/3" class="navegacion__dropdown-item" routerLinkActive="activeThree">Diseño de Marca</a>
        <a routerLink="/diseno-digital/4" class="navegacion__dropdown-item" routerLinkActive="activeFour">Comunicación Estratégica</a>
      </div>
      <a routerLink="/portafolio" class="navegacion__link" routerLinkActive="active">Portafolio</a>
      <a routerLink="/blog" class="navegacion__link" routerLinkActive="active">Blog</a>
      <a routerLink="/contacto" class="navegacion__link" routerLinkActive="active">Contáctanos</a>
    </nav>
    <!--Inicio menu Mobile-->
    <div class="header__responsive" *ngIf="screenWidth <768">
      <app-nav-mobile></app-nav-mobile>
    </div>
    <!--Fin menu mobile-->
  </div>
  <div class="header__container contenedor">
    <div class="header__contenido">
      <div class="header__descripcion">
        <h1 class="header__heading">{{posts[0].titulo}}<span class="header__green">{{posts[0].subtitulo}}</span></h1>
      </div>
    </div>
  </div>

</header>

<section class="blog-detail">
  <div class="blog-detail__container contenedor">
    <h4 class="blog-detail__home">Inicio › <span class="blog-detail__home__color">Blog</span></h4>

    <div class="blog-detail__grid">
      <div class="blog-detail__content">
        <ng-container *ngFor="let post of posts[0].contenido">
          <h4 class="blog-detail__heading">{{post.titulo}}</h4>
          <h4 class="blog-detail__subheading">{{post.subtitulo}}</h4>
          <p class="blog-detail__paragraph">
            {{post.descripcion}}
          </p>
        </ng-container>

        <div class="blog-detail__contents">
          <ng-container *ngFor="let postPrincipal of posts[0].contenidoPrincipal">
            <div class="blog-detail__contents__image">
              <img src="{{postPrincipal.imagen}}" alt="">
            </div>
            <div class="blog-detail__contents__main">
              <h4>{{postPrincipal.titulo}}</h4>
              <h4>{{postPrincipal.subtitulo}}</h4>
              <ng-container *ngFor="let posted of posts[0].contenidoPrincipal">
                <div class="blog-detail__contents__posted">
                  <ng-container *ngFor="let post of posted.contents">
                    <p>
                      <span>{{post.titulo}}</span>
                      {{post.descripcion}}
                    </p>
                  </ng-container>

                </div>
              </ng-container>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="blog-detail__posts">
        <h4 class="blog-detail__titles">
          Ultimos <span class="blog-detail__subtitles">Posts</span>
        </h4>

        <div class="blog-detail__card">
          <img src="" alt="">
        </div>

      </div>
    </div>

  </div>

</section>
