<header class="header">
  <div class="header__barra contenedor">
    <div class="header__logo">
      <img src="/assets/img/logotipo.png" alt="Cuack-image">
    </div>
    <nav class="navegacion">
      <a routerLink="/inicio" class="navegacion__link">Inicio</a>
      <a routerLink="/quienes-somos" class="navegacion__link">Quiénes somos</a>
      <a routerLink="/nuestros-servicios" class="navegacion__link">Nuestros servicios</a>
      <a routerLink="/portafolio" class="navegacion__link">Portafolio</a>
      <a routerLink="/blog" class="navegacion__link">Blog</a>
      <a routerLink="/contacto" class="navegacion__link">Contáctanos</a>
    </nav>
  </div>
  <div class="contenedor">
    <div class="header__contenido">
      <div class="header__picture">
        <img src="/assets/img/header-portafolio.png" alt="Blog header">
      </div>
      <div class="header__descripcion">
        <h1 class="header__heading">Muestra de<span class="header__green">proyectos exitosos</span></h1>
      </div>
    </div>
  </div>
</header>

<section class="trabajos">
  <div class="trabajos__container contenedor">
    <h4 class="trabajos__home">Inicio › <span class="trabajos__home__color">Portafolio</span></h4>

    <div class="trabajos__header">
      <h2 class="trabajos__heading">Explora Nuestro <span class="trabajos__subtitle">Trabajo</span></h2>

      <p class="trabajos__paragraph">
        En nuestro portafolio, te invitamos a descubrir una selección de proyectos excepcionales que representan nuestra pasión y compromiso por la excelencia. Cada proyecto es una historia de desafíos superados, creatividad desatada y resultados sobresalientes. ¡Sumérgete en nuestro mundo creativo y encuentra la inspiración que estás buscando.
      </p>

    </div>

    <div class="trabajos__grid">
      <div class="trabajos__content">
        <h3 class="trabajos__content__title">La carreta de Connor</h3>
        <h4 class="trabajos__content__subtitle">Donde los sabores se fusionan con arte petfriendly.</h4>

        <p class="trabajos__descripcion">
          Un restaurante de comida rápida con un toque especial pet-friendly. Sus ilustraciones y decoración están inspiradas en los mejores amigos del hombre, creando un ambiente único y amigable para los amantes de las mascotas.
        </p>

        <p class="trabajos__brand">
          #Branding
        </p>
        <p class="trabajos__brand">
          #Ilustración.
        </p>

      </div>

      <div class="trabajos__image">
        <img src="/assets/img/portafolio-1.png" alt="Portafolio">
      </div>
    </div>

    <div class="trabajos__grid--fame">
      <div class="trabajos__content--fame">
        <h3 class="trabajos__content__title">FAME CLUB</h3>
        <h4 class="trabajos__content__subtitle">Únete a la exclusividad, usa el estatus.</h4>

        <p class="trabajos__descripcion">
          Una marca de gorras que redefine el estilo y la exclusividad. Cada gorra es una declaración de moda, un símbolo de estatus y distinción para quienes buscan lo extraordinario.
        </p>

        <p class="trabajos__brand">
          #Branding
        </p>
        <p class="trabajos__brand">
          #Packaging.
        </p>
        <p class="trabajos__brand">
          #Ilustración.
        </p>

      </div>

      <div class="trabajos__image">
        <img src="/assets/img/portafolio-2.png" alt="Portafolio">
      </div>
    </div>

    <div class="trabajos__grid">
      <div class="trabajos__content">
        <h3 class="trabajos__content__title">Hostal La Finquita</h3>
        <h4 class="trabajos__content__subtitle">Un refugio ecológico en la belleza de Palomino.</h4>

        <p class="trabajos__descripcion">
          Un hermoso hostal ecológico ubicado en Palomino, La Guajira. Con cabañas  y camas hechas de materiales sostenibles, este refugio ofrece una experiencia única y sostenible en la naturaleza.
        </p>

        <p class="trabajos__brand">
          #Branding
        </p>

      </div>

      <div class="trabajos__image">
        <img src="/assets/img/portafolio-3.png" alt="Portafolio">
      </div>
    </div>

    <div class="trabajos__grid--fame">
      <div class="trabajos__content--fame">
        <h3 class="trabajos__content__title">Roots Beer Factory</h3>
        <h4 class="trabajos__content__subtitle">Descubre la esencia de las culturas Indigenas latinas.</h4>

        <p class="trabajos__descripcion">
          Un bar con una temática cautivadora inspirada en culturas indígenas y centroamericanas. La ambientación te transporta a un viaje a través de la riqueza cultural de la región mientras disfrutas de deliciosas bebidas.
        </p>

        <p class="trabajos__brand">
          #Branding
        </p>
        <p class="trabajos__brand">
          #Packaging.
        </p>
        <p class="trabajos__brand">
          #Ilustración.
        </p>

      </div>

      <div class="trabajos__image">
        <img src="/assets/img/portafolio-4.png" alt="Portafolio">
      </div>
    </div>
  </div>
</section>

<section class="publicidad">
  <div class="publicidad__container contenedor">
    <h2 class="publicidad__heading">Publicidad para <span class="publicidad__color">redes sociales</span></h2>
    <div class="publicidad__grid">
      <img src="/assets/img/publicidad-1.png" alt="Publicidad">
      <img src="/assets/img/publicidad-2.png" alt="Publicidad">
      <img src="/assets/img/publicidad-3.png" alt="Publicidad">
    </div>
  </div>
</section>

<section class="trabajos">
  <div class="trabajos__container contenedor">
    <div class="trabajos__grid--fame">
      <div class="trabajos__content--fame">
        <h3 class="trabajos__content__title">Pequeños a Bordo</h3>
        <h4 class="trabajos__content__subtitle">Ropa infantil que despierta aventuras en cada niño.</h4>

        <p class="trabajos__descripcion">
          Una tienda de ropa infantil que estimula la imaginación de los niños con ilustraciones amigables y llenas de aventuras. Cada prenda cuenta una historia y despierta la creatividad de los más pequeños.
        </p>

        <p class="trabajos__brand">
          #Branding
        </p>
        <p class="trabajos__brand">
          #Ilustración.
        </p>

      </div>

      <div class="trabajos__image">
        <img src="/assets/img/portafolio-5.png" alt="Portafolio">
      </div>
    </div>

    <div class="trabajos__grid">
      <div class="trabajos__content">
        <h3 class="trabajos__content__title">Psicólogo Alex Rodriguez</h3>
        <h4 class="trabajos__content__subtitle">Cuidando tu bienestar mental, paso a paso.</h4>

        <p class="trabajos__descripcion">
          Un profesional dedicado a cuidar de tu bienestar mental. Con un enfoque comprensivo y apoyo paso a paso, te guiará en tu viaje hacia una mente más saludable y equilibrada.
        </p>

        <p class="trabajos__brand">
          #Branding
        </p>
        <p class="trabajos__brand">
          #Publicidad Digital.
        </p>

      </div>

      <div class="trabajos__image">
        <img src="/assets/img/portafolio-6.png" alt="Portafolio">
      </div>
    </div>

  </div>

</section>

<section class="marcas">
  <div class="marcas__content contenedor">
    <h2 class="marcas__heading">Construyendo grandes marcas</h2>
    <h3 class="marcas__subheading">DESDE 2018</h3>

    <p class="marcas__description">
      Confía en Cuackcolombia para llevar tu visión al siguiente nivel. Nuestra creatividad sin límites y enfoque progresivo te llevarán más allá de tus metas. Juntos, crearemos un impacto duradero en el mundo.
    </p>
  </div>
</section>

<app-footer></app-footer>
